.head
  word-break: break-all
//font-weight: 700

.subhead
  font-style: italic

.border_bottom_black
  border-bottom: 3px solid #000

.border-dotted
  line-height: initial
  border: 3px #ddd dotted
  padding: 0.75rem
  margin-bottom: 10px

.input__bottom-border
  width: 100%
  margin-top: 5px !important
  border-bottom: 1px solid #000
  min-height: 18px
  line-height: 20.5px !important

  &:focus
    outline: none

.input__bottom-dotted
  margin-top: 5px !important
  margin-right: 5px !important
  border-bottom: 1px #333 dotted
  min-height: 18px
  line-height: 20.5px !important
  text-align: center
  width: 117px !important

  &:focus
    outline: none

.sub-divider
  padding: 5px

.icons-bar
  position: absolute
  left: 3px

.cv-data__title--textarea
  textarea
    border-bottom: 1px solid lighten(grey, 10%)
    padding: 15px 0px 0px 0px
    margin-top: 0 !important
    outline: 0px solid transparent
    line-height: 20px !important

  .v-input__slot
    background-color: transparent !important
    padding: 0 !important
    min-height: 0 !important

    &:before, &:after
      display: none

    .v-text-field__slot
      margin-right: 0
      margin-top: -15px !important

  .v-text-field__details
    display: none

.v-text-field
  padding-top: 0px !important
  margin-top: 0px !important

.applicant-container
  padding: 20px !important
  position: sticky
  height: 100vh
  left: 0

.bullet__remove
  position: absolute
  right: 50px

.skill-tag
  display: inline-block
  color: #fff !important
  background-color: #6a6a6a !important
  border-radius: .25rem !important

.skill-box
  -webkit-user-select: all
  user-select: all
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  cursor: default
  display: -webkit-inline-box
  display: -ms-inline-flexbox
  display: inline-flex
  line-height: 20px
  outline: none
  padding: 4px 12px
  position: relative
  text-decoration: none
  -webkit-transition-duration: .28s
  transition-duration: .28s
  -webkit-transition-property: opacity, -webkit-box-shadow
  transition-property: opacity, -webkit-box-shadow
  transition-property: box-shadow, opacity
  transition-property: box-shadow, opacity, -webkit-box-shadow
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1)
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
  vertical-align: middle

.bullet-list
  padding: 0 !important
  list-style: none

.skill-tag
  position: relative

.cv-auto
  height: auto !important
  padding-bottom: 6rem
  min-height: 11.69in

.component-edit_all
  padding: 5rem 1rem
  height: auto
  -webkit-box-shadow: none
  box-shadow: none

  .sales-section_title
    height: 100%
    min-height: 100vh
    padding: 2rem 1rem
    margin-top: 50px
    border-radius: inherit

.cv-toolbar-card
  width: fit-content
  left: -8px
  position: absolute
  z-index: 999
  top: -40px
  display: none

  &_body
    border-radius: 5px
    background-color: #303d46 !important
    color: #eee !important

.toolbar_title
  padding: 6px 5px
  //border-right: 1px solid #000
  cursor: pointer
  z-index: 1 !important

  &:hover
    color: #fff

.toolbar_content
  padding: 6px 10px
  border-right: 1px solid #000
  cursor: pointer
  z-index: 1 !important
  color: #eee !important

  &:hover
    color: #fff !important

.toolbar_button
  border-left: 1px solid #fff
  padding: 2px 7px
  margin-left: 13px
  cursor: pointer
  color: #eee !important

  &:hover
    color: #fff !important

.toolbar_removeBtn
  cursor: pointer
  padding: 3px 5px

  &:hover
    background-color: #ff5252

  .v-icon
    color: #fff !important

.toolbar-setting

  &_btn
    cursor: pointer
    padding: 3px 5px
    border-left: 1px solid #000

    &:hover
      color: #fff

  &_content
    padding-left: 1rem

  .v-icon
    color: #fff !important


.v-input--selection-controls
  margin-top: 0px !important

.text-bold
  font-weight: bold !important

.saveBack-btn
  position: fixed
  z-index: 999
  top: 100px
  background-color: #fff
  width: 378px

//Chartered Accountant
.ca-section_title
  background-color: #365f91
  text-align: center
  color: #fff
  text-transform: uppercase
  margin: 5px 3px !important
  font-size: 1.3rem

.ca-section_title-edit
  border-bottom: 2px solid rgba(0, 0, 0, 0.87)
  width: 100%
  text-align: center

.ca-personal-info
  background-color: #fff
  color: #000

.ca-personal-name_section
  font-size: 2rem
  font-weight: 600
  text-align: center
  text-transform: uppercase

.ca-personal-info_social
  list-style: none
  text-align: center
  font-weight: bold

  & li
    margin-left: 3px
    display: inline

  & li::after
    content: "/"
    margin-left: 3px

  & li:last-child:after
    content: ''

.skill-tag_ca
  position: relative
  display: inline-block
  margin: .25rem .5rem .5rem 0
  color: #000 !important
  border-radius: .25rem !important
  height: 16px
  font-weight: bold

.ca-component_bg-color
  background: #d9d9d9

.ca-account_content-title
  margin-bottom: 0 !important
  font-weight: bold
  display: flex

  .editable
    margin-right: 5px

//CVsaleOperation
.caSales-section_title
  border-top: dotted 1px
  border-bottom: 4px solid #000
  font-size: 18px

.ca-sales_content-title
  background-color: #edebdf
  font-weight: bold
  padding: 5px

  &_content
    display: block
    width: 100%
    border-bottom: dotted 1px
    margin-top: 5px

//Ats Compliant
.cvAts-personal_section
  background-color: #d9e2f3
  color: #243b68
  margin-top: 1rem

.cvAts-social
  & li::after
    content: "|"
    margin-left: 3px

.caAts-section_title
  background: #e6e6e6
  text-align: center
  color: #012060
  font-size: 1.3rem


//Sales Executive
.salesExecutive_personal-info
  background-color: #374457

.salesExecutive_personal-name
  width: 70%
  padding-top: 1.5rem
  text-align: justify
  display: inline-block
  min-height: 185px

  &__content
    font-size: 26px
    text-transform: uppercase
    font-weight: bold

.avatar-xl
  height: 7.5rem
  width: 7.5rem

.rounded-circle
  border-radius: 50% !important

.sales-img-thumbnail
  background-color: #4572a2
  border-radius: .25rem
  max-width: 100%
  object-fit: cover

.sales-avatar-profile
  width: 20%
  float: right
  padding-top: 3.5rem

.sales-socialInfo
  background: #2c323e
  padding: 8px 0

.sales-section_title
  display: inline
  color: #4f90d0
  border-bottom: 3px solid #4f90d0
  word-wrap: break-word
  white-space: nowrap
  text-align: center

.sales_border-bottom
  border-bottom: 3px solid #000

.sales_bg-blue
  background-color: #5f8dbb !important

.p-xy-0
  padding: 0 !important

.font-weight-bolder
  font-weight: bolder

//Content Copy
.copyable-icon
  position: absolute
  bottom: 0
  right: 0
  cursor: pointer
//display: none

.copyable:hover
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, .23)

//.copyable-icon
//  display: block


.cv-lists
  margin-top: 1rem
  height: 100vh
  overflow-y: scroll

.cv_list
  border-left: 5px solid #fff

.active-cv_list
  border-left: 5px solid #76838f

.section-date
  display: flex
  float: right

  &_left
    margin-left: auto
    cursor: pointer

.w-7p
  width: 7%

.item-content-downup
  display: flex
  border-right: 1px solid #000
  padding: 3px

  &_move
    cursor: pointer

    .v-icon
      color: #ddd

      &:hover
        color: #fff

.search-result_none
  font-size: 2rem
  text-align: center
  line-height: 40px
  padding-top: 5rem

.editable
  margin-bottom: 0px !important


.qr-section_heading
  display: flex
  white-space: nowrap
  text-align: center !important

.bg-black
  background: #000 !important

.left-0
  left: 0 !important

.executive_heading
  display: inline
  background: #000
  color: #fff
  padding: 3px 3px 3px 1cm
  white-space: nowrap
  font-size: 1.3rem

.left-auto
  left: auto !important

.data-style

  &_left
    left: 27rem !important
    top: 35px !important

.ongoing_btn
  background-color: #ffffff
  padding-left: 1.5rem
  margin-bottom: -15px
  padding-top: 10px

.border-none
  border: none !important

.date-clear_btn
  text-align: center
  padding: 10px
  cursor: pointer
  float: right
  height: 30px

.skill_disc .skill_square .skill_circle:first-child:before
  content: '' !important

.skill_disc:before
  content: "\2022" !important
  font-size: 16px
  position: relative
  top: 2px

.skill_square:before
  content: "\25A0" !important
  position: relative
  top: -2px

.skill_circle:before
  content: '\25CB' !important

.skill_pipe ~ .skill_pipe:before
  content: "\01C0"

.skill_second
  width: 50% !important

.skill_third
  width: 33.33% !important

.skill_fourth
  width: 25% !important

.cv-margin
  margin: -5px -1cm

.skill_border_transparent
  border-bottom: 1px solid transparent

.skill_border_black
  border-bottom: 1px solid #000

.left-none
  left: 0 !important