$font-path: '../assets/fonts/'

@font-face
  font-family: "Quicksand-Bold"
  src: url($font-path +"Quicksand-SemiBold.ttf") format('truetype')

@font-face
  font-family: "Quicksand-Regular"
  src: url($font-path +"Quicksand-Regular.ttf") format('truetype')

@font-face
  font-family: "Ubuntu-Regular"
  src: url($font-path +"Ubuntu-Regular.ttf") format('truetype')


@font-face
  font-family: "Ubuntu-Bold"
  src: url($font-path + "Ubuntu-Medium.ttf") format('truetype')


@font-face
  font-family: "Raleway-Regular"
  src: url($font-path + "Raleway-Regular.ttf") format('truetype')

@font-face
  font-family: "Raleway-Bold"
  src: url($font-path + "Raleway-SemiBold.ttf") format('truetype')

@font-face
  font-family: "Roboto-Regular"
  src: url($font-path + "Roboto-Regular.ttf") format('truetype')

@font-face
  font-family: "Roboto-Bold"
  src: url($font-path + "Roboto-Medium.ttf") format('truetype')

@font-face
  font-family: "TimesNewRoman-Regular"
  src: url($font-path + "TimesNewRomanPSMT.ttf") format('truetype')

@font-face
  font-family: "TimesNewRoman-Bold"
  src: url($font-path + "TimesNewRomanPS-BoldMT.ttf") format('truetype')


@font-face
  font-family: "Arial-Regular"
  src: url($font-path + "ArialMT.ttf") format('truetype')

@font-face
  font-family: "Arial-Bold"
  src: url($font-path + "Arial-BoldMT.ttf") format('truetype')

