//Google fonts
//@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto|Ubuntu&display=swap')

.mt-40
  margin-top: 40px !important

.nav-icon
  font-size: medium
//width: 16px !important
//height: 16px !important
.nav-item
  margin: 2px
  display: flex
  align-items: center
  font-size: medium !important
  color: #ddd !important
  padding-right: 1.5rem

.nav-item > i
  color: #ddd !important
  font-size: large !important
  margin: 0 2px 0 2px

.nav-item:hover
  color: #fff !important

.display_flex
  display: flex !important

.download-layout
  padding: 12px
  border-radius: inherit
  background-color: rgb(120, 159, 207) !important
  min-width: 140px
  margin-right: 1rem

  &__button
    display: flex
    color: #fff0ff !important

  @media screen and (min-width: 768px)
    width: auto
    padding: 12px

  @media screen and (max-width: 600px)
    width: auto !important
    min-width: 40px


.vertical-border
  border-left: 1px solid #3c4d58
  height: 48px

.font-card

  &__layout
    width: 254px

    &-active
      color: #0C9A9A

  &__layout-list
    cursor: pointer
    width: 205px
    margin-left: 8px
    margin-bottom: 8px

.font-title
  &__ubuntu
    font-family: Ubuntu-Regular, sans-serif !important

  &__raleway
    font-family: Raleway-Regular, sans-serif !important

  &__roboto
    font-family: Roboto-Regular, sans-serif !important

  &__quicksand
    font-family: Quicksand-Regular, sans-serif !important

  &__timesnewroman
    font-family: TimesNewRoman-Regular, sans-serif !important

  &__arial
    font-family: Arial-Regular, sans-serif !important

  &__sansserif
    font-family: Sans Serif, sans-serif !important

  &:hover
    color: #1565c0

.ubuntu_bold
  font-family: Ubuntu-Bold, sans-serif !important

.raleway_bold
  font-family: Raleway-Bold, sans-serif !important

.roboto_bold
  font-family: Roboto-Bold, sans-serif !important

.quicksand_bold
  font-family: Quicksand-Bold, sans-serif !important

.timesnewroman_bold
  font-family: TimesNewRoman-Bold, sans-serif !important

.arial_bold
  font-family: Arial-Bold, sans-serif !important

.sansserif_bold
  font-family: Sans Serif, sans-serif !important


.template-card
  margin-top: 15px !important

  &__left
    left: 465px !important

  &__layout
    width: 500px
    height: auto

    &-active
      color: #0C9A9A

  &_title
    font-size: 19px
    color: #fff
    text-align: center
    background: #bababa
    position: absolute
    bottom: 0
    width: 100%
    padding: 5px
    white-space: nowrap

.layout-card
  top: 50px !important

  &__left
    left: 465px !important

.mt-3rem
  margin-top: 3rem !important

.large__font
  font-size: 16.5px !important
  min-height: 16.5px
  line-height: 20.5px !important

.medium__font
  font-size: 15px !important
  min-height: 15px
  line-height: 18.5px !important

.small__font
  font-size: 13.5px !important
  min-height: 13.5px
  line-height: 15.5px !important

.theme-layout_second
  position: relative
  bottom: -15px
  right: -15px

.theme-color_active
  border: 0.1rem solid #fff !important
  box-shadow: 0 0.7rem 1.3rem 0 rgba(0, 0, 0, .23)

.template-thumbnail
  border: 2px solid #24c85c
  border-radius: 5px
  cursor: pointer

.template-thumb-image

  &:hover .template-image_button
    display: block
    margin: 0
    position: absolute
    top: 50%
    left: 15%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

  .template-image_button
    display: none

.resume-user_name
  font-size: 1.5rem !important
  font-weight: inherit

.overflow-hidden
  overflow: hidden

.main-navbar
  position: relative
//Editor Navbar
.editor-navbar
  width: 100%
  position: absolute
  top: 47px
  z-index: 1

.redo
  &:hover
    color: #0C9A9A

.undo
  &:hover
    color: #0C9A9A

.top-negative-50
  top: -50px !important

.top-0
  top: 0

.toolbar_dropdown
  z-index: 99 !important


.skill-card
  top: 55px !important
  width: 28% !important

.skill-theme_position
  position: absolute
  right: 0

.skill-theme_circle
  background: lightblue
  border-radius: 50%
  width: 20px
  height: 20px
  cursor: pointer