@keyframes swing
  0%
    transform: rotate(0deg)

  10%
    transform: rotate(10deg)

  30%
    transform: rotate(0deg)

  40%
    transform: rotate(-10deg)

  50%
    transform: rotate(0deg)

  60%
    transform: rotate(5deg)

  70%
    transform: rotate(0deg)

  80%
    transform: rotate(-5deg)

  100%
    transform: rotate(0deg)

@keyframes sonar
  0%
    transform: scale(0.9)
    opacity: 1

  100%
    transform: scale(2)
    opacity: 0

body
  font-size: 0.9rem

.page-wrapper .sidebar-wrapper
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

.page-wrapper .page-content
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

#show-sidebar, #close-sidebar
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

/*----------------page-wrapper----------------

.page-wrapper
  .theme
    width: 40px
    height: 40px
    display: inline-block
    border-radius: 4px
    margin: 2px

    &.chiller-theme
      background: #1e2229

  &.toggled .sidebar-wrapper
    left: 0px

/*----------------toggeled sidebar----------------

@media screen and (min-width: 768px)
  .page-wrapper.toggled .page-content
    padding-left: 300px

/*----------------show sidebar button----------------

#show-sidebar
  position: fixed
  left: 0
  top: 60px
  border-radius: 0 4px 4px 0px
  width: 35px
  transition-delay: 0.3s
  background: #fff
  padding: 10px 5px 10px 0px
  z-index: 1

.page-wrapper.toggled #show-sidebar
  left: -40px

.chiller-theme .sidebar-wrapper
  background: rgb(63, 63, 63)

/*----------------sidebar-wrapper----------------

.sidebar-wrapper
  width: 400px
  height: 100%
  max-height: 100%
  position: fixed
  top: 95px
  left: -450px
  z-index: 999

  ul
    list-style-type: none
    padding: 0
    margin: 0

  a
    text-decoration: none

/*----------------sidebar-content----------------

.sidebar-content
  max-height: calc(100% - 30px)
  height: calc(100% - 30px)
  overflow-y: auto
  position: relative
  background: #fff

  &.desktop
    overflow-y: hidden

/*--------------------sidebar-brand----------------------

.sidebar-wrapper
  .sidebar-brand
    padding: 10px 20px
    display: flex
    align-items: center
    background-color: #fff

    > a
      text-transform: uppercase
      font-weight: bold
      flex-grow: 1

    #close-sidebar
      cursor: pointer
      font-size: 20px

/*--------------------------page-content-----------------------------

.page-wrapper .page-content
  display: inline-block
  width: 100%
  padding-left: 0px
  //padding-top: 20px
  overflow-x: hidden

/*------scroll bar---------------------

\::-webkit-scrollbar
  width: 5px
  height: 7px

\::-webkit-scrollbar-button
  width: 0px
  height: 0px

\::-webkit-scrollbar-thumb
  //background: #525965
  background: rgba(163, 175, 183, .6)
  border: 0px none #ffffff
  border-radius: 0px

  &:hover, &:active
    background: #525965

\::-webkit-scrollbar-track
  background: transparent
  border: 0px none #ffffff
  border-radius: 50px

  &:hover, &:active
    background: transparent

\::-webkit-scrollbar-corner
  background: transparent

.v-list-item
  cursor: pointer

  &:hover, &:active, &:focus
    color: #76838f
    background-color: #f3f7f9

.user-details_check
  cursor: pointer

  &:hover, &:active, &:focus
    color: #76838f
    background-color: #f3f7f9

.sidebar-subheader
  float: right
  display: inherit
  margin-top: 10px

.bg-background
  background-color: rgb(63, 63, 63)

.sidebar-brand
  position: fixed
  z-index: 999
  width: 395px

.sidebar-footer
  position: absolute
  width: 100%
  bottom: 0
  display: flex
  background-color: #000 !important
  bottom: 45px
  right: 5px

.sidebar-list .v-list-item:hover
    cursor: move
