@page
  size: A4

.CVarea
//padding-left: 5%
//padding-right: 5%
#cv-component
  margin-left: auto
  margin-right: auto
  display: flex
  justify-content: center
  width: fit-content
  flex-direction: column

.content-component
  margin-left: auto
  margin-right: auto
  width: 8.37in
  height: 11.69in

.cv-box
  .container
    padding: 6px !important

.CV
  //width: 8.37in
  //height: 11.69in
  width: 8.3in
  height: 11.7in
  font-size: 10pt
  font-family: Calibri Light
//overflow: hidden
//box-shadow: 0 0.7rem 1.3rem 0 rgba(0, 0, 0, .23)

.basic_name
  font-size: 2.5em

#bcname
  padding-left: 20px

#bcTitle
  font-style: italic

.cvHead
  font-weight: 700

.cvSubhead
  font-style: italic

.bfTop
  padding: 1cm 1cm 0.5cm 1cm
  margin-bottom: 0.5cm

.bsections
  margin: 0 1cm 0.3cm 1cm
  //padding: 5px

  &h3
    border-bottom: 3px solid grey
    margin-bottom: 0.3cm
    font-size: 1.3em

.cv-heading
  position: relative

.cv-heading > .editable
  font-size: 1.3rem

//.cv-heading > .cv-toolbar-card
//  margin: 0 1cm 0.3cm 1cm

.sec
  text-align: justify
  padding: 5px 1cm 5px 1cm
  margin-bottom: 10px

.section-item
  //padding: 5px
  box-sizing: border-box
  border: 3px solid transparent
  position: relative

.active-section-item
  border: 3px #eee dotted
  //background-color: #fdfdfd
  box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, .23)


.sepaper
  height: 0.3cm

.topborder
  height: 1.5cm

.cv-headingContent-font
  display: flex
  float: right
  margin-right: 20px

  .cv-heading-font
    margin-right: 15px
    height: 20px
    width: 20px
    cursor: pointer

  .cv-content-font
    height: 20px
    width: 20px
    cursor: pointer

.layout
  display: inherit

@media print
  .CVarea
    background-color: white
    //padding-left: 5%
    //padding-right: 5%
    margin: 0
  .container
    padding: 0
//
.editable:not(.medium-editor-placeholder):empty:before
  content: attr(placeholder)
  //color: grey
  font-style: normal

.editable p
  display: inline-block
  height: fit-content
  word-break: break-word
//[contentEditable=true]:empty:before
//  content: attr(placeholder)
//  //color: grey
//  font-style: normal
//  cursor: auto
//  box-sizing: border-box
//  -moz-box-sizing: border-box
//  -webkit-box-sizing: border-box
//  border-bottom: 1px solid transparent
//[contenteditable]:focus
//  border-bottom: 1px solid #dddddd

.float-btn_right
  position: fixed
  bottom: 1rem
  right: 1rem

.content_cv-list
  background-color: #CCCACA

.padding-6
  padding: 6px !important

.square-image
  border: 2px solid floralwhite
  width: 7.5rem
  height: 7.5rem
  border-radius: 3%
  object-fit: cover

.avatar-circular
  border-radius: 50% !important

//Executive Template
#exName
  font-weight: 700
  font-size: 30px
  font-family: "Segoe UI Black"


#exTitle
  font-weight: 300


.exHead
  font-weight: 700
  background-color: #fff !important
  color: #000 !important


.exsubhead
  font-style: italic


.exsections
  border-top: 5px solid lightgray
  margin: 0 0 1cm 0
  font-family: "Segoe UI"


.laytab
  width: 100%
  border-collapse: collapse
  table-layout: auto
  background: url("https://firebasestorage.googleapis.com/v0/b/pappalpha-adef7.appspot.com/o/assets%2FPD-11001Hex.png?alt=media&token=4e01a0f4-edf3-4027-98f1-0dcadbfb848d")
  background-position-x: 110%
  background-position-y: 85%
  background-size: 35%
  background-repeat: no-repeat

.sepaper
  height: 0.3cm


.extopborder
  page-break-before: always
  height: 1cm
  background: linear-gradient(to top, black 50%, lightgray 50%)
  margin-bottom: 1px

.font-card
  margin-top: 15px !important

.basic_cv_name
  flex: 0 0 50%
  word-break: break-all

.basic_cv_social
  flex: 0 1 50%
  text-align: right

@font-face
  font-family: 'Quicksand'
  font-style: normal
  font-weight: 700
  src: url('../assets/fonts/Quicksand-Bold.ttf')


