@import "font"
@import "navbar"
@import "component"
@import "template"
@import "sidebar"

html
  scroll-behavior: smooth

.text-black
  color: #000000 !important

.text-white
  color: #ffffff !important

.text-danger
  color: #E53935

.p-xy-2
  padding: 0.75rem

.mt-n-30
  margin-top: -30px !important

.mt-n-20
  margin-top: -20px !important

.mb-n-15
  margin-bottom: -15px !important

.pointer
  cursor: pointer

.remove-skills:hover
  color: firebrick

.new-skills
  position: absolute
  bottom: 33px
  background-color: #303d46
  color: white
  padding: 2px
  border-radius: 10%

.alert-position
  position: fixed
  top: 50px
  right: 0
  z-index: 1

//contenteditable
[contenteditable]
  outline: 0px solid transparent
//cursor: auto

[contenteditable="true"].single-line
  white-space: nowrap
  overflow: hidden

[contenteditable="true"].single-line br
  display: none

[contenteditable="true"].single-line *
  display: inline
  white-space: nowrap

.cv-title-holder:empty:before
  content: attr(placeholder)
  color: #CCCACA


//Section title
.edit-section-title
  border-bottom: 2px solid rgba(0, 0, 0, .87)
  width: 50%
  text-align: left

.resume-section_cv
  display: flex
  margin-top: 5rem
  margin-bottom: 8px
  width: 8.37in
  margin-right: auto !important
  margin-left: auto !important
  //cursor: default

  &-more
    color: white
    align-items: center
    vertical-align: middle
    margin-left: auto
    display: inline-block
    justify-content: flex-end
    padding-top: 8px

  &-card
    top: 180px !important

.cv-title-holder
  display: inline-block
  color: #fff
  background-color: transparent
  font-size: 1.5rem !important
  min-width: 500px
  max-width: 500px

  &__input-title
    border-bottom: 2px solid #1565c0

  &:hover
    color: #eee

.width-4
  width: 4rem !important

.skill-btn
  float: left
  color: #fff
  padding: 8px 13px 8px 8px
  border-radius: 2px
  background-color: gray
  margin: 0 5px 5px 0

.pb-4r
  padding-bottom: 4rem !important

.textUppercase
  text-transform: uppercase

.textCapitalize
  text-transform: capitalize

.listDisk
  list-style-type: disc

.display-none
  display: none

.display-block
  display: block

.fixed
  position: fixed
  top: 0
  left: 0
  width: 100%

.top-auto
  top: auto

.medium-editor-placeholder:after
  font-style: normal !important

.v-toolbar
  flex: initial

.display-flex
  display: flex

.presentation-loader
  text-align: center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

a
  text-decoration: none

.cut-text
  text-overflow: ellipsis
  overflow: hidden
  width: 200px
  //height: 1.2em
  white-space: nowrap

.alert-delete
  position: fixed
  bottom: 1rem
  right: 1rem
  width: 25%