<template>
    <v-card class="align-self-start" min-height="500">
        <div class="my-5 pt-3">
            <v-card-title>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <router-link :to="{name:'clients'}">
                            <v-btn
                                    fab
                                    small
                                    color="indigo"
                                    dark
                                    v-on="on"
                                    class="mx-2"
                            >
                                <v-icon>mdi-chevron-left</v-icon>
                            </v-btn>
                        </router-link>
                    </template>
                    <span>Back..</span>
                </v-tooltip>
                <v-spacer></v-spacer>
                <span>
                                    {{applicant.id ? 'Update '+applicant.FName +' ' +applicant.MName+' '+applicant.LName:'New Applicant'}}
                                </span>
                <v-spacer></v-spacer>
            </v-card-title>
            <v-divider></v-divider>
            <v-card>
                <ApplicantForm v-if="applicant"
                               :isCvMode="false"
                               :clientId="clientId"
                               :showForm="true"
                               :selectedApplicant="applicant">
                </ApplicantForm>
            </v-card>
        </div>
    </v-card>
</template>

<script>
    import CVFnav from "../components/CVFnav";
    import ApplicantForm from "../components/ApplicantForm";

    export default {
        name: "ApplicantUpdate",
        data() {
            return {
                applicant: {},
                clientId: this.$route.params.clientId
            }
        },
        components: {CVFnav, ApplicantForm},
        filters: {
            humanDateTime: function (value) {
                return moment(value).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        methods: {
            getCurrentApplicant() {
                this.$store.dispatch('fetchCurrentClient', {clientId: this.clientId}).then(response => {
                    this.$store.commit('applicant', response.data());
                    this.applicant = response.data();
                });
            },
        },
        mounted() {
            this.getCurrentApplicant();
        }
    }
</script>