<template>
    <v-card class="align-self-start" min-height="500">
        <div class="my-5 pt-3">
            <v-card-title>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <router-link :to="{name:'clients'}">
                            <v-btn
                                    fab
                                    small
                                    color="indigo"
                                    dark
                                    v-on="on"
                                    class="mx-2"
                            >
                                <v-icon>mdi-chevron-left</v-icon>
                            </v-btn>
                        </router-link>
                    </template>
                    <span>Back..</span>
                </v-tooltip>
                <v-spacer></v-spacer>

                <span>New Applicant</span>
                <v-spacer></v-spacer>
            </v-card-title>
            <v-divider></v-divider>
            <v-card>
                <ApplicantForm
                        :isCvMode="false"
                        :showForm="true"
                        :selectedApplicant="applicant">
                </ApplicantForm>
            </v-card>
        </div>
    </v-card>
</template>

<script>
    import CVFnav from "../components/CVFnav";
    import ApplicantForm from "../components/ApplicantForm";

    export default {
        name: "Applicant",
        data() {
            return {
                applicant: {
                    id: "",
                    dispic: "",
                    FName: "",
                    MName: "",
                    LName: "",
                    email: "",
                    phnum: "",
                    addr: "",
                    LI: "",
                    IG: "",
                    FB: "",
                    www: "",
                    designation: ""
                },
                rules: {
                    required: value => !!value || 'Required.',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                },
            }
        },
        components: {CVFnav, ApplicantForm},
    }
</script>
