<template>
    <v-card
            class="align-self-start px-6"
            min-height="500"
    >
        <div class="my-5 pt-3">
            <v-card-title>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn
                                fab
                                small
                                color="indigo"
                                dark
                                v-on="on"
                                class="mx-2"
                                @click.prevent="backTo"
                        >
                            <v-icon>mdi-chevron-left</v-icon>
                        </v-btn>
                    </template>
                    <span>Back..</span>
                </v-tooltip>
                <v-spacer></v-spacer>
                <span v-if="applicant.id">
                                    {{applicant.FName}} {{applicant.MName}} {{applicant.LName}}'s
                                Documents
                                </span>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn
                                fab
                                small
                                color="indigo"
                                dark
                                v-on="on"
                                class="mx-2"
                                @click.prevent="showResumeAdd"
                        >
                            <v-icon>mdi-file-plus-outline</v-icon>
                        </v-btn>
                    </template>
                    <span>Add a CV</span>
                </v-tooltip>
            </v-card-title>
            <v-divider></v-divider>
            <v-card flat>
                <v-list v-if="!cvs.length && !cvResult"
                        style="position: absolute;width: 90%; z-index:200;top:20px;">
                    <v-list-item>
                        <template>
                            <content-loader style="position: absolute">
                                <rect x="0" y="40" rx="5" ry="5" width="100" height="10"/>
                                <rect x="0" y="56" rx="5" ry="5" width="250" height="10"/>
                            </content-loader>
                        </template>
                    </v-list-item>
                    <v-list-item class="mt-6">
                        <template>
                            <content-loader style="position: absolute">
                                <rect x="0" y="40" rx="5" ry="5" width="100" height="10"/>
                                <rect x="0" y="56" rx="5" ry="5" width="250" height="10"/>
                            </content-loader>
                        </template>
                    </v-list-item>
                    <v-list-item class="mt-1">
                        <template>
                            <content-loader style="position: absolute">
                                <rect x="0" y="40" rx="5" ry="5" width="100" height="10"/>
                                <rect x="0" y="56" rx="5" ry="5" width="250" height="10"/>
                            </content-loader>
                        </template>
                    </v-list-item>
                    <v-list-item class="mt-2">
                        <template>
                            <content-loader style="position: absolute">
                                <rect x="0" y="40" rx="5" ry="5" width="100" height="10"/>
                                <rect x="0" y="56" rx="5" ry="5" width="250" height="10"/>
                            </content-loader>
                        </template>
                    </v-list-item>
                </v-list>
                <div v-if="!cvs.length && cvResult && !showAddCv" class="text-center">
                    <p class="mt-2">No documents available yet.</p>
                    <svg id="f20e0c25-d928-42cc-98d1-13cc230663ea" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="200"
                         height="200" viewBox="0 0 820.16 780.81">
                        <defs>
                            <linearGradient id="07332201-7176-49c2-9908-6dc4a39c4716" x1="539.63"
                                            y1="734.6" x2="539.63"
                                            y2="151.19" gradientTransform="translate(-3.62 1.57)"
                                            gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="gray" stop-opacity="0.25"/>
                                <stop offset="0.54" stop-color="gray" stop-opacity="0.12"/>
                                <stop offset="1" stop-color="gray" stop-opacity="0.1"/>
                            </linearGradient>
                            <linearGradient id="0ee1ab3f-7ba2-4205-9d4a-9606ad702253" x1="540.17"
                                            y1="180.2" x2="540.17"
                                            y2="130.75" gradientTransform="translate(-63.92 7.85)"
                                            xlink:href="#07332201-7176-49c2-9908-6dc4a39c4716"/>
                            <linearGradient id="abca9755-bed1-4a97-b027-7f02ee3ffa09" x1="540.17"
                                            y1="140.86"
                                            x2="540.17" y2="82.43"
                                            gradientTransform="translate(-84.51 124.6) rotate(-12.11)"
                                            xlink:href="#07332201-7176-49c2-9908-6dc4a39c4716"/>
                            <linearGradient id="2632d424-e666-4ee4-9508-a494957e14ab" x1="476.4"
                                            y1="710.53" x2="476.4"
                                            y2="127.12" gradientTransform="matrix(1, 0, 0, 1, 0, 0)"
                                            xlink:href="#07332201-7176-49c2-9908-6dc4a39c4716"/>
                            <linearGradient id="97571ef7-1c83-4e06-b701-c2e47e77dca3" x1="476.94"
                                            y1="156.13"
                                            x2="476.94" y2="106.68"
                                            gradientTransform="matrix(1, 0, 0, 1, 0, 0)"
                                            xlink:href="#07332201-7176-49c2-9908-6dc4a39c4716"/>
                            <linearGradient id="7d32e13e-a0c7-49c4-af0e-066a2f8cb76e" x1="666.86"
                                            y1="176.39"
                                            x2="666.86" y2="117.95"
                                            gradientTransform="matrix(1, 0, 0, 1, 0, 0)"
                                            xlink:href="#07332201-7176-49c2-9908-6dc4a39c4716"/>
                        </defs>
                        <title>no data</title>
                        <rect x="317.5" y="142.55" width="437.02" height="603.82"
                              transform="translate(-271.22 62.72) rotate(-12.11)" fill="#e0e0e0"/>
                        <g opacity="0.5">
                            <rect x="324.89" y="152.76" width="422.25" height="583.41"
                                  transform="translate(-271.22 62.72) rotate(-12.11)"
                                  fill="url(#07332201-7176-49c2-9908-6dc4a39c4716)"/>
                        </g>
                        <rect x="329.81" y="157.1" width="411.5" height="570.52"
                              transform="translate(-270.79 62.58) rotate(-12.11)" fill="#fafafa"/>
                        <rect x="374.18" y="138.6" width="204.14" height="49.45"
                              transform="translate(-213.58 43.93) rotate(-12.11)"
                              fill="url(#0ee1ab3f-7ba2-4205-9d4a-9606ad702253)"/>
                        <path d="M460.93,91.9c-15.41,3.31-25.16,18.78-21.77,34.55s18.62,25.89,34,22.58,25.16-18.78,21.77-34.55S476.34,88.59,460.93,91.9ZM470.6,137A16.86,16.86,0,1,1,483.16,117,16.66,16.66,0,0,1,470.6,137Z"
                              transform="translate(-189.92 -59.59)"
                              fill="url(#abca9755-bed1-4a97-b027-7f02ee3ffa09)"/>
                        <rect x="375.66" y="136.55" width="199.84" height="47.27"
                              transform="translate(-212.94 43.72) rotate(-12.11)" fill="#6c63ff"/>
                        <path d="M460.93,91.9a27.93,27.93,0,1,0,33.17,21.45A27.93,27.93,0,0,0,460.93,91.9ZM470.17,135a16.12,16.12,0,1,1,12.38-19.14A16.12,16.12,0,0,1,470.17,135Z"
                              transform="translate(-189.92 -59.59)" fill="#6c63ff"/>
                        <rect x="257.89" y="116.91" width="437.02" height="603.82" fill="#e0e0e0"/>
                        <g opacity="0.5">
                            <rect x="265.28" y="127.12" width="422.25" height="583.41"
                                  fill="url(#2632d424-e666-4ee4-9508-a494957e14ab)"/>
                        </g>
                        <rect x="270.65" y="131.42" width="411.5" height="570.52" fill="#fff"/>
                        <rect x="374.87" y="106.68" width="204.14" height="49.45"
                              fill="url(#97571ef7-1c83-4e06-b701-c2e47e77dca3)"/>
                        <path d="M666.86,118c-15.76,0-28.54,13.08-28.54,29.22s12.78,29.22,28.54,29.22,28.54-13.08,28.54-29.22S682.62,118,666.86,118Zm0,46.08a16.86,16.86,0,1,1,16.46-16.86A16.66,16.66,0,0,1,666.86,164Z"
                              transform="translate(-189.92 -59.59)"
                              fill="url(#7d32e13e-a0c7-49c4-af0e-066a2f8cb76e)"/>
                        <rect x="377.02" y="104.56" width="199.84" height="47.27" fill="#6c63ff"/>
                        <path d="M666.86,118a27.93,27.93,0,1,0,27.93,27.93A27.93,27.93,0,0,0,666.86,118Zm0,44.05A16.12,16.12,0,1,1,683,145.89,16.12,16.12,0,0,1,666.86,162Z"
                              transform="translate(-189.92 -59.59)" fill="#6c63ff"/>
                        <g opacity="0.5">
                            <rect x="15.27" y="737.05" width="3.76" height="21.33" fill="#47e6b1"/>
                            <rect x="205.19" y="796.65" width="3.76" height="21.33"
                                  transform="translate(824.47 540.65) rotate(90)" fill="#47e6b1"/>
                        </g>
                        <g opacity="0.5">
                            <rect x="451.49" width="3.76" height="21.33" fill="#47e6b1"/>
                            <rect x="641.4" y="59.59" width="3.76" height="21.33"
                                  transform="translate(523.63 -632.62) rotate(90)" fill="#47e6b1"/>
                        </g>
                        <path d="M961,832.15a4.61,4.61,0,0,1-2.57-5.57,2.22,2.22,0,0,0,.1-.51h0a2.31,2.31,0,0,0-4.15-1.53h0a2.22,2.22,0,0,0-.26.45,4.61,4.61,0,0,1-5.57,2.57,2.22,2.22,0,0,0-.51-.1h0a2.31,2.31,0,0,0-1.53,4.15h0a2.22,2.22,0,0,0,.45.26,4.61,4.61,0,0,1,2.57,5.57,2.22,2.22,0,0,0-.1.51h0a2.31,2.31,0,0,0,4.15,1.53h0a2.22,2.22,0,0,0,.26-.45,4.61,4.61,0,0,1,5.57-2.57,2.22,2.22,0,0,0,.51.1h0a2.31,2.31,0,0,0,1.53-4.15h0A2.22,2.22,0,0,0,961,832.15Z"
                              transform="translate(-189.92 -59.59)" fill="#4d8af0" opacity="0.5"/>
                        <path d="M326.59,627.09a4.61,4.61,0,0,1-2.57-5.57,2.22,2.22,0,0,0,.1-.51h0a2.31,2.31,0,0,0-4.15-1.53h0a2.22,2.22,0,0,0-.26.45,4.61,4.61,0,0,1-5.57,2.57,2.22,2.22,0,0,0-.51-.1h0a2.31,2.31,0,0,0-1.53,4.15h0a2.22,2.22,0,0,0,.45.26,4.61,4.61,0,0,1,2.57,5.57,2.22,2.22,0,0,0-.1.51h0a2.31,2.31,0,0,0,4.15,1.53h0a2.22,2.22,0,0,0,.26-.45A4.61,4.61,0,0,1,325,631.4a2.22,2.22,0,0,0,.51.1h0a2.31,2.31,0,0,0,1.53-4.15h0A2.22,2.22,0,0,0,326.59,627.09Z"
                              transform="translate(-189.92 -59.59)" fill="#fdd835" opacity="0.5"/>
                        <path d="M855,127.77a4.61,4.61,0,0,1-2.57-5.57,2.22,2.22,0,0,0,.1-.51h0a2.31,2.31,0,0,0-4.15-1.53h0a2.22,2.22,0,0,0-.26.45,4.61,4.61,0,0,1-5.57,2.57,2.22,2.22,0,0,0-.51-.1h0a2.31,2.31,0,0,0-1.53,4.15h0a2.22,2.22,0,0,0,.45.26,4.61,4.61,0,0,1,2.57,5.57,2.22,2.22,0,0,0-.1.51h0a2.31,2.31,0,0,0,4.15,1.53h0a2.22,2.22,0,0,0,.26-.45,4.61,4.61,0,0,1,5.57-2.57,2.22,2.22,0,0,0,.51.1h0a2.31,2.31,0,0,0,1.53-4.15h0A2.22,2.22,0,0,0,855,127.77Z"
                              transform="translate(-189.92 -59.59)" fill="#fdd835" opacity="0.5"/>
                        <circle cx="812.64" cy="314.47" r="7.53" fill="#f55f44" opacity="0.5"/>
                        <circle cx="230.73" cy="746.65" r="7.53" fill="#f55f44" opacity="0.5"/>
                        <circle cx="735.31" cy="477.23" r="7.53" fill="#f55f44" opacity="0.5"/>
                        <circle cx="87.14" cy="96.35" r="7.53" fill="#4d8af0" opacity="0.5"/>
                        <circle cx="7.53" cy="301.76" r="7.53" fill="#47e6b1" opacity="0.5"/>
                    </svg>
                    <!--                                    <v-divider></v-divider>-->
                    <br>

                    <v-btn large color="rgb(120, 159, 207)" class="white--text mt-3 col-6" depressed
                           @click.prevent="showResumeAdd">
                        <v-icon color="white">mdi-text-box-plus-outline</v-icon>
                        <span class="ml-1">Add new CV</span>
                    </v-btn>
                </div>
                <v-list v-if="!showAddCv">
                    <v-list-item
                            v-for="(cv,index) in cvs"
                            :key="cv.id"
                    >
                        <v-list-item-content class="pointer"
                                             @click.prevent="$router.push({name: 'cvemobile',params: { clid: clientId, cvid: cv.id }})">
                            <v-list-item-title v-text="cv.cvTitle"></v-list-item-title>
                            <v-list-item-subtitle>Last Modified at: {{cv.updated_at | humanDateTime}}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                        <!--                                        <v-list-item-icon>-->
                        <!--                                            <v-btn-->
                        <!--                                                    fab-->
                        <!--                                                    x-small-->
                        <!--                                                    color="indigo"-->
                        <!--                                                    dark-->
                        <!--                                                    class="mx-2"-->
                        <!--                                                    @click.prevent="$router.push({name: 'cvemobile',params: { clid: clientId, cvid: cv.id }})"-->
                        <!--                                            >-->
                        <!--                                                <v-icon>mdi-fountain-pen-tip</v-icon>-->
                        <!--                                            </v-btn>-->
                        <!--                                        </v-list-item-icon>-->
                        <v-list-item-icon @click.prevent="cvRemoveConfirmWarning(index)">
                            <v-btn
                                    fab
                                    x-small
                                    color="red"
                                    dark
                                    class="mx-2"
                            >
                                <v-icon>mdi-trash-can-outline</v-icon>
                            </v-btn>
                        </v-list-item-icon>
                    </v-list-item>
                    <!--  Dialog Box from Remove Confirm Start -->
                    <v-dialog
                            v-model="cvRemoveWarning"
                            max-width="450"
                            class="warning"
                    >
                        <v-card>
                            <v-card-title>
                                Delete from your cv lists?
                            </v-card-title>
                            <v-card-text>
                                <small>Type <span class="red--text">Delete</span>
                                    below</small>
                                <v-text-field
                                        single-line
                                        outlined
                                        :autofocus="true"
                                        v-model="cvRemoveText"
                                ></v-text-field>
                            </v-card-text>
                            <v-card-actions class="mt-n-30">
                                <v-spacer></v-spacer>
                                <v-btn large @click.prevent=""
                                       rounded
                                       color="grey lighten-2"
                                       class="p-xy-2">CANCEL
                                </v-btn>
                                <v-btn large
                                       :disabled="cvRemoveText != 'Delete' "
                                       @click.prevent="removeCv()"
                                       rounded
                                       color="red" class="p-xy-2 text-white">
                                    DELETE
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!--  Dialog Box from Remove Confirm End -->
                </v-list>
                <v-card flat v-if="showAddCv">
                    <v-card-text>
                        <p class="ml-3">Add New CV</p>
                        <v-col cols="12" sm="12" md="12" ref="form">
                            <v-text-field
                                    label="Enter resume name"
                                    id="resumeName"
                                    v-model="resume_name"
                                    :rules="[rules.required]"
                                    outlined
                                    @input="showError = false"
                            ></v-text-field>
                            <span class="error--text"
                                  v-if="showError">Resume title should not be empty !</span>
                        </v-col>
                        <v-tabs background-color="transparent" color="basil" grow>
                            <v-tab>Resume Template</v-tab>
                            <v-tab>Duplicate Existing</v-tab>
                            <v-tab-item>
                                <div class="mt-2">
                                    <v-row>
                                        <v-col
                                                v-for="(template,index) in templateImages"
                                                :key="index"
                                                @click.prevent="addNewTemplateCv(template.id)"
                                                class="d-flex child-flex pointer"
                                                cols="4"
                                        >
                                            <v-img
                                                    :src="template.image"
                                                    :lazy-src="template.image"
                                                    aspect-ratio="1"
                                                    class="template-thumb-image"
                                            >
                                                <v-btn rounded color="#24c85c" dark
                                                       class="template-image_button">Choose
                                                </v-btn>
                                                <span class="template-card_title">{{template.title}}</span>
                                            </v-img>
                                        </v-col>
                                    </v-row>
                                </div>
                            </v-tab-item>
                            <v-tab-item>
                                <div class="mt-2">
                                    <v-autocomplete
                                            v-model="duplicateSearch"
                                            :item-text="item => item.FName + item.MName + item.LName+ item.designation"
                                            item-value="id"
                                            :items="clients"
                                            dense
                                            outlined
                                            label="Applicants"
                                            @change="getDuplicateCvList"
                                    >
                                        <template slot="selection" slot-scope="data">
                                            {{ data.item.FName + ' ' + data.item.MName + ' ' +
                                            data.item.LName }}
                                        </template>
                                        <template v-slot:item="data">
                                            <v-list-item-content>
                                                <v-list-item-title
                                                        v-html="data.item.FName + ' ' + data.item.MName + ' ' + data.item.LName "></v-list-item-title>
                                                <v-list-item-subtitle
                                                        v-html="data.item.designation"></v-list-item-subtitle>
                                            </v-list-item-content>
                                        </template>
                                    </v-autocomplete>
                                    <p v-if="!duplicateCvList.length" class="mt-2">No documents
                                        available.</p>
                                    <v-list v-if="duplicateCvList.length">
                                        <v-list-item
                                                v-for="(cv,index) in duplicateCvList"
                                                :key="cv.id"
                                        >
                                            <v-list-item-content>
                                                <v-list-item-title
                                                        v-text="cv.cvTitle"></v-list-item-title>
                                                <v-list-item-subtitle>Last Modified at: {{cv.updated_at
                                                    |
                                                    humanDateTime}}
                                                </v-list-item-subtitle>
                                            </v-list-item-content>
                                            <v-list-item-icon>
                                                <v-btn
                                                        fab
                                                        x-small
                                                        color="indigo"
                                                        dark
                                                        class="mx-2"
                                                        @click.prevent="previewDuplicateCv(cv.id,'duplicate')"
                                                >
                                                    <v-icon>mdi-content-duplicate</v-icon>
                                                </v-btn>
                                            </v-list-item-icon>
                                            <v-list-item-icon>
                                                <v-btn
                                                        fab
                                                        x-small
                                                        color="indigo"
                                                        dark
                                                        class="mx-2"
                                                        @click.prevent="previewDuplicateCv(cv.id,'preview')"
                                                >
                                                    <v-icon>mdi-eye-outline</v-icon>
                                                </v-btn>
                                            </v-list-item-icon>
                                        </v-list-item>
                                    </v-list>
                                </div>
                            </v-tab-item>
                        </v-tabs>
                    </v-card-text>
                    <v-dialog v-model="showPreviewContent" max-width="fit-content"
                              style="height: fit-content"
                              content-class="overflow-y">
                        <CVPresentation
                                :showLoading="showLoading"
                                :clientId="duplicateSearch"
                                :clientCvId="duplicateCvId"
                                :isSearchedCv="false"
                                :applicant="duplicateResultApplicant"
                                :applicantCvType="duplicateResultCvType"
                                :cvDisplaySetting="duplicateResultCvDisplay"
                                :applicantCv="duplicateResultCv"></CVPresentation>
                    </v-dialog>
                </v-card>
            </v-card>
        </div>
    </v-card>
</template>

<script>
    const fb = require('../plugins/firebaseInit.js');
    import CVFnav from "../components/CVFnav";
    import ApplicantForm from "../components/ApplicantForm";
    import {ContentLoader} from "vue-content-loader";
    import CVPresentation from "../views/CVPresentation";
    import basicTemplate from "../assets/images/templates/Basic.png";
    import executiveTemplate from "../assets/images/templates/Executive.png";
    import simpleQrTemplate from "../assets/images/templates/simpleQr.png";

    export default {
        name: "AppliantCvList",
        data() {
            return {
                clientId: this.$route.params.clientId,
                applicant: {},
                cvs: {},
                cvResult: false,
                cvRemoveWarning: false,
                cvRemoveIndex: null,
                cvRemoveText: null,
                showAddCv: false,
                resume_name: '',
                showError: false,
                rules: {
                    required: value => !!value || 'Required.',
                },
                templateImages: [
                    {'image': basicTemplate, 'title': 'Basic', 'id': 'CVbasic'},
                    {'image': executiveTemplate, 'title': 'Executive', 'id': 'CVexec'},
                    {'image': simpleQrTemplate, 'title': 'Simple QR', 'id': 'CVqr'},
                    {'image': basicTemplate, 'title': 'Chartered Accountant', 'id': 'CharteredAccountant'},
                    {'image': basicTemplate, 'title': 'Sales Operations', 'id': 'SaleOperation'},
                    {'image': basicTemplate, 'title': 'ATS Compliant', 'id': 'AtsCompliant'},
                    {'image': basicTemplate, 'title': 'Sales Executive', 'id': 'SalesExecutive'}
                ],
                duplicateSearch: '',
                duplicateCvId: '',
                duplicateCvList: '',
                duplicateResultApplicant: '',
                duplicateResultCv: '',
                duplicateResultCvDisplay: '',
                duplicateResultCvType: '',
                clients: {},
                showPreviewContent: false,
                showLoading: true
            }
        },
        components: {CVFnav, ApplicantForm, ContentLoader, CVPresentation},
        filters: {
            humanDateTime: function (value) {
                return moment(value).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        methods: {
            getCurrentApplicant() {
                this.$store.dispatch('fetchCurrentClient', {clientId: this.clientId})
                    .then(response => {
                        this.$store.commit('applicant', response.data());
                        this.applicant = response.data();
                        this.duplicateSearch = this.applicant.id;
                        this.resume_name = this.applicant.FName + ' ' + this.applicant.MName + ' ' +
                            this.applicant.LName + '\'s Resume_' + this.applicant.count;
                    });
            },
            getApplicantCvList() {
                this.cvs = '';
                this.cvResult = false;
                let applicantCvs = [];
                this.$store.dispatch('fetchApplicantCvs', {clientId: this.clientId}).then(response => {
                    response.forEach(function (doc) {
                        let applicantCv = doc.data();
                        applicantCv["id"] = doc.id;
                        applicantCvs.push(applicantCv)
                    });
                    this.cvs = applicantCvs

                    if (!applicantCvs.length)
                        this.cvResult = true
                });
            },
            getAllClient() {
                let clients = [];
                this.$store.dispatch('getAllClient').then(response => {
                    response.forEach((doc) => {
                        let client = doc.data();
                        client["id"] = doc.id;
                        clients.push(client)
                    });
                });
                this.clients = clients
            },
            cvRemoveConfirmWarning(index) {
                this.cvRemoveWarning = true;
                this.cvRemoveIndex = index;
            },
            removeCv() {
                let cvId = this.cvs[this.cvRemoveIndex].id;
                this.cvRemoveWarning = false;
                this.$store.dispatch('removeCv', {
                    clientId: this.applicant.id,
                    clientCvId: cvId
                }).then(() => {
                    this.cvs.splice(this.cvRemoveIndex, 1);
                    let snackbar = {
                        'showSnackbar': true,
                        'type': 'success',
                        'message': 'Resume is successfully removed'
                    };
                    this.$store.commit('snackbar', snackbar);
                    this.cvRemoveIndex = null;
                    this.cvRemoveText = null
                });
            },
            showResumeAdd() {
                this.showAddCv = true;
                this.getDuplicateCvList();
            },
            getDuplicateCvList() {
                let applicantCvs = [];
                this.$store.dispatch('fetchApplicantCvs', {clientId: this.duplicateSearch}).then(response => {
                    response.forEach(function (doc) {
                        let applicantCv = doc.data();
                        applicantCv["id"] = doc.id;
                        applicantCvs.push(applicantCv)
                    });

                    this.duplicateCvList = applicantCvs
                });
            },
            previewDuplicateCv(id, preview) {
                let client_id = this.duplicateSearch;
                this.duplicateCvId = id;
                this.showLoading = true;
                this.showPreviewContent = preview === 'preview';
                Promise.all([
                    this.$store.dispatch('fetchCurrentClient', {clientId: client_id})
                        .then(response => {
                            this.duplicateResultApplicant = response.data();
                        }),
                    this.$store.dispatch('fetchCurrentClientCv', {clientId: client_id, clientCvId: id})
                        .then(response => {
                            this.duplicateResultCv = response.data();
                        }),
                    this.$store.dispatch('fetchCurrentClientCvSections', {clientId: client_id, clientCvId: id})
                        .then(response => {
                            this.duplicateResultCvDisplay = response.data();
                        }),
                    this.$store.dispatch('fetchCurrentClientCvType', {clientId: client_id, clientCvId: id})
                        .then(response => {
                            this.duplicateResultCvType = response.data();
                        })
                        .then(() => {
                            setTimeout(() => {
                                this.showLoading = false
                                if (preview === 'duplicate' && this.duplicateResultCvType &&
                                    this.duplicateResultCvDisplay && this.duplicateResultCv)
                                    this.addDuplicateTemplateCv(this.duplicateResultCvType.currentTemplate);
                            }, 0)
                        }),
                ])
            },
            addNewTemplateCv(template_name) {
                if (!this.resume_name) {
                    this.showError = true;
                    return;
                }

                let vm = this;
                let clientCvs = fb.clientsCollection.doc(this.applicant.id).collection("cvlist");
                clientCvs.add({
                    cvTitle: this.resume_name,
                    currentTemplate: template_name,
                    currentFontSize: 'small',
                    contentFont: "quicksand",
                    headingBackground: "rgb(91,113,139)",
                    headingCase: "capitalize",
                    headingColor: "rgb(135,137,140)",
                    headingFont: "quicksand",
                    created_at: moment().utc().format(),
                    updated_at: moment().utc().format(),
                    isCircularImage: false,
                    hasImageBorder: true,
                }).then(function (cvDocument) {
                    vm.applicant['count'] = vm.applicant['count'] + 1;
                    vm.applicant['resume_count'] = vm.applicant['resume_count'] + 1;
                    vm.applicant['cv_modified_at'] = moment().utc().format();
                    vm.applicant['updated_at'] = moment().utc().format();

                    vm.$store.dispatch('updateApplicant', {
                        'applicant': vm.applicant,
                        'clientId': vm.applicant.id
                    });
                    fb.baseCvCollection.get()
                        .then(function (baseSet) {
                            baseSet.forEach(function (doc) {
                                let obj = doc.data();
                                clientCvs.doc(cvDocument.id).collection("cvdata").doc(doc.id).set(obj);
                            });
                        })
                        .then(function () {
                            vm.$router.push({
                                name: "cvemobile",
                                params: {clid: vm.applicant.id, cvid: cvDocument.id}
                            });
                        });
                });
            },
            addDuplicateTemplateCv(template_name) {
                if (!this.resume_name) {
                    this.showError = true;
                    return;
                }
                let vm = this;
                let clientCvs = fb.clientsCollection.doc(this.applicant.id).collection("cvlist");
                clientCvs.add({
                    cvTitle: this.resume_name,
                    currentTemplate: template_name,
                    currentFontSize: this.duplicateResultCvType.currentFontSize,
                    contentFont: this.duplicateResultCvType.contentFont,
                    headingBackground: this.duplicateResultCvType.headingBackground,
                    headingCase: this.duplicateResultCvType.headingCase,
                    headingColor: this.duplicateResultCvType.headingColor,
                    headingFont: this.duplicateResultCvType.headingFont,
                    created_at: moment().utc().format(),
                    updated_at: moment().utc().format(),
                    isCircularImage: this.duplicateResultCvType.isCircularImage,
                    hasImageBorder: this.duplicateResultCvType.hasImageBorder
                }).then(function (cvdoc) {
                    let duplicateCvArray = [
                        {'id': 'data', 'data': vm.duplicateResultCv},
                        {'id': 'sections', 'data': vm.duplicateResultCvDisplay}
                    ];

                    vm.applicant['count'] = vm.applicant['count'] + 1;
                    vm.applicant['resume_count'] = vm.applicant['resume_count'] + 1;
                    vm.applicant['cv_modified_at'] = moment().utc().format();
                    vm.applicant['updated_at'] = moment().utc().format();

                    vm.$store.dispatch('updateApplicant', {
                        'applicant': vm.applicant,
                        'clientId': vm.applicant.id
                    });

                    duplicateCvArray.forEach(function (doc) {
                        clientCvs.doc(cvdoc.id).collection("cvdata").doc(doc.id).set(doc.data);
                    });

                    vm.$router.push({
                        name: "cvemobile",
                        params: {clid: vm.applicant.id, cvid: cvdoc.id}
                    });
                })
            },
            backTo() {
                if (!this.showAddCv)
                    this.$router.push({name: 'clients'});

                if (this.showAddCv)
                    this.showAddCv = false;
            }
        },
        mounted() {
            this.getAllClient();
            this.getApplicantCvList();
            this.getCurrentApplicant();
        }
    }
</script>
