<template>
    <v-app id="CVeditor">
        <CVFnav v-if="!printing" :isTemplate="true"></CVFnav>
        <EditorNavbar @showLayout="showLayout" :isTemplate="true"
                      @changeApplicantCvType="changeApplicantCvType"></EditorNavbar>
        <v-snackbar buttom right :color="snackbar.type" v-model="snackbar.showSnackbar" :timeout="6000">
            {{snackbar.message}}
        </v-snackbar>
        <v-content app style="background: #4f5259;">
            <div class="page-wrapper chiller-theme">
                <sidebar class="d-print-none"
                         v-if="!loading"
                         :showLayoutPreview="showLayoutPreview"
                         :showSocialLinks="showSocialLinks"
                         :applicant="applicant"
                         :applicantCv="applicantCv"
                         :applicantCvType="applicantCvType"
                         :cvDisplaySetting="cvDisplaySetting"
                         :showEditUserForm="showEditUserForm"></sidebar>
                <!-- sidebar-wrapper  -->
                <main class="page-content">
                    <v-fab-transition>
                        <v-tooltip top attach>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                        style="z-index: 9 !important;"
                                        color="primary darken-3"
                                        fab
                                        large
                                        dark
                                        bottom
                                        left
                                        v-bind="attrs"
                                        v-on="on"
                                        class="float-btn_right"
                                        @click.prevent="browseContent"
                                >
                                    <v-icon>mdi-content-copy</v-icon>
                                </v-btn>

                            </template>
                            <span>Browse content</span>
                        </v-tooltip>
                    </v-fab-transition>
                    <v-dialog v-model="showBrowseContent" fullscreen
                              transition="dialog-bottom-transition"
                              content-class="overflow-hidden">
                        <v-card>
                            <v-toolbar dark color="secondary" height="50px">
                                <v-toolbar-title>Documents</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-toolbar-items>
                                    <v-icon dark text @click.prevent="showBrowseContent = false">
                                        mdi-close
                                    </v-icon>
                                </v-toolbar-items>
                            </v-toolbar>
                            <v-row style="margin-right: 0; margin-left: 0">
                                <v-col cols="4" class="content_cv-list">
                                    <v-card class="ma-0 pa-0">
                                        <v-card-title>
                                            <v-autocomplete
                                                    v-model="searchClient"
                                                    clearable
                                                    prepend-inner-icon="mdi-magnify"
                                                    label="Search"
                                                    style="box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .23)"
                                                    :item-text="item => item.FName + item.MName + item.LName+ item.designation"
                                                    item-value="id"
                                                    :items="clients"
                                                    dense
                                                    solo
                                                    flat
                                                    single-line
                                                    hide-details
                                                    @change="showSearchCvs"
                                            >
                                                <template slot="selection" slot-scope="data">
                                                    {{ data.item.FName + ' ' + data.item.MName + ' ' + data.item.LName
                                                    }}
                                                </template>
                                                <template v-slot:item="data">
                                                    <v-list-item-content>
                                                        <v-list-item-title
                                                                v-html="data.item.FName + ' ' + data.item.MName + ' ' + data.item.LName "></v-list-item-title>
                                                        <v-list-item-subtitle
                                                                v-html="data.item.designation"></v-list-item-subtitle>
                                                    </v-list-item-content>
                                                </template>
                                            </v-autocomplete>
                                        </v-card-title>
                                        <v-card-text>
                                            <p class="mx-5" v-if="searchApplicant">{{searchApplicant.FName}}'s
                                                documents</p>
                                            <v-list class="cv-lists">
                                                <v-list-item
                                                        v-for="(cv,index) in searchResult"
                                                        :key="index"
                                                        class="cv_list"
                                                        :class="{'active-cv_list': selectedCvId === cv.id}"
                                                >
                                                    <v-list-item-content class="pointer"
                                                                         @click.prevent="showSearchSelectedCv(cv.id,cv.client_id)">
                                                        {{ cv.cvTitle }}
                                                    </v-list-item-content>
                                                </v-list-item>
                                            </v-list>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="8">
                                    <div style="height: 750px;overflow-y: scroll;padding-bottom: 4rem;">
                                        <div class="text-center" v-if="!selectedClientId">
                                            <svg id="b422ff3f-53cc-4ffe-bf25-56f303d2d1de" data-name="open folder"
                                                 class="mt-3rem"
                                                 xmlns="http://www.w3.org/2000/svg" width="200" height="200"
                                                 viewBox="0 0 757.96407 595.09432">
                                                <path d="M283.98346,439.62929a2.89534,2.89534,0,0,0-2.89209,2.89209V741.56875a2.89576,2.89576,0,0,0,2.89209,2.89257h374.9458a2.89534,2.89534,0,0,0,2.89161-2.89257V490.5248a2.89534,2.89534,0,0,0-2.89161-2.89258H443.73493a8.76537,8.76537,0,0,1-5.90674-2.28222l-48.37891-43.95752a6.77,6.77,0,0,0-4.5625-1.76319Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#3f3d56"/>
                                                <path d="M457.14742,400.98458a2.05064,2.05064,0,0,0-2.80361.72816l-111.03628,188.949a2.05062,2.05062,0,0,0,.72815,2.8036l152.21853,89.45156a2.05063,2.05063,0,0,0,2.8036-.72815l111.03629-188.949a2.05063,2.05063,0,0,0-.72815-2.8036Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M459.47744,409.95605a2.05063,2.05063,0,0,0-2.8036.72816L352.279,588.33156a2.05063,2.05063,0,0,0,.72816,2.8036L493.92421,673.9454a2.05062,2.05062,0,0,0,2.8036-.72816L601.12268,495.5699a2.05064,2.05064,0,0,0-.72816-2.80361Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#fff"/>
                                                <path d="M432.8523,497.712l103.83364,61.01807a3.07232,3.07232,0,1,0,3.11316-5.29763L435.96546,492.41435a3.07233,3.07233,0,1,0-3.11316,5.29764Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M460.96512,447.83179l68.8864,40.48125c.97052.57033,2.45422-.15325,3.31389-1.61613s.7698-3.11118-.20072-3.68151l-68.8864-40.48124c-.97064-.5704-2.45422.15324-3.31389,1.61613S459.99449,447.26139,460.96512,447.83179Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M452.04071,463.01834l68.8864,40.48125c.97052.57033,2.45422-.15325,3.31389-1.61613s.7698-3.11117-.20073-3.6815l-68.88639-40.48125c-.97064-.5704-2.45422.15325-3.31389,1.61613S451.07008,462.448,452.04071,463.01834Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M422.78639,514.841,526.62,575.85908a3.07233,3.07233,0,0,0,3.11317-5.29764L425.89956,509.54337a3.07233,3.07233,0,0,0-3.11317,5.29764Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M412.72048,531.97,516.55412,592.9881a3.07233,3.07233,0,0,0,3.11317-5.29764L415.83365,526.67239a3.07232,3.07232,0,1,0-3.11317,5.29763Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M402.65458,549.099l103.83364,61.01808a3.07233,3.07233,0,0,0,3.11316-5.29764L405.76774,543.80141a3.07232,3.07232,0,1,0-3.11316,5.29763Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M392.58867,566.22806l103.83364,61.01807a3.07232,3.07232,0,1,0,3.11317-5.29763L395.70184,560.93043a3.07232,3.07232,0,0,0-3.11317,5.29763Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M382.52276,583.35708,486.3564,644.37515a3.07232,3.07232,0,0,0,3.11317-5.29763L385.63593,578.05945a3.07232,3.07232,0,1,0-3.11317,5.29763Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <circle cx="330.36129" cy="355.40055" r="16.18092" fill="#e6e6e6"/>
                                                <path d="M503.88927,539.457"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M327.96161,455.40007a2.05063,2.05063,0,0,0-2.42951,1.5773L279.93877,671.34159a2.05062,2.05062,0,0,0,1.5773,2.42951l172.69322,36.73029a2.05063,2.05063,0,0,0,2.42951-1.5773l45.59333-214.36422a2.05063,2.05063,0,0,0-1.5773-2.42951Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M333.00886,463.17447a2.05063,2.05063,0,0,0-2.42951,1.5773L287.71309,666.2942a2.05063,2.05063,0,0,0,1.5773,2.42951L449.162,702.727a2.05063,2.05063,0,0,0,2.42951-1.5773l42.86626-201.54244a2.05064,2.05064,0,0,0-1.5773-2.42951Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#fff"/>
                                                <path d="M453.29849,579.90177l-117.80015-25.055a3.07233,3.07233,0,1,1,1.27832-6.01021l117.80015,25.055a3.07233,3.07233,0,1,1-1.27832,6.01021Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M466.21958,524.12175l-78.15221-16.62227c-1.10106-.23419-1.70751-1.76949-1.35451-3.42914s1.53177-2.81526,2.63283-2.58107l78.15221,16.62227c1.10119.23421,1.70751,1.76949,1.35452,3.42914S467.32077,524.356,466.21958,524.12175Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M462.55507,541.351l-78.15221-16.62227c-1.10106-.23418-1.70751-1.76948-1.35452-3.42914s1.53178-2.81525,2.63284-2.58107l78.15221,16.62227c1.10119.23422,1.70751,1.76949,1.35451,3.42914S463.65626,541.58524,462.55507,541.351Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M449.16526,599.33479l-117.80015-25.055a3.07233,3.07233,0,0,1,1.27832-6.01021l117.80015,25.055a3.07233,3.07233,0,1,1-1.27832,6.01022Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M445.032,618.7678l-117.80016-25.055a3.07233,3.07233,0,0,1,1.27832-6.01021l117.80015,25.055a3.07232,3.07232,0,1,1-1.27831,6.01021Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M440.89881,638.20082l-117.80015-25.055a3.07233,3.07233,0,1,1,1.27832-6.01021l117.80015,25.055a3.07233,3.07233,0,0,1-1.27832,6.01021Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M436.76558,657.63384l-117.80015-25.055a3.07233,3.07233,0,1,1,1.27832-6.01021l117.80015,25.055a3.07233,3.07233,0,1,1-1.27832,6.01021Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M432.63235,677.06686l-117.80015-25.055a3.07233,3.07233,0,0,1,1.27832-6.01021l117.80015,25.055a3.07233,3.07233,0,1,1-1.27832,6.01021Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <circle cx="137.97611" cy="354.93571" r="16.18092" fill="#e6e6e6"/>
                                                <path d="M372.70644,562.76057"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M696.85244,466.86885l0,0a12.585,12.585,0,0,0,19.26769-3.49914l13.27313-24.31751-10.03784-8.32117-21.8817,16.578A12.585,12.585,0,0,0,696.85244,466.86885Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#ffb9b9"/>
                                                <path d="M712.39313,432.96132l15.5,12.5,84.5-65.5-5-114v0a46.0386,46.0386,0,0,0-17.02261,31.10256l-14.47738,64.39742Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <polygon
                                                        points="654.375 545.508 675.375 545.508 677.375 361.508 635.375 361.508 654.375 545.508"
                                                        fill="#ffb9b9"/>
                                                <polygon
                                                        points="602.375 555.508 623.375 555.508 625.375 359.508 583.375 357.508 602.375 555.508"
                                                        fill="#ffb9b9"/>
                                                <path d="M796.39313,529.96132l52,2,2-11,3,15,48-2c-.00806-48.63568-1.0459-102.37713,5-121l-111,11C786.65107,461.64348,785.5738,497.34188,796.39313,529.96132Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#2f2e41"/>
                                                <path d="M887.486,745.96132h0c11.22515,0,20.02546,4.35832,19.00335-6.8202l-2.90746-37.798a8.26253,8.26253,0,0,0-5.18883-7.38184h0q-12-14.0669-24-3h0a19.91524,19.91524,0,0,0-4.33654,11.39426l-1.62781,37.53954C867.86565,750.806,876.56063,745.96132,887.486,745.96132Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#2f2e41"/>
                                                <path d="M784.97691,746.49136l53.37162-1.41273a9.04738,9.04738,0,0,0,7.7986-9.2354l1.00558-26.08091a4.93728,4.93728,0,0,0-4.55243-5.16968l-8.20715-.63132c-.97339-8.92987-6.41015-11.09637-14-10l-24,27-15.81491,4.42818a10.8023,10.8023,0,0,0-7.77016,12.00465v0A10.80232,10.80232,0,0,0,784.97691,746.49136Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#2f2e41"/>
                                                <circle cx="625.37516" cy="44.50848" r="31" fill="#ffb9b9"/>
                                                <path d="M830.39313,251.96132l53-15c-11.85315-4.61091-16.42871-12.65394-14-24h-35C838.89264,230.05362,838.91083,244.00176,830.39313,251.96132Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#ffb9b9"/>
                                                <path d="M792.39313,436.96132c29.91063,3.82255,57.46866-7.75859,83.50015-16.5,11.75162-3.9462,23.59024.17342,34.49985-6.5-4.71762-46.46695-.13723-98.808,9.88374-154.58625a13.21725,13.21725,0,0,0-8.9863-14.94638l-32.89744-10.46737-29,10-15,3-30.8877,20.87008a11.292,11.292,0,0,0-4.80753,11.2805A370.22046,370.22046,0,0,1,792.39313,436.96132Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <polygon
                                                        points="655.375 268.508 665.375 294.508 675.375 279.508 662.375 266.508 655.375 268.508"
                                                        fill="#ffb9b9"/>
                                                <path d="M816.64552,185.90777c12.05338-7.73578,24.07331-10.28383,36.06267-8.1073a27.082,27.082,0,0,1,21.26,33.37018q-.03733.14522-.0751.29067l1.79207-3.36765a45.23621,45.23621,0,0,0,4.6058-29.15735v0A32.09246,32.09246,0,0,0,847.35654,152.481l-6.7452.281a32.33192,32.33192,0,0,0-30.8143,28.977v0A4.443,4.443,0,0,0,816.64552,185.90777Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#2f2e41"/>
                                                <path d="M881.39313,418.96132l14,18,49-73-4.23791-74.16344a56.09609,56.09609,0,0,0-28.76206-45.83654l0,0,1,114Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M565.31189,354.4038a2.05063,2.05063,0,0,0-2.82662.6329L445.1207,540.12136a2.05062,2.05062,0,0,0,.63289,2.82662L594.859,637.49765a2.05061,2.05061,0,0,0,2.82662-.6329L715.0502,451.7801a2.05062,2.05062,0,0,0-.6329-2.82663Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M567.33708,363.449a2.05062,2.05062,0,0,0-2.82663.6329L454.16582,538.096a2.05062,2.05062,0,0,0,.6329,2.82663l138.03509,87.52983a2.05062,2.05062,0,0,0,2.82663-.6329L706.00507,453.80542a2.05062,2.05062,0,0,0-.6329-2.82663Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#fff"/>
                                                <path d="M639.46861,514.74964,537.75854,450.254a3.07232,3.07232,0,0,1,3.29059-5.18929L642.7592,509.56035a3.07232,3.07232,0,1,1-3.29059,5.18929Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M670.99927,466.95652l-67.47756-42.78839c-.95067-.60283-.98473-2.25322-.07607-3.68618s2.416-2.10594,3.36667-1.50311l67.47755,42.78839c.95079.60291.98473,2.25322.07607,3.68619S671.95005,467.55943,670.99927,466.95652Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M661.56623,481.83248l-67.47756-42.78839c-.95067-.60283-.98473-2.25321-.07607-3.68618s2.416-2.10594,3.36667-1.5031l67.47755,42.78838c.95079.60291.98473,2.25322.07607,3.68619S662.517,482.43539,661.56623,481.83248Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M628.829,531.52835,527.11894,467.03268a3.07233,3.07233,0,0,1,3.2906-5.18929l101.71007,64.49567a3.07232,3.07232,0,0,1-3.29059,5.18929Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M618.18942,548.30705,516.47935,483.81138a3.07233,3.07233,0,0,1,3.2906-5.18929L621.48,543.11776a3.07233,3.07233,0,1,1-3.2906,5.18929Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M607.54983,565.08575,505.83976,500.59008a3.07233,3.07233,0,1,1,3.2906-5.18929l101.71007,64.49567a3.07233,3.07233,0,0,1-3.2906,5.18929Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M596.91024,581.86445,495.20017,517.36878a3.07232,3.07232,0,0,1,3.29059-5.18929l101.71008,64.49567a3.07233,3.07233,0,0,1-3.2906,5.18929Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <path d="M586.27065,598.64315,484.56058,534.14748a3.07232,3.07232,0,1,1,3.29059-5.18928l101.71007,64.49566a3.07232,3.07232,0,1,1-3.29059,5.18929Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#6c63ff"/>
                                                <circle cx="355.28753" cy="261.4905" r="16.18092" fill="#6c63ff"/>
                                                <path d="M569.88446,470.62544"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M258.49909,518.17519a2.8917,2.8917,0,0,0-2.874,3.21582l25.0708,222.502a2.89026,2.89026,0,0,0,2.874,2.56835H659.34235a2.88955,2.88955,0,0,0,2.874-2.56835l25.07032-222.502a2.89282,2.89282,0,0,0-.7168-2.251,2.85878,2.85878,0,0,0-2.15625-.96485Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#e6e6e6"/>
                                                <path d="M292.68519,555.54475l120.43341-.65221a3.07233,3.07233,0,0,0-.03328-6.14456l-120.4334.6522a3.07233,3.07233,0,0,0,.03327,6.14457Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#fff"/>
                                                <path d="M292.68519,574.54475l71.43341-.65221a3.07233,3.07233,0,0,0-.03328-6.14456l-71.4334.6522a3.07233,3.07233,0,0,0,.03327,6.14457Z"
                                                      transform="translate(-221.01797 -152.45284)" fill="#fff"/>
                                                <polygon
                                                        points="757.569 595.094 0 595.094 0 592.913 757.964 592.913 757.569 595.094"
                                                        fill="#3f3d56"/>
                                            </svg>
                                            <div class="mt-2">
                                                <span>Select a resume. For content copy pasting.</span>
                                            </div>
                                        </div>
                                        <CVPresentation v-if="selectedClientId"
                                                        :isSearchedCv="true"
                                                        :showLoading="showLoading"
                                                        :clientId="selectedClientId"
                                                        :clientCvId="selectedCvId"
                                                        :applicant="searchApplicant"
                                                        :applicantCvType="searchApplicantCvType"
                                                        :cvDisplaySetting="searchCvDisplaySetting"
                                                        :applicantCv="searchApplicantCv"
                                                        @saveApplicantCv="saveApplicantCv"
                                        ></CVPresentation>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-dialog>
                    <v-container class="font-title mx-auto" :class="sfactor < 1 ? '':'CVarea'" ref="CVCon"
                                 v-resize="scaleCV">
                        <div class="resume-section_cv d-print-none">
                            <Editable :placeholder="cvTitle"
                                      @focusin="editResumeTitleTemplate($event)"
                                      class="cv-title-holder single-line"
                                      @keydown.enter="$event.target.blur()"
                                      @blur="saveResumeTitleTemplate"
                                      v-model="applicantCvType.cvTitle"/>
                            <div class="resume-section_cv-more" v-if="!loading">
                                <v-menu content-class="resume-section_cv-card">
                                    <template v-slot:activator="{ on, attrs }">
                                        <span
                                                style="cursor: pointer"
                                                dark
                                                icon
                                                v-bind="attrs"
                                                v-on="on">
                                            <span>Profile Settings</span>
                                          <v-icon color="white">mdi-chevron-down</v-icon>
                                        </span>
                                    </template>
                                    <v-list>
                                        <v-list-item @click.prevent="showUserEdit">
                                            <v-list-item-title>Edit Applicant Profile</v-list-item-title>
                                        </v-list-item>
                                        <v-list-item @click.prevent="showUserSocialLinks">
                                            <v-list-item-title>Show/hide Applicant details</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </div>
                        </div>
                        <v-layout>
                            <component
                                    id="cv-component"
                                    :key="componentKey"
                                    :is="applicantCvType.currentTemplate"
                                    :cvTitle="applicantCvType.cvTitle"
                                    :factor="sfactor"
                                    :isCopyable="false"
                                    @addNew="addNew"
                                    @showEditClient="showUserEdit"
                                    @saveApplicantCv="saveApplicantCv"
                                    @saveCvSetting="saveCvSetting"
                                    @showBrowseContent="browseContent"
                                    @changeSectionPosition="changeSectionPosition"
                                    @showLayout="showLayout"
                            />
                        </v-layout>
                    </v-container>
                    <v-alert
                            v-model="showNoneRemove"
                            border="left"
                            colored-border
                            type="error"
                            elevation="2"
                            dismissible
                            dense
                            class="alert-delete"
                    >
                        You cannot remove data when a single value is present.
                    </v-alert>
                </main>
                <!-- page-content" -->
            </div>
        </v-content>
    </v-app>
</template>

<script>
    $(window).scroll(function () {
        let sticky = $('.sticky'),
            scroll = $(window).scrollTop();

        if (scroll >= 50) {
            $('#sidebar').addClass('top-auto');
            sticky.addClass('fixed');
        } else {
            $('#sidebar').removeClass('top-auto');
            sticky.removeClass('fixed');
        }
    });
    import CVFnav from "../components/CVFnav";
    import {mapState} from 'vuex'
    import Sidebar from "../components/sidebar";
    import CVPresentation from "./CVPresentation";
    import EditorNavbar from "../components/EditorNavbar";
    import Vue from 'vue'
    import Editable from "../components/Editable";
    import {ContentLoader} from "vue-content-loader"

    export default {
        name: "CVEdMobFr",
        data() {
            return {
                componentKey: 0,
                cvTitle: '',
                clientId: this.$route.params.clid,
                clientCvId: this.$route.params.cvid,
                loading: true,
                printing: false,
                sfactor: "",
                stc: 1,
                showSidebar: false,
                showLayoutPreview: false,
                showEditUserForm: false,
                showEditUser: false,
                searchResult: '',
                // searchResultCv: '',
                // searchResultCvType: '',
                // searchResultCvDisplay: '',
                selectedClientId: '',
                selectedCvId: '',
                showFullscreen: false,
                showBrowseContent: false,
                clients: '',
                searchClient: '',
                // searchApplicant: '',
                showSocialLinks: false,
                showLoading: true,
            }
        },
        components: {
            Editable,
            Sidebar,
            CVbasic: () => import("../components/cvs/CVbasic.vue"),
            CVexec: () => import("../components/cvs/CVexec.vue"),
            CVqr: () => import("../components/cvs/CVqr.vue"),
            CharteredAccountant: () => import("../components/cvs/CharteredAccountant.vue"),
            SaleOperation: () => import("../components/cvs/SaleOperation.vue"),
            AtsCompliant: () => import("../components/cvs/AtsCompliant.vue"),
            SalesExecutive: () => import("../components/cvs/SalesExecutive.vue"),
            CVFnav, CVPresentation, EditorNavbar, ContentLoader
        },
        watch: {
            "cvDisplaySetting.layout": function () {
                this.forceRerender()
            },
            showBrowseContent(val) {
                if (!val) return;
                this.showSearchCvs();
            },
            showNoneRemove(val) {
                if (!val) return;
                this.setShowNoneRemove();
            }
        },
        computed: {
            ...mapState(['snackbar', 'showNoneRemove', 'applicant', 'applicantCv', 'cvDisplaySetting', 'applicantCvType', 'searchApplicant',
                'searchApplicantCv', 'searchApplicantCvType', 'searchCvDisplaySetting']),
        },
        methods: {
            addNew(sectionType) {
                let vm = this;
                if (sectionType === "references" || sectionType === "interests" || sectionType === "skills") {
                    vm.applicantCv[sectionType].push('');
                } else if (sectionType === "experience" || sectionType === "vexperience") {
                    vm.applicantCv[sectionType].push({
                        organization: '',
                        designation: '',
                        sMth: '',
                        sYr: '',
                        eMth: '',
                        eYr: '',
                        desc: '',
                        bullets: [''],
                        display: {
                            organization: true,
                            designation: true,
                            date: true,
                            description: true,
                            bullets: true
                        }
                    });
                } else if (sectionType === "education") {
                    vm.applicantCv[sectionType].push({
                        institution: '',
                        program: '',
                        sMth: '',
                        sYr: '',
                        eMth: '',
                        eYr: '',
                        desc: '',
                        bullets: [''],
                        display: {
                            institution: true,
                            program: true,
                            description: true,
                            bullets: true,
                            date: true
                        }
                    });
                } else if (sectionType === "certs" || sectionType === "pubs") {
                    vm.applicantCv[sectionType].push({
                        title: '',
                        body: '',
                        when: ''
                    });
                }
            },
            forceRerender() {
                this.componentKey += 1;
            },
            init() {
                Promise.all([
                    this.$store.dispatch('fetchCurrentClient', {clientId: this.clientId}).then(response => {
                        this.$store.commit('applicant', response.data());
                        // this.applicant = response.data();
                    }),
                    this.$store.dispatch('fetchCurrentClientCv',
                        {clientId: this.clientId, clientCvId: this.clientCvId}).then(response => {
                        this.$store.commit('applicantCv', response.data());
                        // this.applicantCv = response.data();
                    }),
                    this.$store.dispatch('fetchCurrentClientCvSections', {
                        clientId: this.clientId,
                        clientCvId: this.clientCvId
                    }).then(response => {
                        this.$store.commit('cvDisplaySetting', response.data());
                        // this.cvDisplaySetting = response.data();
                    }),
                    this.$store.dispatch('fetchCurrentClientCvType', {
                        clientId: this.clientId,
                        clientCvId: this.clientCvId
                    }).then(response => {
                        this.$store.commit('applicantCvType', response.data());
                        // this.applicantCvType = response.data();
                        this.cvTitle = this.applicantCvType.cvTitle
                    }).then(() => {
                        setTimeout(() => {
                            this.loading = false
                        }, 0)
                    }),
                ])

            },
            scaleCV() {
                let factor;
                if (!this.printing) {
                    factor = Math.min(this.$refs.CVCon.clientWidth / 830, 1);
                    this.sfactor = factor.toPrecision(2).toString();
                } else {
                    this.sfactor = "1";
                }
            },
            editResumeTitleTemplate(e) {
                this.cvTitle = this.applicantCvType.cvTitle
                setTimeout(() => {
                    document.execCommand('selectAll', false, null)
                }, 0)
                e.target.classList.add("cv-title-holder__input-title");
            },
            saveResumeTitleTemplate(e) {
                e.target.classList.remove("cv-title-holder__input-title");
                Vue.set(this.applicantCvType, 'cvTitle', this.applicantCvType.cvTitle ? this.applicantCvType.cvTitle : this.cvTitle)
                e.target.innerText = this.applicantCvType.cvTitle
                if (this.applicantCvType.cvTitle !== this.cvTitle) {
                    this.saveApplicantCvType();
                }

            },
            saveApplicantCvType() {
                this.$store.commit('showSaving', true);
                this.$store.dispatch('storeCvType', {
                    clientId: this.clientId,
                    clientCvId: this.clientCvId,
                    applicantCvType: this.applicantCvType
                })
            },
            saveCvSetting($event) {
                event.stopPropagation()
                this.$store.commit('showSaving', true);
                this.$store.dispatch('storeCvDisplaySetting', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    cvDisplaySetting: this.cvDisplaySetting
                })
            },
            saveApplicantCv(value) {
                if (value) {
                    this.applicantCv[value.section].push(value.data);
                    let snackbar = {
                        'showSnackbar': true,
                        'type': 'success',
                        'message': 'Content added successfully.'
                    };
                    this.$store.commit('snackbar', snackbar);
                }

                this.$store.commit('showSaving', true);
                this.$store.dispatch('storeCvData', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    applicantCv: this.applicantCv,
                });

                this.applicantCvType['updated_at'] = moment().utc().format();
                this.$store.dispatch('storeCvType', {
                    clientId: this.clientId,
                    clientCvId: this.clientCvId,
                    applicantCvType: this.applicantCvType
                });


                this.applicant['cv_modified_at'] = moment().utc().format();
                this.$store.dispatch('updateApplicant', {
                    'applicant': this.applicant,
                    'clientId': this.clientId
                });
            },
            showLayout() {
                let hasClass = !!$('div.toggled').length;

                if (!hasClass) {
                    setTimeout(() => {
                        $(".page-wrapper").addClass("toggled");
                        this.showLayoutPreview = true;
                        this.showEditUserForm = false;
                        this.showSocialLinks = false;
                        return;
                    }, 0);
                }

                if (hasClass) {
                    if (this.showEditUserForm) {
                        this.showEditUserForm = false;
                        this.showLayoutPreview = true;
                        this.showSocialLinks = false;
                        return
                    }

                    if (this.showSocialLinks) {
                        this.showEditUserForm = false;
                        this.showLayoutPreview = true;
                        this.showSocialLinks = false;
                        return
                    }

                    $(".page-wrapper").removeClass("toggled");
                }
            },
            showUserEdit() {
                let hasClass = !!$('div.toggled').length;

                if (!hasClass) {
                    $(".page-wrapper").addClass("toggled");
                    this.showEditUserForm = true;
                    this.showLayoutPreview = false;
                    this.showSocialLinks = false;
                    return;
                }

                if (hasClass) {
                    if (this.showLayoutPreview) {
                        this.showEditUserForm = true;
                        this.showLayoutPreview = false;
                        this.showSocialLinks = false;
                        return;
                    }

                    if (this.showSocialLinks) {
                        this.showEditUserForm = true;
                        this.showLayoutPreview = false;
                        this.showSocialLinks = false;
                        return;
                    }

                    $(".page-wrapper").removeClass("toggled");
                }
            },
            showUserSocialLinks() {
                let hasClass = !!$('div.toggled').length;

                if (!hasClass) {
                    $(".page-wrapper").addClass("toggled");
                    this.showSocialLinks = true;
                    this.showEditUserForm = false;
                    this.showLayoutPreview = false;
                    return;
                }

                if (hasClass) {
                    if (this.showLayoutPreview) {
                        this.showEditUserForm = false;
                        this.showLayoutPreview = false;
                        this.showSocialLinks = true;
                        return;
                    }

                    if (this.showEditUserForm) {
                        this.showEditUserForm = false;
                        this.showLayoutPreview = false;
                        this.showSocialLinks = true;
                        return;
                    }
                    $(".page-wrapper").removeClass("toggled");
                }
            },
            showSearchCvs() {
                let client_id = this.searchClient ? this.searchClient : this.clientId;
                let applicantCvs = [];
                this.$store.dispatch('fetchApplicantCvs', {clientId: client_id}).then(response => {
                    response.forEach(function (doc) {
                        let applicantCv = doc.data();
                        applicantCv["id"] = doc.id;
                        applicantCv["client_id"] = client_id;
                        applicantCvs.push(applicantCv)
                    });
                    this.searchResult = applicantCvs;

                    let applicant = this.clients.find(x => x.id === client_id);
                    this.$store.commit('searchApplicant', applicant);
                    // this.searchApplicant = applicant;
                });
            },
            showSearchSelectedCv(id, client_id) {
                this.selectedClientId = client_id;
                this.selectedCvId = id;
                this.showLoading = true;

                Promise.all([
                    this.$store.dispatch('fetchCurrentClient', {clientId: client_id}).then(response => {
                        // this.searchApplicant = response.data();
                        this.$store.commit('searchApplicant', response.data());
                    }),
                    this.$store.dispatch('fetchCurrentClientCv', {clientId: client_id, clientCvId: id})
                        .then(response => {
                            // this.searchResultCv = response.data();
                            this.$store.commit('searchApplicantCv', response.data());

                        }),
                    this.$store.dispatch('fetchCurrentClientCvSections', {
                        clientId: client_id,
                        clientCvId: id
                    }).then(response => {
                        // this.searchResultCvDisplay = response.data();
                        this.$store.commit('searchCvDisplaySetting', response.data());
                    }),
                    this.$store.dispatch('fetchCurrentClientCvType', {
                        clientId: client_id,
                        clientCvId: id
                    }).then(response => {
                        // this.searchResultCvType = response.data();
                        this.$store.commit('searchApplicantCvType', response.data());
                    }).then(() => {
                        setTimeout(() => {
                            this.showLoading = false
                        }, 0)
                    }),
                ])
            },
            closeSidebar(e) {
                let container = $("#sidebar");

                if ((!container.is(e.target) && container.has(e.target).length === 0)) {
                    $(".page-wrapper").removeClass("toggled");
                }
            },
            changeApplicantCvType(val) {
                Object.assign(this.applicantCvType, val);
            },
            browseContent() {
                this.searchClient = this.clientId;
                this.showBrowseContent = true;
                this.getAllClients();
            },
            getAllClients() {
                let clients = [];
                this.$store.dispatch('fetchClients')
                    .then(response => {
                        response.forEach((doc) => {
                            let client = doc.data();
                            client["id"] = doc.id;
                            clients.push(client)
                        });
                    });
                this.clients = clients
            },
            changeSectionPosition(value) {
                let index = value.index;

                if (value.type === 'up' && index !== 0) {
                    let shiftData = this.applicantCv[value.section].splice(index, 1)[0];
                    this.applicantCv[value.section].splice(index - 1, 0, shiftData)
                }

                if (value.type === 'down' && index <= this.applicantCv[value.section].length - 1) {
                    let shiftData = this.applicantCv[value.section].splice(index, 1)[0];
                    this.applicantCv[value.section].splice(index + 1, 0, shiftData)
                }
                this.saveApplicantCv();
            },
            setShowNoneRemove() {
                setTimeout(() => {
                    this.$store.commit('showNoneRemove', false);
                }, 5000)
            },
            initializeListener() {
                this.$store.dispatch('initRealtimeListeners', {
                    clientId: this.clientId,
                    clientCvId: this.clientCvId
                });
            }
        },
        mounted() {
            this.init();
            this.initializeListener();
            $(document).ready(function () {
                $('.section_skills').removeClass('sec')
            });
            document.addEventListener('click', this.closeSidebar);
            $(document).on('blur', '.editable', (e) => {
                this.saveApplicantCv();
            });
            $(document).on('focus', '.editable', (e) => {
                let section_toolbar = $(e.target).closest('.section-item').find('.cv-toolbar-card');
                let heading_toolbar = $(e.target).closest('.cv-heading').find('.cv-toolbar-card');
                let section_item = $(e.target).closest(".section-item");

                if (!(e.currentTarget.parentElement.classList.contains('skill-edit')))
                    section_item.addClass('active-section-item');

                // $(e.target).closest('.section-item').find('.cv-toolbar-card').show();
                $('.cv-toolbar-card').not(toolbar).hide();
                $('.section-item').not(section_item).removeClass('active-section-item')

                section_toolbar.show();
                heading_toolbar.show();

                $(document).bind('focus.editable click.cv-toolbar-card', function (e) {
                    if ($(e.target).closest('.cv-toolbar-card, .editable').length) return;
                    $(document).unbind('.cv-toolbar-card');
                    section_item.removeClass('active-section-item')
                    section_toolbar.hide();
                    heading_toolbar.hide();
                });
            });
        },
        beforeDestroy() {
            document.removeEventListener('click', this.closeSidebar);
        }
    };
</script>
