<template>
    <v-app id="CVPresentation">
        <v-content app style="background: #3f3f3f;">
            <main style="background-color: #F5F5F5; height: 100%;">
                <v-container class="font-title" :class="sfactor < 1 ? '':'CVarea'" ref="CVCon"
                             v-resize="scaleCV">
                    <div class="presentation-loader" v-if="loading">
                        <v-progress-circular
                                :size="70"
                                :width="7"
                                color="blue"
                                indeterminate
                        ></v-progress-circular>
                    </div>

                    <component
                            v-if="!loading"
                            id="cv-component"
                            :key="componentKey"
                            :is="applicantCvType.currentTemplate"
                            :applicant="applicant"
                            :applicantCv="applicantCv"
                            :applicantCvType="applicantCvType"
                            :cvDisplaySetting="cvDisplaySetting"
                            :cvTitle="applicantCvType.cvTitle"
                            :factor="sfactor"
                            :isCopyable="!!isSearchedCv"
                            @saveApplicantCv="saveApplicantCv"
                    />
                </v-container>
            </main>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "CVPresentation",
        data() {
            return {
                componentKey: 0,
                loading: true,
                sfactor: "",
                stc: 1,
            }
        },
        props: ['clientId', 'clientCvId', 'applicant', 'applicantCv', 'applicantCvType', 'cvDisplaySetting', 'isSearchedCv', 'showLoading'],
        components: {
            CVbasic: () => import("../components/cvs/CVbasic.vue"),
            CVexec: () => import("../components/cvs/CVexec.vue"),
            CVqr: () => import("../components/cvs/CVqr.vue"),
            CharteredAccountant: () => import("../components/cvs/CharteredAccountant.vue"),
            SaleOperation: () => import("../components/cvs/SaleOperation.vue"),
            AtsCompliant: () => import("../components/cvs/AtsCompliant.vue"),
            SalesExecutive: () => import("../components/cvs/SalesExecutive.vue"),
        },
        computed: {},
        watch: {
            "cvDisplaySetting.layout": function () {
                this.forceRerender()
            },
            showLoading(value) {
                this.loading = value;
            }
        },
        methods: {
            forceRerender() {
                this.componentKey += 1;
            },
            init() {
                Promise.all([
                    this.$store.dispatch('fetchCurrentClient', {clientId: this.clientId}).then(response => {
                        this.$store.commit('applicant', response.data());
                        this.applicant = response.data();
                    }),
                    this.$store.dispatch('fetchCurrentClientCv',
                        {clientId: this.clientId, clientCvId: this.clientCvId}).then(response => {
                        this.$store.commit('applicantCv', response.data());
                        this.applicantCv = response.data();
                    }),
                    this.$store.dispatch('fetchCurrentClientCvSections', {
                        clientId: this.clientId,
                        clientCvId: this.clientCvId
                    }).then(response => {
                        this.$store.commit('cvDisplaySetting', response.data());
                        this.cvDisplaySetting = response.data();
                    }),
                    this.$store.dispatch('fetchCurrentClientCvType', {
                        clientId: this.clientId,
                        clientCvId: this.clientCvId
                    }).then(response => {
                        this.$store.commit('applicantCvType', response.data());
                        this.applicantCvType = response.data();
                    }).then(() => {
                        setTimeout(() => {
                            this.loading = false
                        }, 0)
                    })
                ])
            },
            scaleCV() {
                let factor;
                if (!this.printing) {
                    factor = Math.min(this.$refs.CVCon.clientWidth / 830, 1);
                    this.sfactor = factor.toPrecision(2).toString();
                } else {
                    this.sfactor = "1";
                }
            },
            saveApplicantCv(value) {
                this.$emit('saveApplicantCv', value);
            }
        },
        mounted() {
            if (!this.applicantCv && !this.applicant && !this.applicantCvType && !this.cvDisplaySetting)
                this.init();
        }
    };
</script>
