<template>
  <v-app id="CVeditor" class="CVarea">
            <component
              :is="currentTemplate"
              :applicant="applicant"
              :cvData="cvData"
              :sections="sections"
              :factor="sfactor"
            />
  </v-app>
</template>

<script>
import CVFnav from "../components/CVFnav";

export default {
  name: "CVEdMobFr",
  props: {},
  data: () => ({
    sfactor: "",
    stc: 1,
    currentTemplate: "CVTbluesimp",
    templates: [
      {
        name: "Blue Simple",
        comp: "CVTbluesimp"
      },
      {
        name: "Red Simple",
        comp: "CVTredsimp"
      }
    ],
    applicant: {
      FName: "Albus",
      MName: "Brian",
      LName: "Dumbledore",
      email: "ab.dumbledore@hogwarts.wiz",
      phnum: "+44-386-253-3673",
      www: "www.dumbles.wiz",
      addr: "Hogwarts Castle"
    },
    sections: {
      summTitle: "Executive Summary",
      summTog: true,
      skTitle: "Key Industry Skills & Attributes",
      skTog: true,
      exTitle: "Work Experience",
      exTog: true,
      vexTitle: "Volunteer Experience",
      vexTog: true,
      edTitle: "Education",
      edTog: true,
      certTitle: "Certifications",
      certTog: true,
      pubTitle: "Publications",
      pubTog: true,
      intTitle: "Interests",
      intTog: false,
      refTitle: "Rerences/Testimonials",
      refTog: true
    },
    cvData: {
      cvTitle: "Wizard Extraordinaire",
      obj:
        "My primary objective is to keep Harry safe and as happy as possible.",
      skills: ["Team Management", "Sorcery", "Potion Craft"],
      experience: [
        {
          organization: "Hogwarts School of Witchcraft and Wizardry",
          designation: "Headmaster",
          sMth: "Jan",
          sYr: "1900",
          eMth: "",
          eYr: "",
          desc: "There was never a dull moment",
          bullets: "I thought there was one.\nBut I was wrong."
        }
      ],
      vexperience: [
        {
          organization: "The Magic Cross",
          designation: "Spell Master",
          sMth: "Jan",
          sYr: "1950",
          eMth: "Jun",
          eYr: "1950",
          desc: "I tried some new spells",
          bullets:
            "I had just way too much free time.\nThere weren't many other veteran volunteers around."
        }
      ],
      education: [
        {
          institution: "Hogwarts School of Witchcraft and Wizardry",
          program: "Mastery of Magic",
          sMth: "Jan",
          sYr: "1900",
          eMth: "",
          eYr: "",
          desc: "I was a genius who barely needed to study.",
          bullets: "Not much to say about it"
        }
      ],
      certs: [
        {
          title: "Master SpellCaster",
          body: "School of Spells",
          when: "1900"
        },
        {
          title: "Wizard SpellCaster",
          body: "School of Spells",
          when: "1910"
        }
      ],
      pubs: [
        {
          title: "How to lose a spell in 10 days",
          body: "Wizards Magic Paper",
          when: "1975"
        },
        {
          title: "On becoming a Sorceror",
          body: "Wizards Magic Paper",
          when: "1980"
        }
      ],
      interests: [
        "Taking on new disciples.",
        "Not talking about the one who must not be named.",
        "Watching the phoenix rise from the ashes again and again."
      ],
      references: ["May be furnished on request."]
    }
  }),
  components: {
    CVTbluesimp: () => import("../components/CVTbluesimp.vue"),
    CVTredsimp: () => import("../components/CVTredsimp.vue"),
    CVFnav
  },
  methods: {
    scaleCV() {
      var factor;
      factor = Math.min(this.$refs.CVCon.clientWidth / 800, 1);
      this.$data.sfactor = factor.toPrecision(2).toString();
    },
    addArrI(arr, itype) {
      if (itype == "str") {
        arr.push("New entry...");
      } else if (itype == "experience") {
        arr.push({
          organization: "Organization",
          designation: "Designation",
          sMth: "Start Month",
          sYr: "Start Year",
          eMth: "End Month",
          eYr: "End Year",
          desc: "Description",
          bullets: "Bullet points"
        });
      } else if (itype == "vexperience") {
        arr.push({
          organization: "Organization",
          designation: "Designation",
          sMth: "Start Month",
          sYr: "Start Year",
          eMth: "End Month",
          eYr: "End Year",
          desc: "Description",
          bullets: "Bullet points"
        });
      } else if (itype == "education") {
        arr.push({
          institution: "Institution",
          program: "Program",
          sMth: "Start Month",
          sYr: "Start Year",
          eMth: "End Month",
          eYr: "End Year",
          desc: "Description",
          bullets: "Bullet points"
        });
      } else if (itype == "certs" || itype == "pubs") {
        arr.push({
          title: "Title",
          body: "Body",
          when: "When"
        });
      }
    },
    delArrI(arr, i) {
      arr.splice(i, 1);
    }
  }
};
</script>

<style scoped>
@media print {
  .CVarea {
    background-color: white;
    padding: 0;
    margin: 0;
  }
}
</style>
