<template>
    <v-card class="ma-3" min-height="500">
        <v-card-title>
            Applicants
            <v-spacer></v-spacer>
            <v-layout class="py-2">
                <v-text-field
                        v-model="search"
                        prepend-inner-icon="mdi-magnify"
                        label="Search"
                        clearable
                        single-line
                        solo
                        flat
                        style="box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .23)"
                        hide-details
                ></v-text-field>
            </v-layout>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="position: relative">
            <v-list style="position: absolute;width: 90%;top:20px" v-if="!clients.length">
                <v-list-item>
                    <template>
                        <content-loader style="position: absolute">
                            <circle cx="19" cy="68" r="18"/>
                            <rect x="50" y="56" rx="5" ry="5" width="300" height="20"/>
                        </content-loader>
                    </template>
                </v-list-item>
                <v-list-item class="mt-6">
                    <template>
                        <content-loader style="position: absolute">
                            <circle cx="19" cy="68" r="18"/>
                            <rect x="50" y="56" rx="5" ry="5" width="300" height="20"/>
                        </content-loader>
                    </template>
                </v-list-item>
                <v-list-item class="mt-6">
                    <template>
                        <content-loader style="position: absolute">
                            <circle cx="19" cy="68" r="18"/>
                            <rect x="50" y="56" rx="5" ry="5" width="300" height="20"/>
                        </content-loader>
                    </template>
                </v-list-item>
            </v-list>
            <v-list v-if="clients.length">
                <v-data-table
                        :headers="headers"
                        :items="clients"
                        :search="search"
                        hide-default-header
                        hide-default-footer
                        item-key="id"
                >
                    <template v-slot:body="{ items }">
                        <tbody>
                        <v-list-item
                                v-for="(client,index) in items"
                                :key="client.id"
                                :to="{name: 'applicant-cv-list',params:{clientId:client.id}}"
                        >
                            <v-list-item-avatar>
                                <v-img v-if="client.dispic" :src="client.dispic"></v-img>
                                <v-btn v-else small dark fab color="secondary">
                                    <v-icon>mdi-account</v-icon>
                                </v-btn>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                {{ client.FName }}
                                {{ client.MName }}
                                {{ client.LName }}
                                <v-list-item-subtitle class="cut-text">{{client.designation}}
                                    <b>{{client.cv_modified_at | humanDateTime}}</b>
                                </v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-icon>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <router-link
                                                :to="{name:'applicant-update',params:{clientId:client.id}}">
                                            <v-btn
                                                    fab
                                                    x-small
                                                    color="indigo"
                                                    dark
                                                    v-on="on"
                                                    class="mx-2"
                                            >
                                                <v-icon>mdi-fountain-pen-tip</v-icon>
                                            </v-btn>
                                        </router-link>
                                    </template>
                                    <span>Edit Client..</span>
                                </v-tooltip>
                            </v-list-item-icon>
                            <v-list-item-icon @click.prevent="clientRemoveWarning(client,index)">
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                                fab
                                                x-small
                                                color="red"
                                                dark
                                                v-on="on"
                                                class="mx-2"
                                        >
                                            <v-icon>mdi-trash-can-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Delete Client..</span>
                                </v-tooltip>
                            </v-list-item-icon>
                        </v-list-item>
                        </tbody>
                    </template>
                </v-data-table>
            </v-list>
            <v-dialog
                    v-model="clientRemoveConfirm"
                    max-width="450"
                    class="warning"
            >
                <v-card>
                    <v-card-title>
                        Delete from your client lists?
                    </v-card-title>
                    <v-card-text>
                        <small>Type <span class="red--text">Delete</span>
                            below</small>
                        <v-text-field
                                single-line
                                outlined
                                :autofocus="true"
                                v-model="typeDelete"
                        ></v-text-field>
                    </v-card-text>
                    <v-card-actions class="mt-n-30">
                        <v-spacer></v-spacer>
                        <v-btn large @click.prevent="clientRemoveConfirm = false,typeDelete=''"
                               rounded
                               color="grey lighten-2"
                               class="p-xy-2">CANCEL
                        </v-btn>
                        <v-btn large :disabled="!validClientRemove" @click.prevent="removeClient"
                               rounded
                               color="red" class="p-xy-2 text-white">
                            DELETE
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from "firebase/app";
    import "firebase/firestore";
    import {ContentLoader} from "vue-content-loader";

    let fb = firebase.firestore();
    let clientReferences = fb.collection("clients");

    export default {
        name: "Dashboard",
        data: () => ({
            headers: [
                {text: "First Name", value: "FName", sortable: false},
                {text: "Middle Name", value: "MName", sortable: false},
                {text: "Last Name", value: "LName", sortable: false},
                {text: "Designation", value: "designation", sortable: false},
            ],
            search: '',
            clients: [],
            searchDialog: false,
            searchQuery: '',
            searchColumns: [
                {colLabel: "First Name", colName: "FName"},
                {colLabel: "Middle Name", colName: "MName"},
                {colLabel: "Last Name", colName: "LName"},
                {colLabel: "e-mail", colName: "email"},
                {colLabel: "Phone Number", colName: "phnum"}
            ],
            searchIn: "FName",
            searchLoading: false,
            searchForm: false,
            cvRemoveConfirm: false,
            showForm: false,
            isClient: false,
            showWarningBox: false,
            clientRemoveConfirm: false,
            clientRemove: '',
            browseClients: false,
            typeDelete: '',
            limit: 2,
            lastVisible: '',
            firstVisible: '',
            previousClient: false,
            nextClient: false,
            showSaving: false,
            showCvs: false,
            searchResult: '',
            showNewClient: false,
        }),
        components: {
            ContentLoader
        },
        filters: {
            humanDateTime: function (value) {
                return moment(value).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        watch: {
            searchQuery(value) {
                this.searchQueryResult(value);
            }
        },
        computed: {
            validClientRemove() {
                return this.typeDelete === 'Delete';
            },
        },
        methods: {
            getAllClients() {
                this.browseClients = false;
                let clients = [];
                let vm = this;
                clientReferences.get().then(function (documentSnapshots) {
                    documentSnapshots.forEach((doc) => {
                        let client = doc.data();
                        client["id"] = doc.id;
                        clients.push(client)
                    });
                });
                this.clients = clients
                // clientReferences.orderBy("FName").limit(this.limit).onSnapshot(async function (documentSnapshots) {
                //     let last = documentSnapshots.docs[documentSnapshots.docs.length - 1];
                //     clientReferences.orderBy("FName").startAfter(last).limit(vm.limit).onSnapshot(async function (documentSnapshots) {
                //         vm.nextClient = documentSnapshots.size > 0;
                //     });
                //     documentSnapshots.forEach((doc) => {
                //         let client = doc.data();
                //         client["id"] = doc.id;
                //         clients.push(client)
                //     });
                //     vm.lastVisible = last
                // });

            },
            nextClients() {
                let clients = [];
                let vm = this;
                clientReferences.orderBy("FName").startAfter(this.lastVisible).limit(this.limit).onSnapshot(async function (documentSnapshots) {
                    let last = documentSnapshots.docs[documentSnapshots.docs.length - 1];
                    clientReferences.orderBy("FName").startAfter(last).limit(vm.limit).get().then(function (subquerySnapshots) {
                        l
                        vm.nextClient = subquerySnapshots.size > 0
                    });
                    documentSnapshots.forEach((doc) => {
                        let client = doc.data();
                        client["id"] = doc.id;
                        clients.push(client)
                    });
                    vm.previousClient = true;
                    vm.firstVisible = documentSnapshots.docs[0];
                    vm.lastVisible = last
                });
                this.clients = clients
            },
            previousClients() {
                let clients = [];
                let vm = this;
                clientReferences.orderBy("FName").endBefore(this.firstVisible).limit(this.limit).onSnapshot(async function (documentSnapshots) {
                    let last = documentSnapshots.docs[documentSnapshots.docs.length - 1];
                    let first = documentSnapshots.docs[0];
                    clientReferences.orderBy("FName").endBefore(first).limit(1).get().then(function (subquerySnapshots) {
                        vm.previousClient = subquerySnapshots.size > 0;
                    });
                    documentSnapshots.forEach((doc) => {
                        let client = doc.data();
                        client["id"] = doc.id;
                        clients.push(client)
                    });
                    vm.nextClient = true
                    vm.firstVisible = first
                    vm.lastVisible = last
                });
                this.clients = clients
            },
            searchClients: function () {
                this.searchLoading = true;
                let vm = this;
                let clientsObjs = [];
                clientReferences.where(this.searchIn, "==", this.search).get()
                    .then(function (fetched) {
                        fetched.forEach(function (doc) {
                            let clientsObj = doc.data();
                            clientsObj["id"] = doc.id;
                            clientsObjs.push(clientsObj)
                        });
                        vm.clients = clientsObjs
                        if (!clientsObjs.length)
                            vm.searchDialog = true
                        vm.searchLoading = false;
                    });
            },
            updateApplicant(value) {
                this.$store.commit('showSaving', true);
                let index = this.clients.findIndex(x => x.id === value.id);
                Object.assign(this.clients[index], value);
            },
            cancelApplicantForm() {
                this.applicant = "";
                this.showForm = false;
                this.isClient = false
            },
            clientRemoveWarning(client, index) {
                this.clientRemoveConfirm = true;
                this.clientRemove = {
                    'id': client.id,
                    'index': index,
                    'fullName': client.FName
                }
            },
            removeClient() {
                this.clientRemoveConfirm = false;
                this.$store.dispatch('removeClient', {clientId: this.clientRemove.id}).then(() => {
                    this.clients.splice(this.clientRemove.index, 1);

                    let snackbar = {
                        'showSnackbar': true,
                        'type': 'success',
                        'message': this.clientRemove.fullName + ' is successfully removed'
                    };
                    this.$store.commit('snackbar', snackbar);
                    this.clientRemove = '';
                    this.typeDelete = '';
                })
            },
            searchQueryResult(id) {
                this.searchResult = this.clients.find(x => x.id === id)
            }
        },
        mounted() {
            this.getAllClients();
        }
    };
</script>
