<template>
    <v-app id="dashboard">
        <CVFnav :isTemplate="false"></CVFnav>
        <!-- SnackBar-->
        <v-snackbar buttom right :color="snackbar.type" v-model="snackbar.showSnackbar" :timeout="6000">
            {{snackbar.message}}
        </v-snackbar>
        <v-content style="background: #4f5259;" class="mt-3rem">
            <v-container class="fill-height d-flex flex-row flex-wrap justify-center">
                <v-col cols="12" sm="6" class="mx-auto">
                    <router-view></router-view>
                </v-col>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import CVFnav from "../components/CVFnav";
    import {mapState} from "vuex";

    export default {
        name: "MainLayout",
        computed: {
            ...mapState(['snackbar']),
        },
        components: {CVFnav}
    }
</script>