<template>
    <v-card class="px-6 align-self-start"
            min-height="500"
    >
        <div>
            <v-row>
                <v-col cols="8">
                    <v-row>
                        <v-col cols="6">
                            <v-text-field
                                    label="First Name"
                                    type="text"
                                    dense
                                    :hint="hint"
                                    :persistent-hint="true"
                                    :rules="[rules.required]"
                                    v-model="applicant.FName"
                                    class="ma-0 pa-0"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                    label="Middle Name"
                                    type="text"
                                    dense
                                    v-model="applicant.MName"
                                    class="ma-0 pa-0"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                    label="Last Name"
                                    type="text"
                                    dense
                                    v-model="applicant.LName"
                                    class="ma-0 pa-0"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                    label="Phone Number"
                                    type="text"
                                    dense
                                    class="ma-0 pa-0"
                                    v-model="applicant.phnum"
                            />
                        </v-col>
                        <v-col cols="6">
                            <v-menu
                            attach
                                    v-model="dateOfBirth"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                            v-model="applicant.date_of_birth"
                                            label="Date Of Birth"
                                            readonly
                                            v-bind="attrs"
                                            v-on="on"
                                    ></v-text-field>

                                </template>
                                <v-date-picker v-model="applicant.date_of_birth"
                                               @input="dateOfBirth = false"></v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="4" class="text-center">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-avatar :size="isCvMode ? 90 : 145" class="primary pointer" v-on="on">
                                <v-img
                                        :src="previewAvatar"
                                        class="white--text"
                                        @click.prevent="onPickFile"
                                />
                            </v-avatar>
                            <input type="file" ref="avatarImageInput" style="display: none"
                                   accept="image/png, image/jpeg, image/bmp" @change="onFilePicked">
                            <small class="red--text">{{avatarSize}}</small>
                        </template>
                        <span>Click to Change</span>
                    </v-tooltip>
                </v-col>
                <v-col cols="6">
                    <v-text-field
                            label="E-Mail"
                            type="text"
                            dense
                            v-model="applicant.email"
                            :rules="[rules.required, rules.email]"
                            :hint="hint"
                            :persistent-hint="true"
                            class="ma-0 pa-0"
                    />
                </v-col>
                <v-col cols="6">
                    <v-text-field
                            label="Address"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.addr"
                    />
                </v-col>
                <v-col cols="6">
                    <v-text-field
                            label="LinkedIn"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.LI"
                    />
                </v-col>
                <v-col cols="6">
                    <v-text-field
                            label="Instagram"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.IG"
                    />
                </v-col>
                <v-col cols="6">
                    <v-text-field
                            label="Facebook"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.FB"
                    />
                </v-col>
                <v-col cols="6">
                    <v-text-field
                            label="WWW"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.www"
                    />
                </v-col>
                <v-col cols="12">
                    <v-text-field
                            label="Current Job Designation"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.designation"
                    />
                </v-col>
                <v-col cols="12">
                    <v-text-field
                            label="Text for QR Code"
                            type="text"
                            dense
                            class="ma-0 pa-0"
                            v-model="applicant.qrtxt"
                    />
                </v-col>
            </v-row>
            <div align="center">
                <v-btn
                        color="success"
                        class="mx-2 mb-6"
                        @click.prevent=" applicant.id ? checkImage(applicant):checkEmail()"
                        :disabled="!validApplicant"
                >
                    {{applicant.id ? 'Update':'Save'}}
                </v-btn>
                <v-btn
                        color="warning text--primary"
                        class="mx-2 mb-6"
                        @click.prevent="cancelApplicantForm"
                        v-if="isCvMode"
                >
                    Cancel
                </v-btn>
            </div>
        </div>
    </v-card>
</template>

<script>
    const fb = require('../plugins/firebaseInit.js')

    import firebase from "firebase";
    import imagePlaceholder from "../assets/images/imagePlaceholder.jpg"
    import {mapState} from "vuex";
    import CVPresentation from "../views/CVPresentation";
    import {ContentLoader} from "vue-content-loader";

    let imageReferences = firebase.storage().ref().child("images");

    export default {
        name: "ApplicantForm",
        data() {
            return {
                applicant: {
                    id: "",
                    dispic: "",
                    FName: "",
                    MName: "",
                    LName: "",
                    email: "",
                    phnum: "",
                    addr: "",
                    LI: "",
                    IG: "",
                    FB: "",
                    www: "",
                    designation: "",
                    resume_count: 0,
                    count: 0,
                    cv_modified_at: moment().utc().format(),
                    created_at: moment().utc().format(),
                    updated_at: moment().utc().format(),
                    date_of_birth: new Date().toISOString().substr(0, 10),
                },
                showWarningBox: false,
                rules: {
                    required: value => !!value || 'Required.',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                },
                hint: '* mandatory field',
                previewAvatar: '',
                image: '',
                avatarSize: '',
                dateOfBirth: false
            }
        },
        props: ['selectedApplicant', 'showForm', 'isCvMode', 'clientId'],
        components: {CVPresentation, ContentLoader},
        filters: {
            humanDateTime: function (value) {
                return moment(value).format('MMMM Do YYYY, h:mm:ss a');
            }
        },
        watch: {
            selectedApplicant(val) {
                this.applicant = val;
                this.previewAvatar = this.applicant.dispic ? this.applicant.dispic : imagePlaceholder;
            },
        },
        computed: {
            ...mapState(['applicantCv']),
            validApplicant() {
                return !!(this.applicant.email && this.applicant.FName);
            },
            computedDateFormatted() {
                return this.formatDate(this.date)
            },
        },
        methods: {
            formatDate(date_of_birth) {
                if (!date_of_birth) return null

                const [year, month, day] = date_of_birth.split('-')
                return `${month}/${day}/${year}`
            },
            parseDate(date_of_birth) {
                if (!date_of_birth) return null

                const [month, day, year] = date_of_birthsplit('/')
                return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
            },
            onPickFile() {
                this.$refs.avatarImageInput.click();
            },
            onFilePicked(event) {
                const files = event.target.files
                let filename = files[0].name;
                this.avatarSize = files[0].size / 1024 / 1024 < 2 ? '' : 'Image Size is greater than 2Mb'
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('please upload valid file');
                }
                const fileReader = new FileReader()
                fileReader.addEventListener('load', () => {
                    this.previewAvatar = fileReader.result
                });
                fileReader.readAsDataURL(files[0])
                this.image = files[0];
            },
            checkEmail() {
                fb.clientsCollection
                    .where("email", "==", this.applicant.email)
                    .get()
                    .then((response) => {
                        if (!response.docs.length) {
                            return this.checkImage(this.applicant);
                        }

                        let snackbar = {
                            'showSnackbar': true,
                            'type': 'error',
                            'message': this.applicant.email + ' already exists'
                        };
                        this.$store.commit('snackbar', snackbar);
                    })
                    .catch(function (error) {
                        console.log("Error getting document:", error);
                    });
            },
            checkImage(applicant) {
                this.isCvMode ? this.$emit('showEdit', false) : ''
                if (!this.image) {
                    return this.applicant.id ? this.updateApplicant(applicant) : this.saveClient(applicant)
                }
                const storageRef = imageReferences.child(`${this.image.name}`).put(this.image);
                storageRef.on(`state_changed`, snapshot => {
                        this.uploadValue = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    }, error => {
                        console.log(error.message)
                    },
                    () => {
                        storageRef.snapshot.ref.getDownloadURL().then((url) => {
                            applicant['dispic'] = url;
                            this.applicant.id ? this.updateApplicant(applicant) : this.saveClient(applicant)
                        });
                    });
            },
            saveClient(applicant) {
                fb.clientsCollection.add(applicant).then((response) => {
                    this.applicant["id"] = response.id;
                    this.$store.dispatch('updateApplicant', {
                        'applicant': applicant, 'clientId': applicant.id
                    });

                    let snackbar = {
                        'showSnackbar': true,
                        'type': 'success',
                        'message': applicant.email + ' is successfully created'
                    };
                    this.$store.commit('snackbar', snackbar);

                    this.$router.push({name: 'applicant-cv-list', params: {'clientId': applicant.id}})
                });
            },
            updateApplicant(applicant) {
                this.applicant['updated_at'] = moment().utc().format();
                this.$store.dispatch('updateApplicant', {
                    'applicant': applicant, 'clientId': this.clientId
                });

                let snackbar = {
                    'showSnackbar': true,
                    'type': 'success',
                    'message': applicant.email + ' is successfully updated'
                };
                this.$store.commit('snackbar', snackbar);

                if (!this.isCvMode)
                    this.$router.push({name: 'clients'})
            },
            cancelApplicantForm() {
                if (this.isCvMode) {
                    $(".page-wrapper").removeClass("toggled");
                }
                this.showWarningBox = false;
                this.cvs = "";
                this.$emit('cancelApplicantForm');
            },
        },
        mounted() {
            if (this.isCvMode) {
                this.applicant = this.selectedApplicant;
                this.previewAvatar = this.applicant.dispic ? this.applicant.dispic : imagePlaceholder;
            }
            if (!this.selectedApplicant.dispic)
                this.previewAvatar = imagePlaceholder
        }
    }
</script>
