<template>
    <v-app-bar
            class="main-navbar d-print-none"
            dense
            dark
            :fixed="!isTemplate"
            flat
    >
        <v-btn icon @click.prevent="$router.push({name:'clients'})" v-if="isTemplate">
            <v-icon class="small wh-16">mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title class="pointer" :class="{'pl-0': $vuetify.breakpoint.smAndDown}"
                         @click.prevent="$router.push({name:'clients'})"
                         v-if="!isTemplate">Dashboard
        </v-toolbar-title>
        <v-toolbar-title :class="{'pl-0': $vuetify.breakpoint.smAndDown}" v-if="isTemplate">Editor</v-toolbar-title>
        <v-spacer></v-spacer>

        <h3 class="resume-user_name d-none d-lg-block" v-if="isTemplate">
            {{applicant.FName}} {{applicant.MName}} {{applicant.LName}}
        </h3>
        <v-spacer></v-spacer>
        <div v-if="!isTemplate && showSaving" class="download-layout mr-4"
             :class="{'p-16px': $vuetify.breakpoint.smAndDown}">
            <a class="download-layout__button ml-3">
                <v-progress-circular
                        indeterminate
                        size="24"
                        color="white"
                        class="mr-1"
                ></v-progress-circular>
                <span class="d-none d-lg-block ml-1">Saving</span>
            </a>
        </div>
        <router-link :to="{name:'applicant'}" v-if="!isTemplate &&( !$route.path.includes('create') && !$route.path.includes('edit'))">
            <v-btn depressed large color="rgb(120, 159, 207)" class="white--text mr-4">
                <v-icon class="mr-1">mdi-account-plus</v-icon>
                New Applicant
            </v-btn>
        </router-link>

        <v-menu offset-y v-model="accMenu">
            <template v-slot:activator="{ on }">
                <v-btn fab depressed small class="secondary white--text" v-on="on">
                    <v-icon>
                        mdi-power
                    </v-icon>
                </v-btn>
            </template>
            <v-list dense>
                <v-list-item class="indigo" dark>
                    <v-list-item-title>
                        Username
                    </v-list-item-title>
                </v-list-item>
                <v-divider/>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>Edit Profile</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>Change Theme</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="logout">
                    <v-list-item-content>
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-app-bar>
</template>

<script>
    import firebase from "firebase/app";
    import html2canvas from "html2canvas";
    import JsPDF from "jspdf";
    import {mapState} from "vuex";

    require("firebase/auth");

    export default {
        name: "CVFnav",
        props: ['isTemplate'],
        data: () => ({
            mini: true,
            //drawer: false,
            accMenu: false,
        }),
        computed: {
            ...mapState(['applicant', 'applicantCvType', 'showSaving']),
        },
        methods: {
            logout: function () {
                firebase
                    .auth()
                    .signOut()
                    .then(() => {
                        this.$router.replace({name: "login"});
                    });
            },
            // this only generates the snapshot pdf. content cannot be selected for copying and pasting.
            // async printDocument() {
            //     const pdf = new jspdf('p', 'mm', 'a4'); // A4 size page of PDF
            //     const imgWidth = 208;
            //     const position = 0;
            //
            //     let page1 = document.querySelector('.first-page');
            //     let page2 = document.querySelector('.second-page');
            //     const [imgPage1, imgPage2] = await Promise.all([html2canvas(page1), html2canvas(page2)]);
            //     // Process first images
            //     let imgHeight = imgPage1.height * imgWidth / imgPage1.width;
            //     let contentDataURL = imgPage1.toDataURL('images/png');
            //     pdf.addImage(contentDataURL, 'PNG', 0, position, imgWidth, imgHeight);
            //     pdf.addPage();
            //     // Process second images
            //     imgHeight = imgPage2.height * imgWidth / imgPage2.width;
            //     contentDataURL = imgPage2.toDataURL('images/png');
            //     pdf.addImage(contentDataURL, 'PNG', 0, position, imgWidth, imgHeight);
            //
            //     pdf.save('dashboard.pdf'); // Generated PDF
            // },
            async printPdfSnapshot() {
                jQuery(window).scrollTop(0);
                // $('body').scrollTop(0);
                const filename = this.applicant.email + '.pdf';
                // let id = '#' + this.applicantCvType.currtemplate + 'ToRenderAsPDF';
                let pageArray = document.getElementsByClassName("toRenderAsPdf");
                // let id = '#ToRenderAsPDF';
                let pdf = new JsPDF("p", "mm", "a4");
                for (let i = 0; i < pageArray.length; i++) {
                    await html2canvas($('.toRenderAsPdf')[i], {removeContainer: true}).then(canvas => {
                        pdf.addImage(canvas.toDataURL("image/png"), "PNG", -1.5, 0, 0, 0);
                        // pdf.addImage(canvas.toDataURL("images/png"), "PNG", -1.5, 0, pdf.internal.pageSize.getWidth(), pdf.internal.pageSize.getHeight());
                        // pdf.save(filename)
                    });
                    // quick fix optimization required
                    if (i != pageArray.length - 1)
                        pdf.addPage();
                }
                pdf.save(filename);
            },
            addNewClient() {
                this.$router.push({name: 'applicant', query: {form: true}})
            }

            // getScrollHeight() {
            //     let mainBar = $('.main-navbar');
            //     let editorBar = $('.editor-navbar');
            //     if ($(document).scrollTop() >= 200 && this.isTemplate) {
            //         mainBar.addClass('top-negative-50');
            //         editorBar.addClass('top-0');
            //         return
            //     }
            //
            //     mainBar.removeClass('top-negative-50');
            //     editorBar.removeClass('top-0');
            // }

        },
        mounted() {
            // document.addEventListener('scroll', this.getScrollHeight);
        }
    };
</script>
