<template>
    <v-toolbar dark dense class="editor-navbar sticky d-print-none" id="editor-navbar"
               style="background-color:#4f5259"
    >
        <v-menu attach fixed :close-on-content-click="false" offset-y content-class="layout-card"
                :class="{'layout-card__left': $vuetify.breakpoint.smAndDown}" id="btn-sidebar">
            <template v-slot:activator="{ on }">
                <a class="nav-item" v-on="on" @click.prevent="$emit('showLayout')">
                    <v-icon class="small ">mdi-menu</v-icon>
                    <span class="ml-1 d-none d-lg-block">Layout</span>
                </a>
            </template>
        </v-menu>
        <v-menu attach fixed :close-on-content-click="false" offset-y content-class="font-card">
            <template v-slot:activator="{ on }">
                <a class="nav-item" v-on="on">
                    <v-icon>mdi-format-font</v-icon>
                    <span class="ml-1 d-none d-lg-block">Font</span>
                    <v-icon>mdi-chevron-down</v-icon>
                </a>
            </template>
            <v-list class="font-card__layout">
                <v-list-item-title class="ml-2 mb-3">
                    Fonts
                    <div style="float:right; padding: 0px 10px;" id="select_fonts_for_tags_title">
                        <span><small>Header</small></span>
                        <span><small>Text</small></span>
                    </div>
                </v-list-item-title>
                <div class="pointer ml-4 mb-1" :id="applicantCvType.currentTemplate">
                    <v-list-item-title id="toggle_down" class="font-title" v-for="font in fonts">
                        <span :class="'font-title__'+font.value">{{font.label}}</span>
                        <div class="cv-headingContent-font">
                            <input type="radio" v-model="applicantCvType.headingFont" :value="font.value"
                                   class="cv-heading-font"
                                   :checked="applicantCvType.headingFont === font"
                                   @change="saveHeadingFont(font.value)">
                            <input type="radio" v-model="applicantCvType.contentFont" :value="font.value"
                                   class="cv-content-font"
                                   :checked="applicantCvType.contentFont === font"
                                   @change="saveContentFont(font.value)">
                        </div>
                    </v-list-item-title>
                </div>
                <v-divider class="mt-2"></v-divider>
                <v-list-item-title class="ml-2 mb-3">Font Size</v-list-item-title>
                <v-radio-group @click.native="saveApplicantCvType" row
                               class="ml-2 m-auto"
                               v-model="applicantCvType.currentFontSize">
                    <v-radio label="L" value="large"></v-radio>
                    <v-radio label="M" value="medium"></v-radio>
                    <v-radio label="S" value="small"></v-radio>
                </v-radio-group>
            </v-list>
        </v-menu>
        <v-menu attach fixed :close-on-content-click="false" offset-y content-class="font-card">
            <template v-slot:activator="{ on }">
                <a class="nav-item" v-on="on">
                    <v-icon class="small ">mdi-fountain-pen</v-icon>
                    <span class="ml-1 d-none d-lg-block">Theme</span>
                    <v-icon>mdi-chevron-down</v-icon>
                </a>
            </template>
            <v-list class="font-card__layout">
                <v-list-item-title class="ml-2 mb-3">
                    Theme
                </v-list-item-title>
                <div class="pointer ml-4 mb-1">
                    <v-avatar v-for="color in colors"
                              :color="color.headingBackground" size="48" class="mr-2 mb-2"
                              :class="applicantCvType.headingBackground === colorInRGB(color.headingBackground) &&
                                       applicantCvType.headingColor === colorInRGB(color.headingColor) ? 'theme-color_active':''"
                              @click.prevent="updateBackgroundColor">
                        <v-avatar :color="color.headingColor" size="16" class="theme-layout_second">
                        </v-avatar>
                    </v-avatar>
                </div>
            </v-list>
        </v-menu>
        <v-menu attach fixed :close-on-content-click="false" offset-y content-class="template-card"
                :class="{'template-card__left': $vuetify.breakpoint.smAndDown}">
            <template v-slot:activator="{ on }">
                <a class="nav-item" v-on="on">
                    <v-icon class="small">mdi-bookshelf</v-icon>
                    <span class="ml-1 d-none d-lg-block">Templates</span>
                    <v-icon>mdi-chevron-down</v-icon>
                </a>
            </template>
            <v-card class="template-card__layout">
                <v-container fluid>
                    <v-row>
                        <v-col
                                v-for="(template,index) in templateImages"
                                :key="index"
                                @click.prevent="changeTemplate(template)"
                                class="d-flex child-flex pointer"
                                cols="4"
                        >
                            <v-img
                                    :src="template.image"
                                    :lazy-src="template.image"
                                    aspect-ratio="1"
                                    class="template-thumb-image"
                                    :class="{'template-thumbnail': template.id === applicantCvType.currentTemplate }"
                            >
                                <v-btn rounded color="#24c85c" dark class="template-image_button"
                                       v-if="template.id !== applicantCvType.currentTemplate">Choose
                                </v-btn>
                                <span class="template-card_title">{{template.title}}</span>
                            </v-img>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-menu>
        <v-menu attach :close-on-content-click="false" offset-y content-class="skill-card">
            <template v-slot:activator="{ on }">
                <a class="nav-item" v-on="on">
                    <v-icon color="#eee">mdi-head-lightbulb-outline</v-icon>
                    <span class="ml-1 d-none d-lg-block">Skill</span>
                    <v-icon>mdi-chevron-down</v-icon>
                </a>
            </template>
            <v-card class="padding-6">
                <span>Design, Column & Letter</span>
                <div class="display-flex">
                    <div class="mt-5">
                        <span class="ml-2 mb-3">Skills Style</span>
                        <v-radio-group column @change="saveApplicantCvType"
                                       class="ml-2 mt-5" v-model="applicantCvType.skillType">
                            <v-radio label="Boxed" value="boxed"></v-radio>
                            <div class="skill-theme_position" @click.prevent="showSkillTheme = !showSkillTheme">
                                <div class="skill-theme_circle"></div>
                            </div>
                            <v-radio label="Disc" value="disc"></v-radio>
                            <v-radio label="Circle" value="circle"></v-radio>
                            <v-radio label="Square" value="square"></v-radio>
                            <v-radio label="Pipe" value="pipe"></v-radio>
                            <v-radio label="None" value="none"></v-radio>
                        </v-radio-group>
                    </div>
                    <div class="mt-5">
                        <span class="ml-2 mb-3">Skills Column</span>
                        <v-radio-group column @change="saveApplicantCvType"
                                       class="ml-2 mt-5" v-model="applicantCvType.skillColumn">
                            <v-radio label="One" value="first"></v-radio>
                            <v-radio label="Two" value="second"></v-radio>
                            <v-radio label="Three" value="third"></v-radio>
                            <v-radio label="Four" value="fourth"></v-radio>
                        </v-radio-group>
                    </div>
                    <div class="mt-5">
                        <span class="ml-2 mb-3">Skill Case</span>
                        <v-radio-group column @change="saveApplicantCvType"
                                       class="ml-2 mt-5" v-model="applicantCvType.skillCase">
                            <v-radio label="Uppercase" value="uppercase"></v-radio>
                            <v-radio label="Capitalize" value="capitalize"></v-radio>
                            <v-radio label="Normal" value="normal"></v-radio>
                        </v-radio-group>
                    </div>
                </div>
            </v-card>

            <v-dialog v-model="showSkillTheme" max-width="350">
                <v-card>
                    <v-card-title class="subhead">Choose Skill Background Color.</v-card-title>
                    <v-card-text>
                        <div class="pointer ml-4 mb-1">
                            <v-avatar v-for="color in skillColor"
                                      :color="color.skillBackground" size="48" class="mr-2 mb-2"
                                      :class="{'theme-color_active':applicantCvType.skillBackground === colorInRGB(color.skillBackground)}"
                                      @click.prevent="updateSkillBackgroundColor">
                            </v-avatar>
                        </div>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-menu>
        <v-menu attach fixed :close-on-content-click="false" offset-y content-class="font-card">
            <template v-slot:activator="{ on }">
                <a class="nav-item" v-on="on">
                    <v-icon class="small ">mdi-cog-outline</v-icon>
                    <span class="ml-1 d-none d-lg-block">Setting</span>
                    <v-icon>mdi-chevron-down</v-icon>
                </a>
            </template>
            <v-list class="font-card__layout">
                <v-list-item-title class="ml-2 mb-3">Heading Font Style</v-list-item-title>
                <v-radio-group column @change="saveApplicantCvType"
                               class="ml-2 m-auto" v-model="applicantCvType.headingCase">
                    <v-radio label="Capitalize" value="capitalize"></v-radio>
                    <v-radio label="Uppercase" value="uppercase"></v-radio>
                    <v-radio label="Normal" value="normal"></v-radio>
                </v-radio-group>
                <v-divider></v-divider>
                <v-list-item-title class="ml-2 mb-3">Image Style</v-list-item-title>
                <v-switch class="ml-2 m-auto" v-model="applicantCvType.isCircularImage" flat label="Circular Image"
                          @change="saveApplicantCvType"></v-switch>
                <v-switch class="ml-2 m-auto" v-model="applicantCvType.hasImageBorder" flat label="Border Image"
                          @change="saveApplicantCvType"></v-switch>
            </v-list>
        </v-menu>
        <v-spacer></v-spacer>

        <div class="mr-3 display_flex">
            <v-icon class="pointer mr-3 undo">mdi-undo-variant</v-icon>
            <v-icon class="pointer redo">mdi-redo-variant</v-icon>
        </div>
        <v-menu
                v-model="showExport"
                :close-on-content-click="false"
                offset-y
                content-class="export-card"
        >
            <template v-slot:activator="{ on }">
                <div class="download-layout">
                    <a class="download-layout__button ml-3" v-on="on">
                        <v-progress-circular
                                indeterminate
                                size="24"
                                color="white"
                                class="mr-1"
                                v-if="showSaving"
                        ></v-progress-circular>
                        <v-icon dark left v-if="!showSaving" class="wh-16">mdi-download</v-icon>
                        <span class="d-none d-lg-block">{{showSaving ? 'Saving':'Download'}}</span>
                    </a>
                </div>
            </template>
            <v-card v-if="showExport">
                <v-list class="mt-n-20 mb-n-15">
                    <v-list-item>
                        <v-list-item-avatar>
                            <v-icon>mdi-download</v-icon>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>Download</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-btn
                                    class="red--text"
                                    icon
                                    @click.prevent="showExport = !showExport"
                            >
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>File Type</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-select
                                v-model="downloadFormat"
                                :items="items"
                                required
                                dense
                                outlined
                        ></v-select>
                    </v-list-item>
                </v-list>
                <v-card-actions class="mt-n-30">
                    <v-btn block color="blue darken-1 white--text" @click="download">Download</v-btn>
                </v-card-actions>
            </v-card>
        </v-menu>
        <!--  Progress Bar Start -->
        <v-dialog
                v-model="showProgressBar"
                persistent
                max-width="560"
                content-class="download_progress"
        >
            <v-card>
                <v-container>
                    <v-row
                            class="fill-height"
                            align-content="center"
                            justify="center"
                    >
                        <v-col
                                class="subtitle-1 text-center"
                                cols="12"
                        >
                            <h3>Preparing your design.</h3>
                            <p style="color: gray">{{downloading_text}}</p>
                        </v-col>
                        <v-col cols="10">
                            <v-progress-linear
                                    v-model="convertPercentage"
                                    color="blue-grey"
                                    height="25"
                                    reactive
                                    rounded
                            >
                                <strong>{{ Math.ceil(convertPercentage) }}%</strong>
                            </v-progress-linear>
                        </v-col>

                        <div class="text-center my-4">
                            <v-btn rounded color="primary" dark @click.prevent="cancelDownload">Cancel</v-btn>
                        </div>
                    </v-row>
                </v-container>
            </v-card>
        </v-dialog>
        <!--  Progress Bar End -->
    </v-toolbar>
</template>

<script>
    import {mapState} from "vuex";
    import basicTemplate from "../assets/images/templates/Basic.png";
    import simpleQrTemplate from "../assets/images/templates/simpleQr.png";
    import axios from 'axios'

    import CloudConvert from "cloudconvert";
    import firebase from "firebase";
    import html2canvas from "html2canvas";
    import JSZip from "jszip";
    import saveAs from "jszip/vendor/FileSaver.js";
    // const CloudConvert = require('cloudconvert')
    // const cloudConvert = new CloudConvert('eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImZjYzRhOTM5ZDA4MzIxYzFjN2I3NDEyMGM5NmNkMTgzMmY4ZDg3NDc5Yjg4YjE3MzBmMTcwNjlhMDc5YTM3MzI5MTNlYzFiY2RlYTVkOTgwIn0.eyJhdWQiOiIxIiwianRpIjoiZmNjNGE5MzlkMDgzMjFjMWM3Yjc0MTIwYzk2Y2QxODMyZjhkODc0NzliODhiMTczMGYxNzA2OWEwNzlhMzczMjkxM2VjMWJjZGVhNWQ5ODAiLCJpYXQiOjE1OTEwMjY3NTgsIm5iZiI6MTU5MTAyNjc1OCwiZXhwIjo0NzQ2NzAwMzU4LCJzdWIiOiI0Mjc5MjYxMCIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.V0lL5suOTFmcO3-mwnVnyYA7UPYT77qyRX-9k5g0f2NxUDWiA_UnnxAplqSHi3KHDhruHpQY6ygghYn4xg7ZLkZdT7vO5iDiSMhgOy4BFn1TFmNMikAp6MHJ0wPhDcVBIdDBZxjhwjl-xXhRlN1AB-Wu5vJUi9CJULCHVRj-_bmDumm2v0vshWzQ7MPqfGlo-qhPFYNzcnHee9vqnuaPrZGyh-paU55TRCSEwW2a6K1lVjMnkX8pWaWm3VrXFuiIHwjFuhl50p3wW2XTVD1EQF5gYiMptFHfgw6TOYAafui084bZFcPRpbUTXoNfnlum--MccSZIYwel1YWpucDlcaKuyVZj4aj-SvqZf5dpU5Ytdoy2L2Cwnm-zSXNjrR7M-yV7jeKjAXEj4hKUb-D_oZfbzMslhANjPe4DT6XznXv9O5-xRk3OP7GAIiylQJfnPYm5v51v32FWBnGIKfRKnsvMmETtKdrT37i2T-rwRk46j-b-lSgrzJkaXwQbPCAqYk1twcaZL7ayvRKZvvoepD2AG0jP__ut1Bn6sIiAPlI_WeT0w5yQ4sF4JxVCfg1Adiz2FyEKykCol0QXVSFjg_-h08Crjs_fogqf-B2fRX20V3nCZzSbxArMS2hx2GG1ZYXF_9dS9EkW0b6FDYHLbpPXlM0F4avJHWiDpWJfNvg');
    // const cloudConvert = new CloudConvert('eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImMxNGYwOTQyOGFiMGFiN2I4Yjc0NWVhMWM1OTcyMWZmMzVkMzRhY2VmMzk0MmQ1ODYyYzgxYWNiYTFlNzZkMTQ4ZWM1NDQxYjFkNGJiMDcxIn0.eyJhdWQiOiIxIiwianRpIjoiYzE0ZjA5NDI4YWIwYWI3YjhiNzQ1ZWExYzU5NzIxZmYzNWQzNGFjZWYzOTQyZDU4NjJjODFhY2JhMWU3NmQxNDhlYzU0NDFiMWQ0YmIwNzEiLCJpYXQiOjE1ODk5ODQzMzEsIm5iZiI6MTU4OTk4NDMzMSwiZXhwIjo0NzQ1NjU3OTMxLCJzdWIiOiI0MjQ2MDE1NyIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.pnxqs386g73Had9uY-er5qdP9t0ZGTc3ZAwF1lfZL7TdAAM6904Aw4_OvVsKoaDUUjJ1SgLwpvI7TZ0ft_jUq9tJc6M_onHOP_Xk8lj19lPViIZJ7LniX2I7cF4bKFbGmV8jTIl1gyX8erCleNdpKgvE9kQxPmtGu-ca6dH75rNG4iDBv7KW6Xl4gyPg9E77oI8B9Y2MkoulGJn579U4JYko52JDy8s5OjkCW0LUnbbbQZuEdlXRC_1B7XPNmNIJPOLXrl2zzQi8B9EIexob6spPdHbScw2Hzi5Tn-d37wCcHvITV1NM5rbln8Wl8cPBzvF2PNDNZmZmqVm4MX2RZVw6VK3Gr28QkWcpSgswNa6EMRxsKeTToTkaI_woBl9V1t5-1p6h1mKcXzTSRrWQlBh4LDiCKI0yAmfONsWuyBUvvQE780j033LKv9FhydXTp8KKCf8sJ2GKaSiGAC3yW5B8fNAaVLvSjYP0HZIyb86YDSJPfn7JTwWqX4lfTWNqopxVjZlhsEhDxgyQHCI_LyDB3popyWemZh21aJ4WuQPv2fSsYmCCBC0wIDrUrwVKBUuKJhE97p7cZmAR_9A-BLzsjMCDUcASCGf82QrW7x43Kj5Q3LpNcdCHO5uhIam9Z2FPnBqlbrVYms9Bwx7adbSkehOUpj7OHpZuzf81jBo');
    const cloudConvert = new CloudConvert('eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6Ijk4NGFlNTAyZmFhZDg0NGI5N2YyMjAzYWRmMDg4YzQzODg4Yjg4NWEyOWQ2ZGM0N2U2NGYxMTEyYTc5Y2Q3YWRmOWIyYjc2ZmFiMDQzZGI0In0.eyJhdWQiOiIxIiwianRpIjoiOTg0YWU1MDJmYWFkODQ0Yjk3ZjIyMDNhZGYwODhjNDM4ODhiODg1YTI5ZDZkYzQ3ZTY0ZjExMTJhNzljZDdhZGY5YjJiNzZmYWIwNDNkYjQiLCJpYXQiOjE1OTEwMjIyODUsIm5iZiI6MTU5MTAyMjI4NSwiZXhwIjo0NzQ2Njk1ODg1LCJzdWIiOiI0MjUyNDY0NSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.VKYL7UBsQhn2BVa_RIOkN-ftkS9HoKedcNQ7SNd4sojJBNL47UhqD8W_AUsjSG1LVh5zDxazS0y-rBxR3JgRxcya8w2jkR76qbAIfcsmqn6BwDnocdk4Ns3aBXSO8NofhnlKUScb3AxnjAwqYkvS9cMePPKpU7G97sKjeUG11Lu0MjAnbNFehsRDAEYO2z9kYu0DXbqinYnsGd-BJS1PANCZF561yCaCSuRG4_YuCSVxffa6JQA-gGDeMJl29GKfo-fKeX4OWygkjk0fqKfxIHggoNVM6PdxepBFkWBZT2uRdOuXfobYgjQAvov7P793l5B0MHNaLB1gx8315Tjq-DQ3miyyPcrdKqj2NoXlQKwSBbaPfiyVNy9yR_uxUGkocZf41_kUxTduUPcSNOS8LvR3nL620pkx7X5nQ2WsZlEYdym9EYFDw-SUIyGlEEmu9sEQKG9DFtRODFg_bcwPmD-k2RwHXV9FxeDN7Xs4lmKEOix-TWqO5BVRArgE7ueKH-CcpAJf5rCOCykgEC63x7yDej0c8QCKDDLScpkoIxLVbquIXUe5qhNM3Y1uoMXfr5s-xy7HhTScG1UuyBEWJMRvX-i56lWkqkxjIPyCD0k8Qt4yMwEFXSfxmWYOImopnLSg_beYq8WQIGQ4nUCilftpCRbOiLWgBV1leKnGla0');

    let storageRef = firebase.storage().ref();

    require("firebase/auth");

    export default {

        name: "EditorNavbar",
        data() {
            return {
                templateImages: [
                    {'image': basicTemplate, 'title': 'Basic', 'id': 'CVbasic'},
                    // {'image': executiveTemplate, 'title': 'Executive', 'id': 'CVexec'},
                    {'image': simpleQrTemplate, 'title': 'Simple QR', 'id': 'CVqr'},
                    {'image': basicTemplate, 'title': 'Chartered Accountant', 'id': 'CharteredAccountant'},
                    {'image': basicTemplate, 'title': 'Sales Operations', 'id': 'SaleOperation'},
                    {'image': basicTemplate, 'title': 'ATS Compliant', 'id': 'AtsCompliant'},
                    {'image': basicTemplate, 'title': 'Sales Executive', 'id': 'SalesExecutive'}
                ],
                fonts: [
                    {label: 'Times New Roman', value: 'timesnewroman'},
                    {label: 'Arial', value: 'arial'},
                    {label: 'Quicksand', value: 'quicksand'},
                    {label: 'Ubuntu', value: 'ubuntu'},
                    {label: 'Raleway', value: 'raleway'},
                    {label: 'Roboto', value: 'roboto'}
                ],
                colors: [
                    {'headingBackground': '#344251', 'headingColor': '#5693cb'},
                    {'headingBackground': '#5b718b', 'headingColor': '#87898c'},
                    {'headingBackground': '#384458', 'headingColor': '#479099'},
                    {'headingBackground': '#2dbcad', 'headingColor': '#2b343f'},
                    {'headingBackground': '#f04e41', 'headingColor': '#2b343f'},
                    {'headingBackground': '#c7a163', 'headingColor': '#631a36'},
                    {'headingBackground': '#4f90cd', 'headingColor': '#2b343f'},
                    {'headingBackground': '#2dbcad', 'headingColor': '#3e787c'},
                    {'headingBackground': '#db318a', 'headingColor': '#3c326d'},
                    {'headingBackground': '#f04e41', 'headingColor': '#3f74a0'},
                    {'headingBackground': '#2dbcad', 'headingColor': '#000'},
                    {'headingBackground': '#f99f3e', 'headingColor': '#000'},
                    {'headingBackground': '#4f90cd', 'headingColor': '#000'},
                    {'headingBackground': '#b2b2b2', 'headingColor': '#f04c40'},
                    {'headingBackground': '#b2b2b2', 'headingColor': '#631a36'},
                    {'headingBackground': '#8e8e8e', 'headingColor': '#3f74a0'},
                    {'headingBackground': '#8e8e8e', 'headingColor': '#000'},
                    {'headingBackground': '#242424', 'headingColor': '#242424'},
                ],
                skillColor: [
                    {'skillBackground': '#344251'},
                    {'skillBackground': '#5b718b'},
                    {'skillBackground': '#384458'},
                    {'skillBackground': '#2dbcad'},
                    {'skillBackground': '#f04e41'},
                    {'skillBackground': '#c7a163'},
                    {'skillBackground': '#4f90cd'},
                    {'skillBackground': '#631a36'},
                    {'skillBackground': '#db318a'},
                    {'skillBackground': '#2b343f'},
                    {'skillBackground': '#3e787c'},
                    {'skillBackground': '#479099'},
                    {'skillBackground': '#87898c'},
                    {'skillBackground': '#5693cb'},
                    {'skillBackground': '#b2b2b2'},
                    {'skillBackground': '#000'},
                    {'skillBackground': '#8e8e8e'},
                    {'skillBackground': '#242424'},
                ],
                headingCase: '',
                bulletStyle: '',
                headingFont: '',
                contentFont: '',
                showExport: false,
                downloadFormat: 'PDF & DOCX',
                items: ['PDF & DOCX', 'PDF only', 'PNG', 'JPG'],
                showProgressBar: false,
                convertPercentage: 0,
                isCanceled: false,
                downloading_text: '',
                showSkillTheme: false
            }
        },
        watch: {
            showSaving(val) {
                if (!val) return;
                this.removeSync();
            }
        },
        computed: {
            ...mapState(['applicant', 'applicantCvType', 'cvDisplaySetting', 'showSaving', 'showSyncing']),
        },
        methods: {
            changeTemplate(template) {
                if (this.applicantCvType.currentTemplate === template.id)
                    return;

                this.applicantCvType.currentTemplate = template.id;
                this.saveApplicantCvType();
            },
            saveHeadingFont(font) {
                this.applicantCvType.headingFont = font;
                this.saveApplicantCvType();
            },
            saveContentFont(font) {
                this.applicantCvType.contentFont = font;
                this.saveApplicantCvType();
            },
            saveApplicantCvType() {
                this.$store.commit('showSaving', true);
                this.$store.dispatch('storeCvType', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    applicantCvType: this.applicantCvType
                }).then(response => {
                    this.$store.commit('applicantCvType', this.applicantCvType);
                    this.$emit('changeApplicantCvType', this.applicantCvType);
                })
            },
            saveCvSetting() {
                this.$store.commit('showSaving', true);
                this.$store.dispatch('storeCvDisplaySetting', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    cvDisplaySetting: this.cvDisplaySetting
                })
            },
            updateBackgroundColor($event) {
                this.applicantCvType.headingBackground = event.currentTarget.style.backgroundColor;
                this.applicantCvType.headingColor = event.currentTarget.firstChild.style.backgroundColor;
                this.saveApplicantCvType();
            },
            updateSkillBackgroundColor($event) {
                this.applicantCvType.skillBackground = event.currentTarget.style.backgroundColor;
                this.saveApplicantCvType();
            },
            colorInRGB: function (color) {
                color = color.replace('#', '');
                let r = parseInt(color.substring(0, 2), 16);
                let g = parseInt(color.substring(2, 4), 16);
                let b = parseInt(color.substring(4, 6), 16);
                let result = 'rgb(' + r + ', ' + g + ', ' + b + ')';
                return result
            },
            download() {
                // $(".download_progress").parent().css("backdrop-filter", "blur(5px)");
                this.showProgressBar = true;
                this.showExport = false;
                this.convertPercentage = 20;

                if (this.isCanceled)
                    return;

                if (this.downloadFormat === 'PNG' || this.downloadFormat === 'JPG')
                    this.buildImage();

                if (this.downloadFormat === 'PDF only' || this.downloadFormat === 'PDF & DOCX') {
                    this.build(this.downloadFormat)
                }

                // let vm = this;
                // if (vm.downloadFormat === 'DOCX') {
                //     // $.fn.ignore = function (sel) {
                //     //     return this.clone().find(sel || ">*").remove().end();
                //     // };
                //
                //     // storageRef.child(this.applicantCvType.cvTitle + '.html').putString(html).then(function (snapshot) {
                //     //     snapshot.ref.getDownloadURL().then((url) => {
                //     //         vm.convertPercentage = 40;
                //     //         if (vm.isCanceled)
                //     //             return;
                //     //         vm.buildDoc(url);
                //     //     });
                //     // });
                // }
            },
            buildImage() {
                let vm = this;

                if (this.isCanceled)
                    return;

                this.convertPercentage = 40;
                let output_format = this.downloadFormat.toLowerCase().trim();
                let element = $(".toRenderAsPdf ");

                this.convertPercentage = 60;

                let zip = new JSZip();
                for (let i = 0; i < element.length; i++) {
                    let file = element[i];
                    html2canvas(file, {
                        allowTaint: true,
                        useCORS: true
                    }).then(function (canvas) {
                        let imageUri = canvas.toDataURL();
                        let idx = imageUri.indexOf('base64,') + 'base64,'.length;
                        let content = imageUri.substring(idx);
                        zip.file(vm.applicantCvType.cvTitle + '_' + i + '.' + output_format, content, {base64: true});

                        if (vm.isCanceled)
                            return;

                        if (i === element.length - element.length) {
                            vm.convertPercentage = 80;
                            zip.generateAsync({type: "blob"}).then(function (content) {
                                saveAs(content, `${vm.applicantCvType.cvTitle}_images.zip`);
                            });
                        }
                    });
                }

                if (this.isCanceled)
                    return;

                setTimeout(() => {
                    $(".download_progress").parent().removeAttr("style");
                    this.showProgressBar = false;
                    this.convertPercentage = 0;
                }, 1000);
            },
            async build(downloadFormat) {
                // axios.get('http://localhost:5000/convert?downloadFormat='+ downloadFormat+'&cvid='+ this.$route.params.cvid+'&clid='+this.$route.params.clid+'&cvTitle='+ this.applicantCvType.cvTitle,

                if (this.isCanceled)
                    return;

                this.downloading_text = 'Downloading pdf'
                let url = process.env.VUE_APP_BASE_URL + '/presentation/' + this.$route.params.clid + '/' + this.$route.params.cvid;

                let job = await cloudConvert.jobs.create({
                    "tasks": {
                        "task-1": {
                            "operation": "capture-website",
                            "url": url,
                            "filename": this.applicantCvType.cvTitle + '.pdf',
                            "output_format": 'pdf',
                            "engine": "chrome",
                            "zoom": 1,
                            "margin_top": 0,
                            "margin_bottom": 0,
                            "margin_left": 0,
                            "margin_right": 0,
                            // "page_width": 21.0,
                            // "page_height": 29.7,
                            "page_width": 21,
                            "page_height": 29.718,
                            "print_background": true,
                            "display_header_footer": false,
                            "wait_until": "networkidle2",
                            "wait_time": 0
                        },
                        'export-my-file': {
                            'operation': 'export/url',
                            'input': 'task-1'
                        }
                    }
                });


                this.convertPercentage = 60;
                job = await cloudConvert.jobs.wait(job.id); // Wait for job completion
                const exportTask = job.tasks.filter(task => task.operation === 'export/url' && task.status === 'finished')[0];
                const file = exportTask.result.files[0];

                this.convertPercentage = 80;
                let newURl = file.url;

                const link = document.createElement('a');
                link.href = newURl;
                link.setAttribute('download', this.applicantCvType.cvTitle + '.pdf'); //or any other extension
                document.body.appendChild(link);
                this.convertPercentage = 90;

                if (this.isCanceled)
                    return;

                setTimeout(() => {
                    link.click();
                    // $(".download_progress").parent().removeAttr("style");
                    if (downloadFormat === 'PDF only')
                        this.showProgressBar = false;
                    this.convertPercentage = 0;
                }, 100);

                if (downloadFormat === 'PDF & DOCX') {
                    this.downloading_text = 'PDF is ready. Downloading DOCX'

                    this.showProgressBar = true
                    let baseUrl = 'https://fast-forest-88095.herokuapp.com/'
                    // let baseUrl = 'http://localhost:5002/'
                    axios.get(baseUrl + 'hello').then(resgponse => {
                        console.log(response.data)
                    })
                    axios.post(baseUrl + 'convert',
                        {
                            url: newURl
                        },
                        {
                            // responseType: 'arraybuffer',
                            // headers: {
                            //     'Content-Type': 'application/json',
                            //     'Accept': 'application/pdf,application/json'
                            // },
                            responseType: 'blob',
                            maxContentLength: 100000000,
                            maxBodyLength: 1000000000,

                            onUploadProgress: progressEvent => {
                                this.convertPercentage = Math.floor((progressEvent.loaded * 100) / progressEvent.total) / 2;
                                // do whatever you like with the percentage complete
                                // maybe dispatch an action that will update a progress bar or something
                            },
                            onDownloadProgress: progressEvent => {
                                this.convertPercentage += Math.floor((progressEvent.loaded * 100) / progressEvent.total) / 2;

                            }
                        }
                    ).then(res => {
                        this.showProgressBar = false
                        // console.log(res.data)
                        url = window.URL.createObjectURL(new Blob([res.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', this.applicantCvType.cvTitle + '.docx'); //or any other extension
                        document.body.appendChild(link);
                        link.click();
                    })
                }


            },
            async buildDoc(url) {
                if (this.isCanceled)
                    return;

                let job = await cloudConvert.jobs.create({
                    'tasks': {
                        'import-my-file': {
                            'operation': 'import/url',
                            'url': url
                        },
                        'convert-my-file': {
                            'operation': 'convert',
                            'input': 'import-my-file',
                            'output_format': 'docx',
                            "filename": this.applicantCvType.cvTitle + '.docx',
                            'engine': "libreoffice",
                        },
                        'export-my-file': {
                            'operation': 'export/url',
                            'input': 'convert-my-file'
                        }
                    }
                });

                this.convertPercentage = 60;

                job = await cloudConvert.jobs.wait(job.id); // Wait for job completion
                const exportTask = job.tasks.filter(task => task.operation === 'export/url' && task.status === 'finished')[0];
                const file = exportTask.result.files[0];

                this.convertPercentage = 80;

                let newURl = file.url;
                const link = document.createElement('a');
                link.href = newURl;
                link.setAttribute('download', 'remaining_fee.docx'); //or any other extension
                document.body.appendChild(link);
                this.convertPercentage = 90;

                if (this.isCanceled)
                    return;

                setTimeout(() => {
                    link.click();
                    $(".download_progress").parent().removeAttr("style");
                    this.showProgressBar = false;
                    this.convertPercentage = 0;
                }, 100);
            },
            cancelDownload() {
                $(".download_progress").parent().removeAttr("style");
                this.isCanceled = true;
                this.convertPercentage = 0;
                this.showProgressBar = false;
            },
        }
    }
</script>
<style>
    .v-select.v-input--is-dirty input {
        display: none;
    }

    .v-select__selection {
        max-width: none;
    }

    .v-select {
        min-width: 250px;
    }
</style>
