<template>
    <p
            ref="editable"
            class="editable"
            @keydown.enter="setNextLine"
            v-bind:innerText.prop="value"
            :contenteditable="canEdit"
            v-on="listeners"
    />

</template>
<style>
    p {
        display: flex;
        flex: auto;
        word-break: break-word;
    }
</style>
<script>
    var _ = require('lodash');

    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
            canEdit: {
                default: true,
                type: Boolean
            },
            canEnter: {
                default: false,
                type: Boolean
            },
        },
        computed: {
            listeners() {
                return {...this.$listeners, input: this.onInput};
            },
        },
        mounted() {
            this.$refs.editable.innerText = this.value;
        },
        methods: {
            onInput(e) {
                this.$vnode.child._vnode.data.domProps['innerText'] = e.target.innerText;
                this.$emit('input', e.target.innerText);
            },
            setNextLine() {
                if (!this.canEnter)
                    event.preventDefault();
            }
        },
    };
</script>
