<template>
    <p
            ref="editable"
            class="editable"
            @keydown.enter="setNextLine"
            v-bind:innerHTML.prop="value"
            v-on="listeners"
    />
</template>
<style>
    p {
        /*display: -webkit-box;*/
        display: flex;
        flex: auto;
        flex-direction: column;
        margin-bottom: 0 !important;
    }
</style>

<script>
    import MediumEditor from "medium-editor";
    import $ from "jquery";
    import Vue from 'vue'

    var _ = require('lodash');

    export default {
        name: "EditableHtml",
        props: {
            value: {
                type: String,
                default: '',
            },
            canEdit:  {
                default: false,
                type: Boolean
            },
            canEnter: {
                default: false,
                type: Boolean
            },
        },
        computed: {
            listeners() {
                return {...this.$listeners, input: this.onInput};
            },
        },
        mounted() {
            this.$refs.editable.innerHTML = this.value;
            let el = this.$el
            let vm = this;
            Vue.nextTick(function () {
                if (vm.canEdit)
                    new MediumEditor(el, {
                        // disableReturn:true,
                        placeholder: {
                            hideOnClick: false,
                            text: $(el).attr('placeholder')
                            // text:''
                        },
                        toolbar: {
                            /* These are the default options for the toolbar,
                               if nothing is passed this is what is used */
                            allowMultiParagraphSelection: true,
                            buttons: ['bold', 'italic', 'underline', 'anchor'],
                            diffLeft: 0,
                            diffTop: -20,
                            firstButtonClass: 'medium-editor-button-first',
                            lastButtonClass: 'medium-editor-button-last',
                            relativeContainer: null,
                            standardizeSelectionStart: false,
                            static: false,
                            /* options which only apply when static is true */
                            align: 'center',
                            sticky: false,
                            updateOnEmptySelection: false
                        },
                    });
            });

        },
        methods: {
            onInput(e) {
                this.$vnode.child._vnode.data.domProps['innerHTML'] = e.target.innerHTML;
                this.$emit('input', e.target.innerHTML);
            },
            setNextLine() {
                if (!this.canEnter)
                    event.preventDefault();
            }
        },
    };
</script>
