<template>
    <v-menu
            ref="menu"
            attach
            flat
            v-model="showMenu"
            :close-on-content-click="false"
            transition="scale-transition"
            max-width="290px"
            min-width="290px"
            offset-y
            :content-class="active_class"
    >
        <template v-slot:activator="{ on, attrs }">
        </template>
        <v-tabs grow v-model="tabs">
            <v-tab>From</v-tab>
            <v-tab>To</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tabs">
            <v-tab-item>
                <div class="date-clear_btn">
                    <span @click.prevent="clearDate('from')">Clear</span>
                </div>
                <v-date-picker
                        ref="picker"
                        v-model="from_date"
                        type="month"
                        no-title
                        flat
                        @change="formChange"
                >
                </v-date-picker>
            </v-tab-item>
            <v-tab-item>
                <div class="date-clear_btn">
                    <span @click.prevent="clearDate('to')">Clear</span>
                </div>
                <v-date-picker
                        :disabled="!showToForm"
                        ref="picker"
                        v-model="to_date"
                        type="month"
                        no-title
                        @change="toChange"
                >
                </v-date-picker>
            </v-tab-item>
        </v-tabs-items>
    </v-menu>
</template>

<script>
    export default {
        name: "EditableDate",
        data() {
            return {
                from_date: this.data.sYr && this.data.sMth ? this.data.sYr + '-' + this.data.sMth : new Date().toISOString().substr(0, 7),
                to_date: this.data.eYr && this.data.eMth ? this.data.eYr + '-' + this.data.eMth : new Date().toISOString().substr(0, 7),
                tabs: 0,
                Ongoing: false
            }
        },
        props: ['data', 'menu', 'active_class'],
        computed: {
            showMenu: {
                get: function () {
                    return this.menu
                },
                set: function (val) {
                    this.$emit('setMenu', val);
                }
            },
            showToForm() {
                return !!(this.data.sYr || this.data.sMth);
            }
        },
        watch: {
            // showMenu(val) {
            //     val &&
            //         setTimeout(() => {
            //             this.$refs.picker.activePicker = 'YEAR';
            //         })
            // },
            // tabs() {
            //     console.log('tabs changed')
            //     // handler() {
            //     // if (this.showMenu)
            //         setTimeout(() => {
            //             this.$refs.picker.activePicker = 'YEAR';
            //         })
            // },
        },
        methods: {
            formChange() {
                let date_value = this.from_date.split("-");
                this.data['sYr'] = date_value[0];
                this.data['sMth'] = date_value[1];
                this.$emit('setEditedDate', this.data);
                this.tabs = 1;
            },
            toChange() {
                let date_value = this.to_date.split("-");
                this.data['eYr'] = date_value[0];
                this.data['eMth'] = date_value[1];
                this.$emit('setEditedDate', this.data);
                setTimeout(() => {
                    this.tabs = 0;
                    this.showMenu = false;
                })
            },
            clearDate(type) {
                if (type === 'from') {
                    this.data['sYr'] = '';
                    this.data['sMth'] = '';
                    this.from_date = null;
                }

                if (type === 'to') {
                    this.data['eYr'] = '';
                    this.data['eMth'] = '';
                    this.to_date = null;
                }
                this.$emit('setEditedDate', this.data);
            }
        },
    }
</script>
