<template>
    <div class=" py-0">
        <div class="section-item" :class="{'copyable':isCopyable}">
            <div class="cv-toolbar-card">
                <v-toolbar class="cv-toolbar-card_body" height="30">
                    <div class="toolbar_title" @click.prevent="addExperience">Add Experience</div>
                    <v-menu :close-on-content-click="false" offset-y content-class="toolbar_dropdown">
                        <template v-slot:activator="{ on }">
                            <a class="toolbar_content" v-on="on">
                                <span>My Content</span>
                            </a>
                        </template>
                        <v-list>
                            <v-list-item-title class="font-card__layout-list"
                                               @click.prevent="$emit('showBrowseContent',true)">Browse resumes
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list"
                                               @click.prevent="$emit('showBrowseContent',true)">From saved content
                            </v-list-item-title>
                        </v-list>
                    </v-menu>
                    <div class="item-content-downup">
                        <div class="item-content-downup_move">
                            <v-icon :disabled="showUp" @click.prevent="changeSectionPosition('up')">mdi-chevron-up
                            </v-icon>
                        </div>
                        <div class="item-content-downup_move">
                            <v-icon :disabled="showDown" @click.prevent="changeSectionPosition('down')">
                                mdi-chevron-down
                            </v-icon>
                        </div>
                    </div>
                    <div class="toolbar_removeBtn" @click.prevent="removeExperience">
                        <v-icon>mdi-trash-can-outline</v-icon>
                    </div>
                    <v-menu :close-on-content-click="false" offset-y content-class="toolbar_dropdown">
                        <template v-slot:activator="{ on }">
                            <a class="toolbar-setting_btn" v-on="on">
                                <v-icon color="#eee">mdi-cog-outline</v-icon>
                            </a>
                        </template>
                        <v-list width="250" class="toolbar-setting_content">
                            <v-list-item-title class="font-card__layout-list">
                                <v-switch v-model="data.display.organization"
                                          label="Show Organization" hide-details></v-switch>
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list">
                                <v-switch v-model="data.display.designation"
                                          label="Show Designation" hide-details></v-switch>
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list">
                                <v-switch v-model="data.display.address"
                                          label="Show Address" hide-details></v-switch>
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list">
                                <v-switch v-model="data.display.date"
                                          label="Show Date" hide-details></v-switch>
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list">
                                <v-switch v-model="data.display.description"
                                          label="Show Description" hide-details></v-switch>
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list">
                                <v-switch v-model="data.display.bullets"
                                          label="Show Bullets" hide-details></v-switch>
                            </v-list-item-title>
                        </v-list>
                    </v-menu>
                </v-toolbar>
            </div>
            <v-row class="my-0 sec ca-component_bg-color" no-gutters v-if="theme === 'CharteredAccountant'">
                <div class="head display-flex">
                    <div @click.prevent="setShowMenu" v-if="data.display.date">
                        <span v-if="!hasDate">Date Period</span>
                        <span v-else>{{data.sMth|monthFormat}} {{data.sYr}} -
                            <template v-if="((data.sMth && data.sYr) && !(data.eMth && data.eYr))"> Present</template>
                            <template v-else>{{data.eMth|monthFormat}} {{data.eYr}}</template>
                        </span>
                        <EditableDate :data="data" :menu="menu"
                                      :active_class="'data-style_left'"
                                      @setMenu="(val) => {menu = val}"
                                      @setEditedDate="setEditedDate"></EditableDate>
                        <span class="mr-1"> :</span>
                    </div>
                    <div v-if="data.display.organization">
                        <Editable :canEdit="canEdit" placeholder="Organization" v-model="data.organization"/>
                    </div>
                    <span class="mr-1"> - </span>
                    <div v-if="data.display.designation">
                        <Editable :canEdit="canEdit" placeholder="Designation" v-model="data.designation"/>
                    </div>
                </div>
            </v-row>
            <v-row class="my-0 ca-sales_content-title" no-gutters v-if="theme === 'SaleOperation'">
                <v-col cols="6" v-if="data.display.organization">
                    <Editable :canEdit="canEdit" placeholder="Organization" class="head"
                              v-model="data.organization"/>
                </v-col>
                <div @click.prevent="setShowMenu" class="section-date_left" v-if="data.display.date">
                    <span v-if="!hasDate">Date Period</span>
                    <span v-else>{{data.sMth|monthFormat}} {{data.sYr}} -
                        <template v-if="((data.sMth && data.sYr) && !(data.eMth && data.eYr))"> Present</template>
                        <template v-else>{{data.eMth|monthFormat}} {{data.eYr}}</template>
                    </span>
                    <EditableDate :data="data" :menu="menu"
                                  :active_class="'data-style_left'"
                                  @setMenu="(val) => {menu = val}"
                                  @setEditedDate="setEditedDate"></EditableDate>
                </div>
                <v-col cols="12" v-if="data.display.designation">
                    <Editable :canEdit="canEdit" placeholder="designation"
                              v-model="data.designation"/>
                </v-col>
            </v-row>
            <v-row class="my-0" v-if="theme !== 'SaleOperation' && theme !== 'CharteredAccountant'" no-gutters>
                <v-col cols="12" v-if="data.display.organization">
                    <Editable :canEdit="canEdit" placeholder="Organization" class="head"
                              v-model="data.organization"/>
                </v-col>
                <v-col cols="6" v-if="data.display.designation">
                    <Editable :canEdit="canEdit" placeholder="Designation" v-model="data.designation"/>
                </v-col>
                <div @click.prevent="setShowMenu" class="section-date_left" v-if="data.display.date">
                    <span v-if="!hasDate">Date Period</span>
                    <span v-else>{{data.sMth|monthFormat}} {{data.sYr}} -
                        <template v-if="((data.sMth && data.sYr) && !(data.eMth && data.eYr))"> Present</template>
                        <template v-else>{{data.eMth|monthFormat}} {{data.eYr}}</template>
                    </span>
                    <EditableDate :data="data" :menu="menu"
                                  :active_class="'data-style_left'"
                                  @setMenu="(val) => {menu = val}"
                                  @setEditedDate="setEditedDate"></EditableDate>
                </div>
                <v-col cols="12" v-if="data.display.address">
                    <Editable :canEdit="canEdit" placeholder="Address of Organization"
                              v-model="data.address"/>
                </v-col>
            </v-row>
            <v-row class="mt-0 mb-2" :class="{'sec': theme === 'CharteredAccountant'}" no-gutters>
                <v-col cols="12" v-if="data.display.description">
                    <EditableHtml :canEdit="canEdit" placeholder="Description" :canEnter="true"

                                  v-model="data.desc"></EditableHtml>
                </v-col>
                <v-col cols="12" :class="[{'mt-2':theme === 'CharteredAccountant'}]" v-if="data.display.bullets">
                    <strong v-if="theme === 'CharteredAccountant'">Key Result Areas:</strong>
                    <span class="ca-sales_content-title_content" v-if="theme === 'SaleOperation'">
                        <strong>Significant Highlights:</strong>
                    </span>
                    <ul>
                        <li v-for="(item, i) in data.bullets" :key="i">
                            <!--                            <v-icon small>mdi-square-medium</v-icon>-->
                            <Editable :canEdit="canEdit"
                                      placeholder="Task/Responsibility/Accomplishment"
                                      @keydown.delete="removeBullets(i,$event)"
                                      @keydown.enter.exact.prevent="addBullets(i,$event)"
                                      v-model="data.bullets[i]"/>
                        </li>
                    </ul>
                </v-col>
            </v-row>
            <span v-if="isCopyable" class="copyable-icon" @click.prevent="singleCopyContent">
                <v-icon>mdi-text-box-plus-outline</v-icon>
            </span>
        </div>
    </div>
</template>

<script>
    import Editable from "../components/Editable";
    import EditableHtml from "./EditableHtml";
    import EditableDate from "./EditableDate";
    import {mapState} from "vuex";

    export default {
        name: "experience",
        data() {
            return {
                canEdit: true,
                index: null,
                menu: false
            }
        },
        props: ['data', 'theme', 'isCopyable', 'type'],
        components: {Editable, EditableHtml, EditableDate},
        computed: {
            ...mapState(['applicantCv']),
            hasDate() {
                return !!((this.data.sMth && this.data.sYr) || (this.data.eMth && this.data.eYr));
            },
            showUp() {
                return this.index === 0;
            },
            showDown() {
                return this.index === this.applicantCv.experience.length - 1;
            }
        },
        methods: {
            setEditedDate(value) {
                this.data = value;
                this.$emit('saveApplicantCv');
            },
            addExperience() {
                this.$emit('addNew', 'experience');
            },
            removeExperience() {
                $(".CV").removeClass("cv-auto");

                if (this.applicantCv.experience.length === 1) {
                    this.$store.commit('showNoneRemove', true);
                    return;
                }

                this.applicantCv['experience'].splice(this.index, 1);
                this.$emit('saveApplicantCv');
            },
            addBullets(index, event) {
                if (this.data.bullets.length > 10 || !$(event.target).html()) return;

                this.data.bullets.splice(index + 1, 0, '');
                let target = event.target;
                setTimeout(() => {
                    target.parentNode.nextElementSibling.firstElementChild.focus();
                }, 0);
            },
            removeBullets(index, event) {
                if (!$(event.target).html() && index > 0) {
                    let previousSibling = event.target.parentNode.previousElementSibling.firstElementChild;
                    this.$delete(this.data.bullets, index);
                    let val = this.data.bullets[index - 1];
                    previousSibling.innerHTML = '';
                    previousSibling.focus();
                    document.execCommand('insertText', false, val);
                }
            },
            singleCopyContent() {
                if (!this.isCopyable) return;

                this.$emit('saveApplicantCv', {'section': 'experience', 'data': this.data});
            },
            changeSectionPosition(position, $event) {
                let target = $(event.target)
                let type = position === 'up' ? 'up' : 'down';

                this.$emit('changeSectionPosition', {'type': type, 'section': 'experience', 'index': this.index});
                let $current = $(target).closest('.section-item'); //the element you have
                let $elems = $('.section-item'); //the collection of elements
                let index = position === 'up' ? $elems.index($current) - 1 : $elems.index($current) + 1;
                let $previous = $elems.eq(index);
                $previous.find('.editable:first').focus()
            },
            setSelectAll() {
                setTimeout(() => {
                    document.execCommand('selectAll', false, null)
                }, 0);
            },
            setShowMenu() {
                if (!this.isCopyable)
                    this.menu = !this.menu;
            }
        },
        mounted() {
            $(document).ready(() => {
                let element = this.$el;
                this.index = $(element).index('.section_' + this.type);
            });
            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'))
        }
    };
</script>
