<template>
    <div style="min-width: -webkit-fill-available"
         :class="[{'d-inline-block':theme === 'SaleOperation'},{'p-xy-0':theme === 'SalesExecutive'}]">
        <div class="section-item" :class="{'display-flex':theme === 'SaleOperation'}">
            <EditableHtml placeholder="Objective" :canEnter="true"
                          :canEdit="canEdit"
                          style="flex: auto"
                          v-model="summary"></EditableHtml>
            <v-img
                    v-if="theme === 'SaleOperation' &&  cvDisplaySetting.selcon.indexOf('image') >= 0"
                    :src="dispic"
                    aspect-ratio="1"
                    style="max-width: 180px;height: 180px;min-width: 180px"
                    class="square-image ml-4 float-right"
                    :class="{'avatar-circular':applicantCvType.isCircularImage,'border-none':!applicantCvType.hasImageBorder}"
            ></v-img>
        </div>
    </div>
</template>

<script>
    import Editable from "./Editable";
    import EditableHtml from "./EditableHtml";
    import {mapState} from "vuex";

    export default {
        name: "obj",
        data() {
            return {
                canEdit: true
            }
        },
        components: {Editable, EditableHtml},
        props: ['data', 'theme', 'isCopyable', 'dispic'],
        computed: {
            ...mapState(['applicantCv', 'applicantCvType', 'cvDisplaySetting']),
            summary: {
                get: function () {
                    return this.data
                },
                set: function (val) {
                    this.applicantCv.obj = val
                }
            },
        },
        mounted() {
            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'))
        }
    };
</script>
