<template>
    <div class=" pb-0">
        <div class="section-item" :class="{'copyable':isCopyable}">
            <div class="cv-toolbar-card">
                <v-toolbar class="cv-toolbar-card_body" height="30">
                    <div class="toolbar_title" @click.prevent="addReference">Add Reference</div>
                    <v-menu :close-on-content-click="false" offset-y content-class="toolbar_dropdown">
                        <template v-slot:activator="{ on }">
                            <a class="toolbar_content" v-on="on">
                                <span>My Content</span>
                            </a>
                        </template>
                        <v-list>
                            <v-list-item-title class="font-card__layout-list"
                                               @click.prevent="$emit('showBrowseContent',true)">Browse resumes
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list"
                                               @click.prevent="$emit('showBrowseContent',true)">From saved content
                            </v-list-item-title>
                        </v-list>
                    </v-menu>
                    <div class="item-content-downup">
                        <div class="item-content-downup_move">
                            <v-icon :disabled="showUp" @click.prevent="changeSectionPosition('up')">mdi-chevron-up
                            </v-icon>
                        </div>
                        <div class="item-content-downup_move">
                            <v-icon :disabled="showDown" @click.prevent="changeSectionPosition('down')">
                                mdi-chevron-down
                            </v-icon>
                        </div>
                    </div>
                    <div class="toolbar_removeBtn" @click.prevent="removeReference">
                        <v-icon>mdi-trash-can-outline</v-icon>
                    </div>
                </v-toolbar>
            </div>
            <div class="display-flex">
                <v-icon small>mdi-square-medium</v-icon>
                <Editable :canEdit="canEdit" placeholder="References Description" v-model="reference"/>
            </div>
            <span v-if="isCopyable" class="copyable-icon" @click.prevent="singleCopyContent">
                <v-icon>mdi-text-box-plus-outline</v-icon>
            </span>
        </div>
    </div>
</template>

<script>
    import Editable from "./Editable";
    import {mapState} from "vuex";

    export default {
        name: "references",
        data() {
            return {
                canEdit: true,
                index: null
            }
        },
        props: ['data', 'theme', 'isCopyable', 'type'],
        computed: {
            ...mapState(['applicantCv']),
            reference: {
                get: function () {
                    return this.data
                },
                set: function (val) {
                    this.applicantCv.references[this.index] = val
                }
            },
            showUp() {
                return this.index === 0;
            },
            showDown() {
                return this.index === this.applicantCv.references.length - 1;
            }
        },
        components: {Editable},
        methods: {
            addReference() {
                this.$emit('addNew', 'references')
            },
            removeReference() {
                $(".CV").removeClass("cv-auto");

                if (this.applicantCv.references.length === 1) {
                    this.$store.commit('showNoneRemove', true);
                    return;
                }

                this.applicantCv['references'].splice(this.index, 1);
                this.$emit('saveApplicantCv');
            },
            singleCopyContent() {
                if (!this.isCopyable) return;

                this.$emit('saveApplicantCv', {'section': 'references', 'data': this.data});
            },
            changeSectionPosition(position, $event) {
                let target = $(event.target)
                let type = position === 'up' ? 'up' : 'down';

                this.$emit('changeSectionPosition', {'type': type, 'section': 'references', 'index': this.index})
                let $current = $(target).closest('.section-item'); //the element you have
                let $elems = $('.section-item'); //the collection of elements
                let index = position === 'up' ? $elems.index($current) - 1 : $elems.index($current) + 1
                let $previous = $elems.eq(index);
                $previous.find('.editable:first').focus()
            },
        },
        mounted() {
            $(document).ready(() => {
                let element = this.$el;
                this.index = $(element).index('.section_' + this.type);
            });

            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'));
        }
    };
</script>
