<template>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div>
                <!--   Layout Arrange  Start    -->
                <v-list class="pb-4r bg-background" v-if="showLayoutPreview">
                    <div class="mb-2">
                        <v-subheader inset style="display: initial">Re-arrange Cv View</v-subheader>
                    </div>
                    <draggable v-model="cvDisplaySetting.layout"
                               v-bind="dragOptions"
                               @start="drag = true"
                               @end="drag = false"
                               @change="saveCvSetting">
                        <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                            <div v-for="(layout, index) in cvDisplaySetting.layout" :key="index"
                                 style="background-color: #fff !important;" class="sidebar-list">
                                <v-list-item :key="index" @click="editLayoutData(layout)">
                                    <v-list-item-avatar>
                                                        <span style="color: #999; margin:0px 10px; font-weight:400; font-size:20px;">
                                                            <i class="fa fa-sort handle" style="color: #ddd"></i>
                                                        </span>
                                        <v-img :src="require(`../assets/layout/${layout}.png`)"></v-img>
                                    </v-list-item-avatar>

                                    <v-list-item-content>
                                        <v-list-item-title
                                                v-html="cvDisplaySetting.text[layout]"></v-list-item-title>
                                        <v-list-item-subtitle>Your {{layout}} details</v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                        <v-checkbox
                                                v-model="cvDisplaySetting.display[layout]"
                                                :value="cvDisplaySetting.display[layout]"
                                                class="ma-0"
                                                @change="saveCvSetting"
                                                hide-details
                                        />
                                    </v-list-item-action>
                                </v-list-item>
                            </div>
                        </transition-group>
                    </draggable>
                </v-list>

                <div id="layout-form">
                    <v-card v-if="showObj" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.obj"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-textarea
                                class="cv-data__title--textarea"
                                name="obj"
                                row-height="12"
                                filled
                                auto-grow
                                placeholder="Objective"
                                v-model.trim="applicantCv.obj">
                        </v-textarea>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('obj')">Save</v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showSkill" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.skills"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-textarea
                                name="skill"
                                label="Bullets (new line for each)"
                                row-height="12"
                                filled
                                auto-grow
                                placeholder="Skills"
                                v-model.trim="applicantCv.skills">
                        </v-textarea>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('skills')">Save</v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showExperience" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.experience"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-sheet
                                flat
                                v-for="(experience, index) in applicantCv.experience"
                                :key="'experience' + index"
                                class="grey lighten-4 px-1 mb-2"
                        >
                            <p class="text-center pt-4" v-if="index > 0">
                                <v-btn
                                        class="warning black--text"
                                        dark
                                        small
                                        @click="removeApplicantCvData(applicantCv.experience, index)"
                                >
                                    <v-icon left>mdi-delete</v-icon>
                                    Delete this record
                                </v-btn>
                            </p>
                            <v-textarea
                                    name="organization"
                                    label="organization"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="organization"
                                    v-model.trim="experience.organization">
                            </v-textarea>
                            <v-text-field
                                    v-model="applicantCv.experience[index].designation"
                                    :value="experience.designation"
                                    label="Designation"
                            />
                            <v-row>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="applicantCv.experience[index].sMth"
                                            :value="experience.sMth"
                                            label="Start Month"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="applicantCv.experience[index].sYr"
                                            :value="experience.sYr"
                                            label="Start Year"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="applicantCv.experience[index].eMth"
                                            :value="experience.eMth"
                                            label="End Month"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="applicantCv.experience[index].eYr"
                                            :value="experience.eYr"
                                            label="End Year"
                                    />
                                </v-col>
                            </v-row>
                            <v-textarea
                                    name="description"
                                    label="Description"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="Description"
                                    v-model.trim="experience.desc">
                            </v-textarea>
                            <v-textarea
                                    name="skill"
                                    label="Bullets (new line for each)"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="Skills"
                                    v-model.trim="experience.bullets">
                            </v-textarea>
                        </v-sheet>
                        <div class="text-center mb-2">
                            <v-btn
                                    rounded
                                    class="info"
                                    dark
                                    @click="addApplicantCvData(applicantCv.experience, 'experience')"
                            >
                                <v-icon left>mdi-plus</v-icon>
                                Add Experience...
                            </v-btn>
                        </div>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('experience')">Save
                            </v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showVexperience" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.vexperience"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-sheet
                                flat
                                v-for="(vexperience, index) in applicantCv.vexperience"
                                :key="'vexperience' + index"
                                class="grey lighten-4 px-1 mb-2"
                        >
                            <p class="text-center pt-4" v-if="index > 0">
                                <v-btn
                                        class="warning black--text"
                                        dark
                                        small
                                        @click="removeApplicantCvData(applicantCv.vexperience, index)"
                                >
                                    <v-icon left>mdi-delete</v-icon>
                                    Delete this record
                                </v-btn>
                            </p>
                            <v-textarea
                                    name="organization"
                                    label="organization"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="organization"
                                    v-model.trim="vexperience.organization">
                            </v-textarea>
                            <v-text-field
                                    v-model="vexperience.designation"
                                    label="Designation"
                            />
                            <v-row>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="vexperience.sMth"
                                            label="Start Month"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="vexperience.sYr"
                                            label="Start Year"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="vexperience.eMth"
                                            label="End Month"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="vexperience.eYr"
                                            label="End Year"
                                    />
                                </v-col>
                            </v-row>
                            <v-textarea
                                    name="description"
                                    label="Description"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="Description"
                                    v-model.trim="vexperience.desc">
                            </v-textarea>
                            <v-textarea
                                    name="bullets"
                                    label="Bullets (new line for each)"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="bullets"
                                    v-model.trim="vexperience.bullets">
                            </v-textarea>
                        </v-sheet>
                        <div class="text-center mb-2">
                            <v-btn
                                    rounded
                                    class="info"
                                    dark
                                    @click="addApplicantCvData(applicantCv.vexperience, 'vexperience')"
                            >
                                <v-icon left>mdi-plus</v-icon>
                                Add Volunteer Experience...
                            </v-btn>
                        </div>
                        <v-divider class="mb-2"></v-divider>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('vexperience')">Save
                            </v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showEducation" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.education"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-sheet
                                flat
                                v-for="(education, index) in applicantCv.education"
                                :key="'education' + index"
                                class="grey lighten-4 px-1 mb-2"
                        >
                            <p class="text-center pt-4" v-if="index > 0">
                                <v-btn
                                        class="warning black--text"
                                        dark
                                        small
                                        @click="removeApplicantCvData(applicantCv.education, index)"
                                >
                                    <v-icon left>mdi-delete</v-icon>
                                    Delete this record
                                </v-btn>
                            </p>
                            <v-textarea
                                    name="institution"
                                    label="institution"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="institution"
                                    v-model.trim="education.institution">
                            </v-textarea>
                            <v-text-field
                                    v-model="education.program"
                                    label="program"
                            />
                            <v-row>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="education.sMth"
                                            label="Start Month"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="education.sYr"
                                            label="Start Year"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="education.eMth"
                                            label="End Month"
                                    />
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field
                                            v-model="education.eYr"
                                            label="End Year"
                                    />
                                </v-col>
                            </v-row>
                            <v-textarea
                                    name="description"
                                    label="Description"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="Description"
                                    v-model.trim="education.desc">
                            </v-textarea>
                            <v-textarea
                                    name="bullets"
                                    label="Bullets (new line for each)"
                                    row-height="12"
                                    filled
                                    auto-grow
                                    placeholder="bullets"
                                    v-model.trim="education.bullets">
                            </v-textarea>
                        </v-sheet>
                        <div class="text-center mb-2">
                            <v-btn
                                    rounded
                                    class="info"
                                    dark
                                    @click="addApplicantCvData(applicantCv.education, 'education')"
                            >
                                <v-icon left>mdi-plus</v-icon>
                                Add Educations...
                            </v-btn>
                        </div>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('education')">Save
                            </v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showCertificate" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.certs"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-sheet
                                flat
                                v-for="(certificate, index) in applicantCv.certs"
                                :key="'certificate' + index"
                                class="grey lighten-4 px-1 mb-2"
                        >
                            <p class="text-center pt-4" v-if="index > 0">
                                <v-btn
                                        class="warning black--text"
                                        dark
                                        small
                                        @click="removeApplicantCvData(applicantCv.certs, index)"
                                >
                                    <v-icon left>mdi-delete</v-icon>
                                    Delete this record
                                </v-btn>
                            </p>
                            <v-text-field
                                    v-model="certificate.title"
                                    label="Title"
                            />
                            <v-text-field
                                    v-model="certificate.body"
                                    label="Certifying Body"
                            />
                            <v-text-field
                                    v-model="certificate.when"
                                    label="Month/Year"
                            />
                        </v-sheet>
                        <div class="text-center mb-2">
                            <v-btn
                                    rounded
                                    class="info"
                                    dark
                                    @click="addApplicantCvData(applicantCv.certs, 'certs')"
                            >
                                <v-icon left>mdi-plus</v-icon>
                                Add Certificate...
                            </v-btn>
                        </div>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('certs')">Save</v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showPublication " class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.pubs"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-sheet
                                flat
                                v-for="(publication, index) in applicantCv.pubs"
                                :key="'publication' + index"
                                class="grey lighten-4 px-1 mb-2"
                        >
                            <p class="text-center pt-4" v-if="index > 0">
                                <v-btn
                                        class="warning black--text"
                                        dark
                                        small
                                        @click="removeApplicantCvData(applicantCv.pubs, index)"
                                >
                                    <v-icon left>mdi-delete</v-icon>
                                    Delete this record
                                </v-btn>
                            </p>
                            <v-text-field
                                    v-model="publication.title"
                                    label="Title"
                            />
                            <v-text-field
                                    v-model="publication.body"
                                    label="Publishing  Body"
                            />
                            <v-text-field
                                    v-model="publication.when"
                                    label="Month/Year"
                            />
                        </v-sheet>
                        <div class="text-center mb-2">
                            <v-btn
                                    rounded
                                    class="info"
                                    dark
                                    @click="addApplicantCvData(applicantCv.pubs, 'pubs')"
                            >
                                <v-icon left>mdi-plus</v-icon>
                                Add Publications...
                            </v-btn>
                        </div>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('pubs')">Save</v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showInterest" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.interests"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-textarea
                                name="interests"
                                label="Bullets (new line for each)"
                                row-height="12"
                                filled
                                auto-grow
                                placeholder="interests"
                                v-model.trim="applicantCv.interests">
                        </v-textarea>
                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('interests')">Save
                            </v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                    <v-card v-if="showReference" class="component-edit_all">
                        <v-text-field
                                v-model="cvDisplaySetting.text.references"
                                label="Section title"
                                class="font-weight-bold"
                        />
                        <v-text-field
                                v-for="(reference, index) in applicantCv.references"
                                :key="'reference' + index"
                                v-model="applicantCv.references[index]"
                                append-icon="mdi-delete"
                                placeholder="Reference"
                                @click:append="removeApplicantCvData(applicantCv.references, index)"
                        />

                        <div class="text-center mb-2">
                            <v-btn
                                    rounded
                                    class="info"
                                    dark
                                    @click="addApplicantCvData(applicantCv.references, 'str')"
                            >
                                <v-icon left>mdi-plus</v-icon>
                                Add References...
                            </v-btn>
                        </div>

                        <div class="saveBack-btn">
                            <v-btn rounded color="success" dark @click.prevent="saveApplicantCv('references')">Save
                            </v-btn>
                            <v-btn rounded color="error float-right" dark @click.prevent="backToLayoutArrange">
                                Back
                            </v-btn>
                        </div>
                    </v-card>
                </div>

                <!--   Layout Arrange  End    -->

                <!--   User Detail Show/Hide  Start  -->
                <v-list class="pb-4r bg-background" v-if="showSocialLinks">
                    <div class="mb-2">
                        <v-subheader inset style="display: initial">Show/Hide User Details</v-subheader>
                    </div>
                    <v-list-item-group>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="First Names"
                                    value="FName"
                                    class="ma-0"
                                    hide-details
                                    disabled
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Middle Name"
                                    value="MName"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Last Name"
                                    value="LName"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="E-Mail"
                                    value="email"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Phone Numbers"
                                    value="phnum"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Address"
                                    value="addr"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="LinkedIn"
                                    value="LI"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Instagram"
                                    value="IG"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Facebook"
                                    value="FB"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="WWW"
                                    value="www"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Image"
                                    value="image"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Designation"
                                    value="designation"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                        <v-col class="user-details_check" cols="12">
                            <v-checkbox
                                    v-model="cvDisplaySetting.selcon"
                                    label="Date of birth"
                                    value="dateOfBirth"
                                    class="ma-0"
                                    hide-details @change="saveCvSetting"
                            />
                        </v-col>
                    </v-list-item-group>
                </v-list>

                <!-- User Detail Update Start-->
                <div v-if="showEditUserForm" style="background-color: #ffffff">
                    <div class="mb-2">
                        <v-subheader inset style="display: initial">Personal Details</v-subheader>
                    </div>
                    <ApplicantForm class="pb-4r" :selectedApplicant="applicant"
                                   :isClient="true" :clientId="clientId" :isCvMode="true"
                                   @showEdit="showEditUserForm=true"
                    ></ApplicantForm>
                </div>
                <!--   User Detail Update End  -->
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</template>

<script>
    import ApplicantForm from "../components/ApplicantForm";
    import draggable from 'vuedraggable';

    export default {
        name: "sidebar",
        data() {
            return {
                previewLayout: false,
                showObj: false,
                showSkill: false,
                showExperience: false,
                showVexperience: false,
                showEducation: false,
                showCertificate: false,
                showPublication: false,
                showInterest: false,
                showReference: false,
                drag: false,
                toggleUserInfo: false,
                clientId: this.$route.params.clid
            }
        },
        props: ['showLayoutPreview', 'showEditUserForm', 'cvDisplaySetting',
            'applicant', 'applicantCv', 'applicantCvType', 'showSocialLinks'],
        components: {
            ApplicantForm,
            draggable,
        },
        computed: {
            isSidebarEditOn() {
                return !!(this.showObj || this.showSkill || this.showExperience || this.showVexperience || this.showEducation || this.showCertificate || this.showPublication || this.showInterest || this.showReference);
            },
            dragOptions() {
                return {
                    animation: 200,
                    group: "description",
                    disabled: false,
                    ghostClass: "ghost"
                };
            },
        },
        watch: {},
        methods: {
            editLayoutData(layout) {
                // this.showLayoutPreview = false;
                // if (layouts === 'obj')
                //     this.showObj = true;
                // if (layouts === 'skills')
                //     this.showSkill = true;
                // if (layouts === 'experience')
                //     this.showExperience = true;
                // if (layouts === 'vexperience')
                //     this.showVexperience = true;
                // if (layouts === 'education')
                //     this.showEducation = true;
                // if (layouts === 'certs')
                //     this.showCertificate = true;
                // if (layouts === 'pubs')
                //     this.showPublication = true;
                // if (layouts === 'interests')
                //     this.showInterest = true;
                // if (layouts === 'references')
                //     this.showReference = true;
            },
            addApplicantCvData(arrayObject, type) {
                if (type === "str") {
                    arrayObject.push("");
                } else if (type === "experience" || type === "vexperience") {
                    arrayObject.push({
                        organization: "",
                        designation: "",
                        sMth: " ",
                        sYr: " ",
                        eMth: " ",
                        eYr: " ",
                        desc: "",
                        bullets: " "
                    });
                } else if (type === "education") {
                    arrayObject.push({
                        institution: "",
                        program: "",
                        sMth: "",
                        sYr: "",
                        eMth: "",
                        eYr: "",
                        desc: "",
                        bullets: ""
                    });
                } else if (type === "certs" || type === "pubs") {
                    arrayObject.push({
                        title: "",
                        body: "",
                        when: ""
                    });
                }

            },
            removeApplicantCvData(type, index) {
                type.splice(index, 1);
            },
            backToLayoutArrange() {
                this.showLayoutPreview = true;
                this.showObj = false;
                this.showSkill = false;
                this.showExperience = false;
                this.showVexperience = false;
                this.showEducation = false;
                this.showCertificate = false;
                this.showPublication = false;
                this.showInterest = false;
                this.showReference = false;
            },
            saveCvSetting($event) {
                event.stopPropagation()
                this.$store.commit('showSaving', true);
                this.$store.dispatch('storeCvDisplaySetting', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    cvDisplaySetting: this.cvDisplaySetting
                })
            },
            saveApplicantCv(type) {
                this.$store.commit('showSaving', true);
                let CVData = this.applicantCv[type];
                this.$store.dispatch('updateCvDataSpecific', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    cvData: CVData,
                    type: type
                })
            },
            toggledSidebar() {
                $(".page-wrapper").toggleClass("toggled");
            }
        }
    }
</script>
