<template>
    <v-layout class="d-inline-block" :class="['skill_'+applicantCvType.skillType,'skill_'+applicantCvType.skillColumn]">
        <div class="section-item" style="display: inherit !important;" :class="{'copyable':isCopyable}">
            <div class="cv-toolbar-card">
                <v-toolbar class="cv-toolbar-card_body" style="width: max-content;" height="30">
                    <div class="toolbar_title" @click.prevent="addSkill">Add Skill</div>
                    <v-menu :close-on-content-click="false" offset-y content-class="toolbar_dropdown">
                        <template v-slot:activator="{ on }">
                            <a class="toolbar_content" v-on="on">
                                <span>My Content</span>
                            </a>
                        </template>
                        <v-list>
                            <v-list-item-title class="font-card__layout-list"
                                               @click.prevent="$emit('showBrowseContent',true)">Browse resumes
                            </v-list-item-title>
                            <v-list-item-title class="font-card__layout-list"
                                               @click.prevent="$emit('showBrowseContent',true)">From saved content
                            </v-list-item-title>
                        </v-list>
                    </v-menu>
                    <div class="item-content-downup">
                        <div class="item-content-downup_move">
                            <v-icon :disabled="showUp" @click.prevent="changeSectionPosition('up')">mdi-chevron-up
                            </v-icon>
                        </div>
                        <div class="item-content-downup_move">
                            <v-icon :disabled="showDown" @click.prevent="changeSectionPosition('down')">
                                mdi-chevron-down
                            </v-icon>
                        </div>
                    </div>
                    <div class="toolbar_removeBtn" @click.prevent="removeSkill">
                        <v-icon>mdi-trash-can-outline</v-icon>
                    </div>
                    <v-menu attach :close-on-content-click="false" offset-y content-class="toolbar_dropdown left-none">
                        <template v-slot:activator="{ on }">
                            <a class="toolbar-setting_btn" v-on="on">
                                <v-icon color="#eee">mdi-cog-outline</v-icon>
                            </a>
                        </template>
                        <v-card width="380" style="display: flex" class="toolbar-setting_content">
                            <div class="mt-5">
                                <span class="ml-2 mb-3">Skills Style</span>
                                <v-radio-group column @change="saveApplicantCvType"
                                               class="ml-2 mt-5" v-model="applicantCvType.skillType">
                                    <v-radio label="Boxed" value="boxed"></v-radio>
                                    <div class="skill-theme_position" @click.prevent="showSkillTheme = !showSkillTheme">
                                        <div class="skill-theme_circle"></div>
                                    </div>
                                    <v-radio label="Disc" value="disc"></v-radio>
                                    <v-radio label="Circle" value="circle"></v-radio>
                                    <v-radio label="Square" value="square"></v-radio>
                                    <v-radio label="Pipe" value="pipe"></v-radio>
                                    <v-radio label="None" value="none"></v-radio>
                                </v-radio-group>
                            </div>
                            <div class="mt-5">
                                <span class="ml-2 mb-3">Skills Column</span>
                                <v-radio-group column @change="saveApplicantCvType"
                                               class="ml-2 mt-5" v-model="applicantCvType.skillColumn">
                                    <v-radio label="One" value="first"></v-radio>
                                    <v-radio label="Two" value="second"></v-radio>
                                    <v-radio label="Three" value="third"></v-radio>
                                    <v-radio label="Four" value="fourth"></v-radio>
                                </v-radio-group>
                            </div>
                            <div class="mt-5">
                                <span class="ml-2 mb-3">Skill Case</span>
                                <v-radio-group column @change="saveApplicantCvType"
                                               class="ml-2 mt-5" v-model="applicantCvType.skillCase">
                                    <v-radio label="Uppercase" value="uppercase"></v-radio>
                                    <v-radio label="Capitalize" value="capitalize"></v-radio>
                                    <v-radio label="Normal" value="normal"></v-radio>
                                </v-radio-group>
                            </div>
                        </v-card>
                    </v-menu>
                </v-toolbar>
            </div>
            <div class="skill-edit"
                 :class="{'skill-box skill-tag v-chip__content': applicantCvType.skillType === 'boxed'}"
                 :style=" applicantCvType.skillType === 'boxed' ? `background-color : ${applicantCvType.skillBackground} !important` : ''">
                <Editable :canEdit="canEdit" @click.prevent="showEditable" @focusout="hideEditable"
                          v-model="skill"
                          placeholder="Skill"
                          class="skill_border_transparent"
                          @keyup.tab.prevent="showEditable"
                          @keyup.enter.prevent="addSkill"
                          @keyup.delete.prevent="onBackspace($event)"></Editable>
            </div>
            <v-dialog v-model="showSkillTheme" max-width="350">
                <v-card>
                    <v-card-title class="subhead">Choose Skill Background Color.</v-card-title>
                    <v-card-text>
                        <div class="pointer ml-4 mb-1">
                            <v-avatar v-for="color in skillColor"
                                      :color="color.skillBackground" size="48" class="mr-2 mb-2"
                                      :class="{'theme-color_active':applicantCvType.skillBackground === colorInRGB(color.skillBackground)}"
                                      @click.prevent="updateSkillBackgroundColor">
                            </v-avatar>
                        </div>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </div>
    </v-layout>
</template>

<script>
    import Editable from "./Editable";
    import {mapState} from "vuex";

    export default {
        name: "skills",
        components: {Editable},
        data() {
            return {
                index: null,
                canEdit: false,
                showSkillTheme: false,
                skillColor: [
                    {'skillBackground': '#344251'},
                    {'skillBackground': '#5b718b'},
                    {'skillBackground': '#384458'},
                    {'skillBackground': '#2dbcad'},
                    {'skillBackground': '#f04e41'},
                    {'skillBackground': '#c7a163'},
                    {'skillBackground': '#4f90cd'},
                    {'skillBackground': '#631a36'},
                    {'skillBackground': '#db318a'},
                    {'skillBackground': '#2b343f'},
                    {'skillBackground': '#3e787c'},
                    {'skillBackground': '#479099'},
                    {'skillBackground': '#87898c'},
                    {'skillBackground': '#5693cb'},
                    {'skillBackground': '#b2b2b2'},
                    {'skillBackground': '#000'},
                    {'skillBackground': '#8e8e8e'},
                    {'skillBackground': '#242424'},
                ],
            }
        },
        props: ['data', 'theme', 'isCopyable', 'type'],
        computed: {
            ...mapState(['applicantCv', 'applicantCvType']),
            skill: {
                get: function () {
                    if (this.applicantCvType.skillCase === 'uppercase')
                        return this.data.toString().toUpperCase();

                    if (this.applicantCvType.skillCase === 'capitalize') {
                        return this.data.toString().toLowerCase().split(' ')
                            .map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
                    }

                    return this.data
                },
                set: function (val) {
                    this.applicantCv.skills[this.index] = val
                }
            },
            showUp() {
                return this.index === 0;
            },
            showDown() {
                return this.index === this.applicantCv.skills.length - 1;
            }
        },
        methods: {
            colorInRGB: function (color) {
                color = color.replace('#', '');
                let r = parseInt(color.substring(0, 2), 16);
                let g = parseInt(color.substring(2, 4), 16);
                let b = parseInt(color.substring(4, 6), 16);
                let result = 'rgb(' + r + ', ' + g + ', ' + b + ')';
                return result
            },
            updateSkillBackgroundColor($event) {
                this.applicantCvType.skillBackground = event.currentTarget.style.backgroundColor;
                this.saveApplicantCvType();
            },
            addSkill() {
                this.$emit('addNew', 'skills')
            },
            removeSkill() {
                $(".CV").removeClass("cv-auto");
                if (this.applicantCv.skills.length === 1) {
                    this.$store.commit('showNoneRemove', true);
                    return;
                }

                this.applicantCv['skills'].splice(this.index, 1);
                this.$emit('saveApplicantCv');
            },
            singleCopyContent() {
                if (!this.isCopyable) return;

                this.$emit('saveApplicantCv', {'section': 'skills', 'data': this.data});
            },
            changeSectionPosition(position, $event) {
                let target = $(event.target)
                let type = position === 'up' ? 'up' : 'down';

                this.$emit('changeSectionPosition', {'type': type, 'section': 'skills', 'index': this.index})
                let $current = $(target).closest('.section-item'); //the element you have
                let $elems = $('.section-item'); //the collection of elements
                let index = position === 'up' ? $elems.index($current) - 1 : $elems.index($current) + 1
                let $previous = $elems.eq(index);
                $previous.find('.editable:first').focus()
            },
            onBackspace(event) {
                if (!$(event.target).html() && this.index > 0) {
                    this.applicantCv['skills'].splice(this.index, 1);
                    this.$emit('saveApplicantCv');
                }
                // if (!$(event.target).html() && this.index > 0) {
                //     let previousSibling = event.target.parentNode.previousElementSibling.firstElementChild;
                //     this.$delete(this.data.bullets, index);
                //     let val = this.data.bullets[index - 1];
                //     previousSibling.innerHTML = '';
                //     previousSibling.focus();
                //     document.execCommand('insertText', false, val);
                // }
            },
            showEditable(e) {
                e.target.classList.add("skill_border_black");
            },
            hideEditable(e) {
                e.target.classList.remove("skill_border_black");
            },
            saveApplicantCvType() {
                this.$store.commit('showSaving', true);

                if (this.applicantCvType.skillType === 'pipe') {
                    this.applicantCvType.skillColumn = 'first';
                }

                this.$store.dispatch('storeCvType', {
                    clientId: this.$route.params.clid,
                    clientCvId: this.$route.params.cvid,
                    applicantCvType: this.applicantCvType
                })
            },
        },
        mounted() {
            $(document).ready(() => {
                let element = this.$el;
                this.index = $(element).index('.section_' + this.type);
            });
            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'));
        },
    };
</script>
