<template>
    <div :style="fstr">
        <template v-for="pg in cvpages">
            <v-sheet
                    :key="pg"
                    :id="pg"
                    ref="pag"
                    tile
                    flat
                    id="CVexec-ToRenderAsPDF"
                    class="CV mx-auto my-auto toRenderAsPdf"
                    :class="applicantCvType.currentFontFamily ? 'font-title__'+applicantCvType.currentFontFamily : 'font-title__ubuntu'"
            >
                <v-sheet v-if="pg === 'pag1'" flat tile dark class="exHead">
                    <div class="extopborder"/>
                    <table class="laytab" @click.prevent="$emit('showEditClient')">
                        <tr>
                            <td width="10%">
                                <img v-if="cvDisplaySetting.selcon.indexOf('image') >= 0"
                                     :src="applicant.dispic" class="square-image"
                                     :class="{'avatar-circular':applicantCvType.isCircularImage,'border-none':!applicantCvType.hasImageBorder}"
                                />
                            </td>
                            <td style="vertical-align: top; padding: 10px 200px 10px 10px;">
                                <span v-if="cvDisplaySetting.selcon.indexOf('FName') >= 0" id="exName">
                                  {{ applicant.FName + " " }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('MName') >= 0" id="exName">
                                  {{ applicant.MName + " " }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('LName') >= 0" id="exName">
                                  {{ applicant.LName }}
                                </span>
                                <div id="exTitle">{{ applicant.designation }}</div>
                                <span v-if="cvDisplaySetting.selcon.indexOf('email') >= 0">
                                  <v-icon class="light-blue--text">mdi-email</v-icon>
                                  {{ applicant.email }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('phnum') >= 0">
                                  <v-icon class="light-blue--text">mdi-phone</v-icon>
                                  {{ applicant.phnum }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('addr') >= 0">
                                  <v-icon class="light-blue--text">mdi-home</v-icon>
                                  {{ applicant.addr }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('www') >= 0">
                                  <v-icon class="light-blue--text">mdi-web</v-icon>
                                  {{ applicant.www }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('FB') >= 0">
                                  <v-icon class="light-blue--text">mdi-facebook</v-icon>
                                  {{ applicant.FB }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('LI') >= 0">
                                  <v-icon class="light-blue--text">mdi-linkedin</v-icon>
                                  {{ applicant.LI }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('IG') >= 0">
                                  <v-icon class="light-blue--text">mdi-instagram</v-icon>
                                  {{ applicant.IG }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('dateOfBirth') >= 0">
                                    <v-icon class="light-blue--text">mdi-calendar</v-icon>
                                    {{ applicant.date_of_birth }}
                                </span>
                            </td>
                        </tr>
                    </table>
                </v-sheet>
                <div v-if="pg !== 'pag1'" class="extopborder"/>
                <template v-for="layout in cvDisplaySetting.layout">
                    <div class="exsections cv-heading my-0"
                         v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length">
                        <div
                                class="editable executive_heading"
                                :class="applicantCvType.headingFont+'_bold'"
                                :key="layout"
                                :data-id="layout"
                                :contentEditable="canEdit"
                                @focusout="saveSectionTitle"
                                @keydown.enter.prevent="$event.target.blur()"
                        >
                            {{ cvDisplaySetting.text[layout] | headingCase(applicantCvType.headingCase)}}
                        </div>
                        <div class="cv-toolbar-card left-0" v-if="layout !== 'obj'">
                            <v-toolbar class="cv-toolbar-card_body" height="30">
                                <div class="toolbar_title" @click="addNew(layout)">Add
                                    {{cvDisplaySetting.text[layout]}}
                                </div>
                                <div class="toolbar_button" @click="$emit('showLayout')">
                                    <v-icon color="#eee">
                                        mdi-menu
                                    </v-icon>
                                </div>
                            </v-toolbar>
                        </div>
                    </div>
                    <template v-for="line in pglines(pg, layout)">
                        <component
                                :type="line.type"
                                :key="line.idx"
                                :id="line.idx"
                                :is="line.type"
                                :data="line.data"
                                :theme="applicantCvType.currentTemplate"
                                :isCopyable="isCopyable"
                                :skillType="applicantCvType.skillType"
                                class="componentFont cv__editing my-1"
                                @click.prevent.native="addCvAutoClass"
                                @addNew="addNew"
                                @saveApplicantCv="saveApplicantCv"
                                @showBrowseContent="$emit('showBrowseContent',true)"
                                @changeSectionPosition="changeSectionPosition"
                                :class="[applicantCvType.currentFontSize + '__font',
                                         'font-title__'+applicantCvType.contentFont,
                                        'section_'+line.type]"
                                v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length"
                        />
                    </template>
                </template>
            </v-sheet>
            <div class="sepaper d-print-none" :key="'sep' + pg"/>
        </template>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "CVexec",
        data: () => ({
            cvpages: ["pag1"],
            lopages: {},
            canEdit: true
        }),
        components: {
            obj: () => import("../obj.vue"),
            skills: () => import("../skills.vue"),
            experience: () => import("../exper.vue"),
            vexperience: () => import("../vexper.vue"),
            education: () => import("../educ.vue"),
            certs: () => import("../certs.vue"),
            pubs: () => import("../pubs.vue"),
            interests: () => import("../inter.vue"),
            references: () => import("../refer.vue")
        },
        props: ['factor', 'isCopyable'],
        computed: {
            ...mapState(['applicant', 'applicantCv', 'cvDisplaySetting', 'applicantCvType']),
            fstr: function () {
                return (
                    "transform: scale(" + this.factor + "); transform-origin: top left;"
                );
            },
            lodisp: function () {
                var parr = [];
                var idx = 0;
                for (let i in this.applicantCv) {
                    if (Array.isArray(this.applicantCv[i])) {
                        for (let j in this.applicantCv[i]) {
                            parr.push({
                                type: i,
                                data: this.applicantCv[i][j],
                                idx: idx
                            });
                            idx++;
                        }
                    } else {
                        parr.push({
                            type: i,
                            data: this.applicantCv[i],
                            idx: idx
                        });
                        idx++;
                    }
                }
                return parr;
            }
        },
        filters: {
            headingCase: function (value, style) {
                if (!value) {
                    return '';
                }

                if (style === 'uppercase')
                    return value.toString().toUpperCase();

                if (style === 'capitalize') {
                    return value.toString().toLowerCase().split(' ')
                        .map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
                }


                return value;
            }
        },
        methods: {
            saveApplicantCv(value) {
                this.$emit('saveApplicantCv', value);
            },
            addNew(value, $event) {
                this.$emit('addNew', value)
                $(event.target).closest(".CV").removeClass("cv-auto");
                setTimeout(() => {
                    let newData = this.lodisp.filter(dataType => {
                        if (dataType.type === value)
                            return dataType;
                    });
                    $('#' + newData.pop().idx).find('.editable')[0].focus();
                }, 0)
            },
            editSectionTitle(e) {
                if (this.canEdit) {
                    e.target.classList.add("border_bottom_black", "bg-black");
                }
            },
            saveSectionTitle(e) {
                e.target.classList.remove("border_bottom_black", "bg-black");
                let content = e.target.innerText;
                if (content === this.cvDisplaySetting.text[e.target.getAttribute('data-id')])
                    return;

                this.cvDisplaySetting.text[e.target.getAttribute('data-id')] = content;
                this.$emit('saveCvSetting');
            },
            pglines: function (thepage, section) {
                var lofilt = [];
                if (Object.keys(this.lopages).length !== this.lodisp.length) {
                    this.lopages = {};
                    for (let i in this.lodisp) {
                        this.$set(this.lopages, i, "pag1");
                    }
                    this.cvpages = [];
                    this.cvpages = ["pag1"];
                }
                for (let i in this.lodisp) {
                    let pid = this.lodisp[i].idx;
                    if (this.lodisp[i].type === section && this.lopages[pid] === thepage) {
                        lofilt.push(this.lodisp[i]);
                    }
                }
                return lofilt;
            },
            paginate: function () {
                var pg = this.$refs.pag;
                var precovered = 0,
                    prerng = 0,
                    dofirst = false;
                for (let i = 0; i < pg.length; i++) {
                    let covered = 0,
                        precovchk = 0;
                    let rng = Math.round(pg[i].$el.clientHeight * 0.95);
                    var nodes = pg[i].$el.children;
                    if (i > 0) {
                        dofirst = true;
                    }
                    for (let j = 0; j < nodes.length; j++) {
                        let tmp = pg[i].$el.children[j];
                        var lex = tmp.id;
                        covered = tmp.offsetTop + tmp.offsetHeight;
                        if (j > 0 && dofirst) {
                            precovchk += tmp.offsetHeight;
                        }
                        if (
                            dofirst &&
                            precovered + precovchk + 15 < prerng &&
                            tmp.id !== ""
                        ) {
                            dofirst = false;
                            covered -= tmp.offsetHeight;
                            precovered += tmp.offsetHeight;
                            this.lopages[lex] =
                                "pag" + (Number(this.lopages[lex].substr(3)) - 1);
                        } else if (covered > rng && lex !== "") {
                            let pex = this.cvpages.length - 1;
                            if (
                                this.cvpages[pex] === this.lopages[lex] &&
                                i + 1 === Number(this.lopages[lex].substr(3))
                            ) {
                                pex += 2;
                                this.cvpages.push("pag" + pex);
                                this.lopages[lex] = "pag" + pex;
                            } else if (i + 1 === Number(this.lopages[lex].substr(3))) {
                                let newpag = Number(this.lopages[lex].substr(3)) + 1;
                                this.lopages[lex] = "pag" + newpag;
                            }
                        }
                    }
                    precovered = covered;
                    prerng = rng;
                }
            },
            addCvAutoClass() {
                $(".CV").addClass("cv-auto");
            },
            removeCvAutoClass(e) {
                if ($(e.target).closest(".cv__editing").length === 0) {
                    $(".CV").removeClass("cv-auto");
                    this.paginate();
                }
            },
            changeSectionPosition(value) {
                this.$emit('changeSectionPosition', value)
            }
        },
        beforeMount: function () {
            for (let i in this.lodisp) {
                this.$set(this.lopages, i, "pag1");
            }
        },
        mounted: function () {
            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'));
            this.paginate();
            document.addEventListener('mouseup', this.removeCvAutoClass);
        },
        beforeDestroy() {
            document.removeEventListener('mouseup', this.removeCvAutoClass)
        },
        updated: function () {
            var remexp = true;
            var lpag = this.cvpages[this.cvpages.length - 1];
            for (let i in this.lopages) {
                if (this.lopages[i] === lpag) {
                    remexp = false;
                }
            }
            if (remexp && this.cvpages.length > 1) {
                this.cvpages.pop();
            }
            this.paginate();
        }
    };
</script>

<style scoped>
    /*@page {*/
    /*    size: A4;*/
    /*}*/

    /*.CV {*/
    /*    width: 8.27in;*/
    /*    height: 11.69in;*/
    /*    font-size: 11px;*/
    /*    font-family: "Trebuchet MS";*/
    /*    overflow: auto;*/
    /*}*/

    /*#exName {*/
    /*    font-weight: 700;*/
    /*    font-size: 30px;*/
    /*    font-family: "Segoe UI Black";*/
    /*}*/

    /*#exTitle {*/
    /*    font-weight: 300;*/
    /*}*/

    /*.exHead {*/
    /*    font-weight: 700;*/
    /*    background-color: white;*/
    /*    color: black;*/
    /*}*/

    /*.exsubhead {*/
    /*    font-style: italic;*/
    /*}*/

    /*.exsections {*/
    /*    color: white;*/
    /*    text-indent: 1cm;*/
    /*    background: linear-gradient(to right, black 40%, white 40%);*/
    /*    border-top: 5px solid lightgray;*/
    /*    margin: 0 0 1cm 0;*/
    /*    padding: 3px 0 3px 0;*/
    /*    font-family: "Segoe UI";*/
    /*}*/

    /*.laytab {*/
    /*    width: 100%;*/
    /*    border-collapse: collapse;*/
    /*    table-layout: auto;*/
    /*    background: url("https://firebasestorage.googleapis.com/v0/b/pappalpha-adef7.appspot.com/o/assets%2FPD-11001Hex.png?alt=media&token=4e01a0f4-edf3-4027-98f1-0dcadbfb848d");*/
    /*    background-position-x: 110%;*/
    /*    background-position-y: 85%;*/
    /*    background-size: 35%;*/
    /*    background-repeat: no-repeat;*/
    /*}*/

    /*.sec {*/
    /*    text-align: justify;*/
    /*    padding: 5px 1cm 5px 1cm;*/
    /*}*/

    /*.sepaper {*/
    /*    height: 0.3cm;*/
    /*}*/

    /*.extopborder {*/
    /*    page-break-before: always;*/
    /*    height: 1cm;*/
    /*    background: linear-gradient(to top, black 50%, lightgray 50%);*/
    /*    margin-bottom: 1px;*/
    /*}*/
</style>
