<template>
    <div :style="fstr">
        <template v-for="pg in cvpages">
            <v-sheet
                    :key="pg"
                    :id="pg"
                    ref="pag"
                    tile
                    flat
                    id="CVqr-ToRenderAsPDF"
                    class="CV mx-auto my-auto toRenderAsPdf sec"
                    :class="applicantCvType.currentFontFamily ? 'font-title__'+applicantCvType.currentFontFamily : 'font-title__ubuntu'"
            >
                <v-sheet v-if="pg === 'pag1'" flat tile dark class="cvHead cv-margin" :style="{color:applicantCvType.headingBackground}">
                    <table width="100%" @click.prevent="$emit('showEditClient')">
                        <tr>
                            <td width="40%" align="center">
                                <span v-if="cvDisplaySetting.selcon.indexOf('FName') >= 0" class="qrName">
                                  {{ applicant.FName + " " }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('MName') >= 0" class="qrName">
                                  {{ applicant.MName + " " }}
                                </span>
                                <span v-if="cvDisplaySetting.selcon.indexOf('LName') >= 0" class="qrName">
                                  {{ applicant.LName }}
                                </span>
                                <div class="qrinfo">{{applicant.designation }}</div>
                            </td>
                            <td width="20%" align="center">
                                <img :src="'https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=' +applicant.qrtxt"/>
                            </td>
                            <td width="40%" align="center">
                                <div v-if="cvDisplaySetting.selcon.indexOf('email') >= 0" class="qrinfo">
                                    {{ applicant.email }}
                                    <v-icon class="secondary--text" right>mdi-email</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('phnum') >= 0" class="qrinfo">
                                    {{ applicant.phnum }}
                                    <v-icon class="secondary--text" right>mdi-phone</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('addr') >= 0" class="qrinfo">
                                    {{ applicant.addr }}
                                    <v-icon class="secondary--text" right>mdi-home</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('www') >= 0" class="qrinfo">
                                    {{ applicant.www }}
                                    <v-icon class="secondary--text" right>mdi-web</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('FB') >= 0" class="qrinfo">
                                    {{ applicant.FB }}
                                    <v-icon class="secondary--text" right>mdi-facebook</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('LI') >= 0" class="qrinfo">
                                    {{ applicant.LI }}
                                    <v-icon class="secondary--text" right>mdi-linkedin</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('IG') >= 0" class="qrinfo">
                                    {{ applicant.IG }}
                                    <v-icon class="secondary--text" right>mdi-instagram</v-icon>
                                </div>
                                <div v-if="cvDisplaySetting.selcon.indexOf('dateOfBirth') >= 0" class="qrinfo">
                                    {{ applicant.date_of_birth }}
                                    <v-icon class="secondary--text" right>mdi-calendar</v-icon>
                                </div>
                            </td>
                        </tr>
                    </table>
                </v-sheet>
                <v-sheet v-if="pg != 'pag1'" class="qrtopborder"/>
                <template v-for="layout in cvDisplaySetting.layout">
                    <div v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length && cvDisplaySetting.text[layout] !== ''"
                         class="qr-section_heading cv-heading ">
                        <div
                                class="qrsections my-0 editable mx-auto"
                                :class="applicantCvType.headingFont+'_bold'"
                                :style="`color : ${applicantCvType.headingColor} !important`"
                                :key="layout"
                                :data-id="layout"
                                :contentEditable="canEdit"
                                @click.prevent="editSectionTitle"
                                @focusout="saveSectionTitle"
                        >
                            {{ cvDisplaySetting.text[layout] | headingCase(applicantCvType.headingCase)}}
                        </div>
                        <div class="cv-toolbar-card" v-if="layout !== 'obj'">
                            <v-toolbar class="cv-toolbar-card_body" height="30">
                                <div class="toolbar_title" @click="addNew(layout)">Add
                                    {{cvDisplaySetting.text[layout]}}
                                </div>
                                <div class="toolbar_button" @click="$emit('showLayout')">
                                    <v-icon color="#eee">
                                        mdi-menu
                                    </v-icon>
                                </div>
                            </v-toolbar>
                        </div>
                    </div>
                    <template v-for="line in pglines(pg, layout)">
                        <component
                                :type="line.type"
                                :key="line.idx"
                                :id="line.idx"
                                :is="line.type"
                                :data="line.data"
                                :theme="applicantCvType.currentTemplate"
                                :isCopyable="isCopyable"
                                class="componentFont cv__editing my-1"
                                @click.prevent.native="addCvAutoClass"
                                @addNew="addNew"
                                @saveApplicantCv="saveApplicantCv"
                                @showBrowseContent="$emit('showBrowseContent',true)"
                                @changeSectionPosition="changeSectionPosition"
                                v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length"
                                :class="[applicantCvType.currentFontSize + '__font',
                                         'font-title__'+applicantCvType.contentFont,
                                        'section_'+line.type]"
                        />
                    </template>
                </template>
            </v-sheet>
            <div class="sepaper d-print-none" :key="'sep' + pg"/>
        </template>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "CVqr",
        data: () => ({
            cvpages: ["pag1"],
            lopages: {},
            canEdit: true,
        }),
        components: {
            obj: () => import("../obj.vue"),
            skills: () => import("../skills.vue"),
            experience: () => import("../exper.vue"),
            vexperience: () => import("../vexper.vue"),
            education: () => import("../educ.vue"),
            certs: () => import("../certs.vue"),
            pubs: () => import("../pubs.vue"),
            interests: () => import("../inter.vue"),
            references: () => import("../refer.vue")
        },
        props: ['factor','isCopyable'],
        computed: {
            ...mapState(['applicant', 'applicantCv', 'cvDisplaySetting', 'applicantCvType']),
            fstr: function () {
                return (
                    "transform: scale(" + this.factor + "); transform-origin: top left;"
                );
            },
            lodisp: function () {
                var parr = [];
                var idx = 0;
                for (let i in this.applicantCv) {
                    if (Array.isArray(this.applicantCv[i])) {
                        for (let j in this.applicantCv[i]) {
                            parr.push({
                                type: i,
                                data: this.applicantCv[i][j],
                                idx: idx
                            });
                            idx++;
                        }
                    } else {
                        parr.push({
                            type: i,
                            data: this.applicantCv[i],
                            idx: idx
                        });
                        idx++;
                    }
                }
                return parr;
            }
        },
        filters: {
            headingCase: function (value, style) {
                if (!value) {
                    return '';
                }

                if (style === 'uppercase')
                    return value.toString().toUpperCase();

                if (style === 'capitalize') {
                    return value.toString().toLowerCase().split(' ')
                        .map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
                }


                return value;
            }
        },
        methods: {
            saveApplicantCv(value) {
                this.$emit('saveApplicantCv', value);
            },
            addNew(value, $event) {
                this.$emit('addNew', value)
                $(event.target).closest(".CV").removeClass("cv-auto");
                setTimeout(() => {
                    let newData = this.lodisp.filter(dataType => {
                        if (dataType.type === value)
                            return dataType;
                    });
                    $('#' + newData.pop().idx).find('.editable')[0].focus();
                }, 0)
            },
            editSectionTitle(e) {
                if (this.canEdit)
                    e.target.classList.add("border_bottom_black");
            },
            saveSectionTitle(e) {
                e.target.classList.remove("border_bottom_black");
                let content = e.target.innerText;
                if (content === this.cvDisplaySetting.text[e.target.getAttribute('data-id')])
                    return;

                this.cvDisplaySetting.text[e.target.getAttribute('data-id')] = content;
                this.$emit('saveCvSetting');
            },
            pglines: function (thepage, section) {
                var lofilt = [];
                if (Object.keys(this.lopages).length !== this.lodisp.length) {
                    this.lopages = {};
                    for (let i in this.lodisp) {
                        this.$set(this.lopages, i, "pag1");
                    }
                    this.cvpages = [];
                    this.cvpages = ["pag1"];
                }
                for (let i in this.lodisp) {
                    let pid = this.lodisp[i].idx;
                    if (this.lodisp[i].type === section && this.lopages[pid] === thepage) {
                        lofilt.push(this.lodisp[i]);
                    }
                }
                return lofilt;
            },
            paginate: function () {
                var pg = this.$refs.pag;
                var precovered = 0,
                    prerng = 0,
                    dofirst = false;
                for (let i = 0; i < pg.length; i++) {
                    let covered = 0,
                        precovchk = 0;
                    let rng = Math.round(pg[i].$el.clientHeight * 0.95);
                    var nodes = pg[i].$el.children;
                    if (i > 0) {
                        dofirst = true;
                    }
                    for (let j = 0; j < nodes.length; j++) {
                        let tmp = pg[i].$el.children[j];
                        var lex = tmp.id;
                        covered = tmp.offsetTop + tmp.offsetHeight;
                        if (j > 0 && dofirst) {
                            precovchk += tmp.offsetHeight;
                        }
                        if (
                            dofirst &&
                            precovered + precovchk + 15 < prerng &&
                            tmp.id !== ""
                        ) {
                            dofirst = false;
                            covered -= tmp.offsetHeight;
                            precovered += tmp.offsetHeight;
                            this.lopages[lex] =
                                "pag" + (Number(this.lopages[lex].substr(3)) - 1);
                        } else if (covered > rng && lex !== "") {
                            let pex = this.cvpages.length - 1;
                            if (
                                this.cvpages[pex] === this.lopages[lex] &&
                                i + 1 === Number(this.lopages[lex].substr(3))
                            ) {
                                pex += 2;
                                this.cvpages.push("pag" + pex);
                                this.lopages[lex] = "pag" + pex;
                            } else if (i + 1 === Number(this.lopages[lex].substr(3))) {
                                let newpag = Number(this.lopages[lex].substr(3)) + 1;
                                this.lopages[lex] = "pag" + newpag;
                            }
                        }
                    }
                    precovered = covered;
                    prerng = rng;
                }
            },
            addCvAutoClass() {
                $(".CV").addClass("cv-auto");
            },
            removeCvAutoClass(e) {
                if ($(e.target).closest(".cv__editing").length === 0) {
                    if (this.editFormId >= 0) {
                        $(".CV").removeClass("cv-auto");
                        this.paginate();
                        this.$store.commit('editFormId', null);
                    }
                }
            },
            changeSectionPosition(value) {
                this.$emit('changeSectionPosition', value)
            }
        },
        beforeMount: function () {
            for (let i in this.lodisp) {
                this.$set(this.lopages, i, "pag1");
            }
        },
        mounted: function () {
            this.paginate();
            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'));
            document.addEventListener('mouseup', this.removeCvAutoClass)
        },
        beforeDestroy() {
            document.removeEventListener('mouseup', this.removeCvAutoClass)
        },
        updated: function () {
            var remexp = true;
            var lpag = this.cvpages[this.cvpages.length - 1];
            for (let i in this.lopages) {
                if (this.lopages[i] === lpag) {
                    remexp = false;
                }
            }
            if (remexp && this.cvpages.length > 1) {
                this.cvpages.pop();
            }
            this.paginate();
        }
    };
</script>

<style scoped>
    @page {
        size: A4;
    }

    .CV {
        width: 8.37in;
        height: 11.69in;
        font-size: 11px;
        font-family: "Century Gothic";
        overflow: hidden;
    }

    .qrName {
        font-weight: 700;
        font-size: 4.5em;
        font-family: "Segoe Script";
    }

    .cvHead {
        font-weight: 700;
        padding: 1cm 1cm 0.5cm 1cm;
        background-color: white;
        color: black;
    }

    .cvSubhead {
        font-style: italic;
    }

    .qrinfo {
        font-family: "Segoe UI Light";
    }

    .qrTop {
        padding: 1cm 1cm 0.5cm 1cm;
        margin-bottom: 0.5cm;
    }

    .qrsections {
        margin: 0 0 1cm 0;
        padding: 3px 0 3px 0;
        text-align: center;
        font-size: 1.3rem;
    }

    .cpbody {
        font-weight: bold;
        font-style: italic;
    }

    .sec {
        text-align: justify;
        padding: 5px 1cm 5px 1cm;
    }

    .sepaper {
        height: 0.3cm;
    }

    .qrtopborder {
        height: 1.5cm;
    }
</style>
