<template>
    <div :style="fstr">
        <template v-for="pg in cvpages">
            <v-sheet
                    :key="pg"
                    :id="pg"
                    ref="pag"
                    tile
                    flat
                    id="ToRenderAsPDF"
                    :data-id="pg"
                    class="CV mx-auto my-auto toRenderAsPdf sec"
                    :class="applicantCvType.currentFontFamily ? 'font-title__'+applicantCvType.currentFontFamily : 'font-title__ubuntu'"
            >
                <v-sheet v-if="pg === 'pag1'" flat tile dark>
                    <div class="ca-personal-info" @click.prevent="$emit('showEditClient')">
                        <div class="ca-personal-name_section">
                            <span>{{ applicant.FName + " " }}</span> <span>{{ applicant.MName + " " }}</span> <span>{{ applicant.LName+ " " }}</span>
                        </div>
                        <div class="mb-2">
                            <ul class="ca-personal-info_social">
                                <li v-if="cvDisplaySetting.selcon.indexOf('email') >= 0">Email: {{ applicant.email }}
                                </li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('phnum') >= 0">Contact: {{ applicant.phnum}}
                                </li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('addr') >= 0">Address: {{ applicant.addr }}
                                </li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('www') >= 0">Website: {{ applicant.www }}</li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('FB') >= 0">FaceBook: {{ applicant.FB }}</li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('LI') >= 0">LinkedIn: {{ applicant.LI }}</li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('IG') >= 0">Instagram: {{ applicant.IG }}</li>
                                <li v-if="cvDisplaySetting.selcon.indexOf('dateOfBirth') >= 0">Date of Brith:
                                    {{ applicant.date_of_birth }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </v-sheet>
                <v-sheet v-if="pg !== 'pag1'" class="topborder"/>
                <template v-for="layout in cvDisplaySetting.layout">
                    <div class="cv-heading my-0" v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length">
                        <div
                                class="my-0 caSales-section_title editable"
                                :class="applicantCvType.headingFont+'_bold'"
                                :style="`color : ${applicantCvType.headingColor} !important`"
                                v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length"
                                :key="layout"
                                :data-id="layout"
                                :contentEditable="canEdit"
                                @click.prevent="editSectionTitle"
                                @focusout="saveSectionTitle"
                        >
                            {{ cvDisplaySetting.text[layout] | headingCase(applicantCvType.headingCase)}}
                        </div>
                        <div class="cv-toolbar-card" v-if="layout !== 'obj'">
                            <v-toolbar class="cv-toolbar-card_body" height="30">
                                <div class="toolbar_title" @click="addNew(layout)">Add
                                    {{cvDisplaySetting.text[layout]}}
                                </div>
                                <div class="toolbar_button" @click="$emit('showLayout')">
                                    <v-icon color="#eee">
                                        mdi-menu
                                    </v-icon>
                                </div>
                            </v-toolbar>
                        </div>
                    </div>
                    <template v-for="(line,index) in pglines(pg, layout)">
                        <component
                                :type="line.type"
                                :key="line.idx"
                                :id="line.idx"
                                :is="line.type"
                                :data="line.data"
                                :theme="applicantCvType.currentTemplate"
                                :isCopyable="isCopyable"
                                :dispic="applicant.dispic"
                                class="componentFont cv__editing my-1"
                                @click.prevent.native="addCvAutoClass"
                                @addNew="addNew"
                                @saveApplicantCv="saveApplicantCv"
                                @showBrowseContent="$emit('showBrowseContent',true)"
                                @changeSectionPosition="changeSectionPosition"
                                :class="[applicantCvType.currentFontSize + '__font',
                                         'font-title__'+applicantCvType.contentFont,
                                        'section_'+line.type]"
                                v-if="cvDisplaySetting.display[layout] && pglines(pg, layout).length"
                        />
                    </template>
                </template>
            </v-sheet>
            <div class="sepaper d-print-none" :key="'sep' + pg"/>
        </template>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "SaleOperation",
        data: () => ({
            cvpages: ["pag1"],
            lopages: {},
            canEdit: true
        }),
        components: {
            obj: () => import("../obj.vue"),
            skills: () => import("../skills.vue"),
            experience: () => import("../exper.vue"),
            vexperience: () => import("../vexper.vue"),
            education: () => import("../educ.vue"),
            certs: () => import("../certs.vue"),
            pubs: () => import("../pubs.vue"),
            interests: () => import("../inter.vue"),
            references: () => import("../refer.vue")
        },
        props: ['factor', 'isCopyable'],
        computed: {
            ...mapState(['applicant', 'applicantCv', 'cvDisplaySetting', 'applicantCvType']),
            fstr: function () {
                return (
                    "transform: scale(" + this.factor + "); transform-origin: top left;"
                );
            },
            lodisp: function () {
                let parr = [];
                let idx = 0;
                for (let i in this.applicantCv) {
                    if (Array.isArray(this.applicantCv[i])) {
                        for (let j in this.applicantCv[i]) {
                            parr.push({
                                type: i,
                                data: this.applicantCv[i][j],
                                idx: idx
                            });
                            idx++;
                        }
                    } else {
                        parr.push({
                            type: i,
                            data: this.applicantCv[i],
                            idx: idx
                        });
                        idx++;
                    }
                }
                return parr;
            }
        },
        filters: {
            headingCase: function (value, style) {
                if (!value) {
                    return '';
                }

                if (style === 'uppercase')
                    return value.toString().toUpperCase();

                if (style === 'capitalize') {
                    return value.toString().toLowerCase().split(' ')
                        .map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
                }


                return value;
            }
        },
        methods: {
            saveApplicantCv(value) {
                this.$emit('saveApplicantCv', value);
            },
            addNew(value, $event) {
                this.$emit('addNew', value)
                $(event.target).closest(".CV").removeClass("cv-auto");
                setTimeout(() => {
                    let newData = this.lodisp.filter(dataType => {
                        if (dataType.type === value)
                            return dataType;
                    });
                    $('#' + newData.pop().idx).find('.editable')[0].focus();
                }, 0)
            },
            editSectionTitle(e) {
                // if (this.canEdit)
                // e.target.classList.add("ca-section_title-edit");
            },
            saveSectionTitle(e) {
                // e.target.classList.remove("ca-section_title-edit");
                let content = e.target.innerText;
                if (content === this.cvDisplaySetting.text[e.target.getAttribute('data-id')])
                    return;

                this.cvDisplaySetting.text[e.target.getAttribute('data-id')] = content;
                this.$emit('saveCvSetting');
            },
            pglines: function (thepage, section) {
                let lofilt = [];
                if (Object.keys(this.lopages).length !== this.lodisp.length) {
                    this.lopages = {};
                    for (let i in this.lodisp) {
                        this.$set(this.lopages, i, "pag1");
                    }
                    this.cvpages = [];
                    this.cvpages = ["pag1"];
                }
                for (let i in this.lodisp) {
                    let pid = this.lodisp[i].idx;
                    if (this.lodisp[i].type === section && this.lopages[pid] === thepage) {
                        lofilt.push(this.lodisp[i]);
                    }
                }
                return lofilt;
            },
            paginate: function () {
                let pg = this.$refs.pag;
                let precovered = 0,
                    prerng = 0,
                    dofirst = false;
                for (let i = 0; i < pg.length; i++) {
                    let covered = 0,
                        precovchk = 0;
                    let rng = Math.round(pg[i].$el.clientHeight * 0.95);
                    let nodes = pg[i].$el.children;
                    if (i > 0) {
                        dofirst = true;
                    }
                    for (let j = 0; j < nodes.length; j++) {
                        let tmp = pg[i].$el.children[j];
                        let lex = tmp.id;
                        covered = tmp.offsetTop + tmp.offsetHeight;
                        if (j > 0 && dofirst) {
                            precovchk += tmp.offsetHeight;
                        }
                        if (
                            dofirst &&
                            precovered + precovchk + 15 < prerng &&
                            tmp.id !== ""
                        ) {
                            dofirst = false;
                            covered -= tmp.offsetHeight;
                            precovered += tmp.offsetHeight;
                            this.lopages[lex] =
                                "pag" + (Number(this.lopages[lex].substr(3)) - 1);

                        } else if (covered > rng && lex !== "") {
                            let pex = this.cvpages.length - 1;
                            if (
                                this.cvpages[pex] === this.lopages[lex] &&
                                i + 1 === Number(this.lopages[lex].substr(3))
                            ) {
                                pex += 2;
                                this.cvpages.push("pag" + pex);
                                this.lopages[lex] = "pag" + pex;
                            } else if (i + 1 === Number(this.lopages[lex].substr(3))) {
                                let newpag = Number(this.lopages[lex].substr(3)) + 1;
                                this.lopages[lex] = "pag" + newpag;
                            }
                        }
                    }
                    precovered = covered;
                    prerng = rng;
                }
            },
            addCvAutoClass() {
                $(".CV").addClass("cv-auto");
            },
            removeCvAutoClass(e) {
                if ($(e.target).closest(".cv__editing").length === 0) {
                    $(".CV").removeClass("cv-auto");
                    this.paginate();
                }
            },
            changeSectionPosition(value) {
                this.$emit('changeSectionPosition', value)
            }
        },
        beforeMount: function () {
            for (let i in this.lodisp) {
                this.$set(this.lopages, i, "pag1");
            }
        },
        mounted: function () {
            this.paginate();
            this.canEdit = !(this.isCopyable || this.$route.fullPath.includes('presentation'));
            document.addEventListener('mouseup', this.removeCvAutoClass)
        },
        beforeDestroy() {
            document.removeEventListener('mouseup', this.removeCvAutoClass)
        },
        updated: function () {
            let remexp = true;
            let lpag = this.cvpages[this.cvpages.length - 1];
            for (let i in this.lopages) {
                if (this.lopages[i] === lpag) {
                    remexp = false;
                }
            }
            if (remexp && this.cvpages.length > 1) {
                this.cvpages.pop();
            }
            if (!this.editFormId)
                this.paginate();
        }
    };
</script>

