<template>
    <div>
        <router-view></router-view>
        <v-snackbar
                min-width="600"
                v-model="snackWithButtons"
                :timeout="timeout"
                bottom
                class="snack"
                color="rgb(120, 159, 207)"
        >
            {{ snackWithBtnText }}
            <v-spacer/>
            <v-btn
                    color="#eee"
                    class="text-black"
                    @click.native="refreshApp"
            >
                {{ snackBtnText }}
            </v-btn>
            <v-btn
                    icon
                    @click="snackWithButtons = false"
            >
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import MediumEditor from 'medium-editor'

    import $ from "jquery";

    export default {
        name: "App",
        MediumEditor,
        data() {
            return {
                refreshing: false,
                registration: null,
                snackBtnText: '',
                snackWithBtnText: '',
                snackWithButtons: false,
                timeout: 0,
            };
        },
        created() {
            // Listen for swUpdated event and display refresh snackbar as required.
            document.addEventListener('swUpdated', this.showRefreshUI, {once: true});
            // Refresh all open app tabs when a new service worker is installed.
            navigator.serviceWorker.addEventListener('controllerchange', () => {
                if (this.refreshing) return;
                this.refreshing = true;
                window.location.reload();
            });
        },
        methods: {
            showRefreshUI(e) {
                // Display a snackbar inviting the user to refresh/reload the app due
                // to an app update being available.
                // The new service worker is installed, but not yet active.
                // Store the ServiceWorkerRegistration instance for later use.
                this.registration = e.detail;
                this.snackBtnText = 'Refresh';
                this.snackWithBtnText = 'New Update Available. Please refresh the page to pull the latest version.';
                this.snackWithButtons = true;
            },
            refreshApp() {
                this.snackWithButtons = false;
                // Protect against missing registration.waiting.
                if (!this.registration || !this.registration.waiting) {
                    return;
                }
                this.registration.waiting.postMessage('skipWaiting');
            },
        },
    };
</script>

<style scoped>
    /* Provide better right-edge spacing when using an icon button there. */
    .snack >>> .v-snack__content {
        padding-right: 16px;
    }
</style>
